﻿<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="ti-menu"></i>
            </a>
            <div class="mobile-search">
                <div class="header-search">
                    <div class="main-search morphsearch-search">
                        <div class="input-group">
                            <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Keyword">
                            <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/Home/Index">
                <img class="img-fluid" src="~/img/logo_mobile.png" style="height:50px;display:block;margin-left:100%;margin-right:100%">
            </a>
            <a class="mobile-options">
                <i class="ti-more"></i>
            </a>
        </div>

        <div class="navbar-container container-fluid">
            <ul class="nav-right">

                <li class="user-profile header-notification">
                    <a href="#!">
                        <img src="~/img/logo_mobile.png" class="img-radius" alt="User-Profile-Image">
                        <span>@SahaCraneAuction.Models.RuntimeVariable.loginuser.firstname   @SahaCraneAuction.Models.RuntimeVariable.loginuser.lastname</span>
                        <i class="ti-angle-down"></i>
                    </a>
                    <ul class="show-notification profile-notification">
                        <li>
                            <a href="@Url.Action("Logout","Backend")">
                                <i class="ti-layout-sidebar-left"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>