﻿@{
    Layout = "~/Views/Backend/_Layout.cshtml";
}
<div class="page-header card">
    <div class="card-block">
        <font-head class="m-b-10">
            จัดการส่วน หน้าเกี่ยวกับเรา
            <button type="button" class="btn btn-primary pull-right" id="btn-about">Add</button>
        </font-head>

    </div>
    <div class="card-block card-border-success" id="card-add" style="display:none">
        <form id="add-about">
            <div class="modal-body">
                <input type="text" class="form-control form-group" name="topic" placeholder="หัวข้อ" required />
                <div id="ckeditor-add">
                    <textarea name="ckeditor"></textarea><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-add" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>

    <div class="card-block card-border-primary" id="card-edit" style="display:none">
        <form id="edit-about">
            <div class="modal-body">
                <input type="text" class="form-control form-group" name="topic" placeholder="หัวข้อ" required />
                <div id="ckeditor-edit">
                    <textarea name="ckeditor_e"></textarea><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-edit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<!-- Page-body start -->
<div class="page-body">
    <div class="card" id="card-table">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>หัวข้อ</th>
                            <th>วันที่อัพ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-about">
                        @*<tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td style="white-space: nowrap; width: 1%;">
                                    <button type="button" class="tabledit-delete-button btn btn-danger btn-sm waves-effect waves-light" style="float: right;margin: 5px;">
                                        <span class="icofont icofont-ui-delete"></span>
                                    </button>
                                </td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Template/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>

<script>
    var t = CKEDITOR.replace('ckeditor');
    t.config.height = 500;
    var te = CKEDITOR.replace('ckeditor_e');
    te.config.height = 500;

    $(document).ready(function () {
        table_about();
    });

    $("#btn-about").on("click", function (e) {
        e.preventDefault();
        document.getElementById("add-about").reset();
        CKEDITOR.instances.ckeditor.setData('');
        $("#card-add").attr("style", "display:block");
        $("#card-table").attr("style", "display:none");
    });
    $("#btn-close-add").on("click", function (e) {
        e.preventDefault();
        $("#card-add").attr("style", "display:none");
        $("#card-table").attr("style", "display:block");
    });

    $("#add-about").on("submit", function (e) {
        e.preventDefault();
        var text = CKEDITOR.instances.ckeditor.getData();
        console.log(text);
        var formdata = new FormData(this);
        formdata.append('textarea', text);
        $.ajax({
            type: "POST",
            caches: false,
            contentType: false,
            processData: false,
            url: "/Backend/Add_about",
            data: formdata,
            success: function (data) {
                console.log(data);
                if (data == "success") {
                    swal({
                        title: "SUCCESS",
                        icon: "success",
                        button: false,
                        timer: 800,
                    });
                    $("#card-add").attr("style", "display:none");
                    table_about();
                    $("#card-table").attr("style", "display:block");
                } else {
                    swal({
                        title: "เกิดข้อผิดพลาด",
                        icon: "error",
                        button: false,
                        timer: 1500,
                    });
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    });

    function edit(id) {
        document.getElementById("edit-about").reset();
        document.getElementById("card-edit").style.display = "block";
        document.getElementById("card-table").style.display = "none";
        $.ajax({
            type: "POST",
            url: "/Backend/Select_about",
            data: { id },
            success: function (data) {
                $("[name*='topic']").val(data.topic);
                CKEDITOR.instances.ckeditor_e.setData(data.textarea);
                document.getElementById("ckeditor-edit").style.display = "block";

            }
        });

        $("#edit-about").on("submit", function (e) {
            e.preventDefault();
            if (id != 0) {
                var text = CKEDITOR.instances.ckeditor_e.getData();
                var formdata = new FormData(this);
                formdata.append("idabout", id);
                formdata.append("textarea", text);
                $.ajax({
                    type: "POST",
                    caches: false,
                    contentType: false,
                    processData: false,
                    url: "/Backend/Edit_about",
                    data: formdata,
                    success: function (data) {
                        if (data == "success") {
                            swal({
                                title: "SUCCESS",
                                icon: "success",
                                button: false,
                                timer: 800,
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            swal({
                                title: "เกิดข้อผิดพลาด",
                                icon: "error",
                                button: false,
                                timer: 1500,
                            });
                        }
                    }
                });
            }
        });
        $("#btn-close-edit").on("click", function (e) {
            e.preventDefault();
            id = 0;
            document.getElementById("card-edit").style.display = "none";
            document.getElementById("card-table").style.display = "block";
            CKEDITOR.instances.ckeditor_e.setData('');
        });
    };

    function del(id) {
        swal({
            title: "ต้องการลบหรือไม่",
            text: "เมื่อลบแล้วคุณจะไม่สามารถกู้คืนได้ !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Backend/Del_about",
                        data: { id },
                        success: function (data) {
                            if (data == "success") {
                                swal({
                                    title: "SUCCESS",
                                    icon: "success",
                                    button: false,
                                    timer: 800,
                                });
                                table_about();
                                $("#card-add").attr("style", "display:none");
                            } else {
                                swal({
                                    title: "เกิดข้อผิดพลาด",
                                    icon: "error",
                                    button: false,
                                    timer: 1500,
                                });
                            }
                        },
                        error: function (e) {
                            console.log("Status : " + e.statusText);
                        }
                    });

                }
            });

    }
    function table_about() {
        $("#table-about").html("");
        $.ajax({
            url: "/Backend/Table_about",
            success: function (data) {
                if (data != 0) {
                    var i = 0;
                    data.map(function (about) {
                        var DT = new Date(parseInt(about.date.substr(6)));
                        i++;
                        var table = '<tr><th scope="row">' + i + '</th>' +
                            '<td>' + about.topic + '</td>' +
                            '<td>' + dayNames[DT.getDay()] + " " + DT.getDate() + " " + monthNamesThai[DT.getMonth()] + " " + (DT.getFullYear() + 543) + '</td>' +
                            '<td style="white-space: nowrap; width: 1%;">' +
                            '<div class="btn-group btn-group-sm">' +
                            '<button type="button" onclick="edit(' + about.id + ',event)" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float:none;margin:5px;">' +
                            '<span class="icofont icofont-ui-edit"></span>' +
                            '</button>' +
                            '<button type="button" onclick="del(' + about.id + ',event)" class="tabledit-delete-button btn btn-danger waves-effect waves-light" style="float:none;margin:5px;">' +
                            '<span class="icofont icofont-ui-delete"></span>' +
                            '</button>' +
                            '</div></td></tr>';
                        $("#table-about").append(table);
                    });
                    if (i == 0) {
                        $("#table-about").html('<tr style="color:red"><td>ไม่พบข้อมูล</td></tr>');
                    }

                } else {
                    $("#table-about").html('<tr style="color:red"><td>ไม่พบข้อมูล</td></tr>');
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    };

</script>
