﻿@{
    Layout = "~/Views/Backend/_Layout.cshtml";
}
<div class="page-header card">
    <div class="card-block">
        <font-head class="m-b-10">
            จัดการส่วน Banner
            <button type="button" class="btn btn-primary pull-right" id="btn-banner">Add</button>
        </font-head>

    </div>
    <div class="card-block card-border-success" id="card-add" style="display:none">
        <form id="add-banner">
            <div class="modal-body">
                <input type="text" class="form-control form-group" name="name" placeholder="ชื่อรูปภาพ" required />
                <input type="file" class="form-control form-group" name="path" accept="image/*" required />
                <div class="form-control">
                    <h6>Link รูปภาพ</h6>
                    <button id="add-btn-link" type="button" class="btn btn-default">URL Link</button>
                    <button id="add-btn-upload" type="button" class="btn btn-default">URL Upload</button><br /><br />
                    <input id="add-link" type="text" class="form-control form-group" name="URL" placeholder="URL" style="display:none" />
                    <input id="add-upload" type="file" name="URL_upload" accept="image/*" style="display:none" />
                </div>
                <br />
                <font style="color:red">*ขนาดรูป 1920 x 669</font>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-add" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
    <div class="card-block card-border-success" id="card-edit" style="display:none">
        <form id="edit-banner">
            <div class="modal-body">
                <input type="text" class="form-control form-group" id="edit-name" name="name" placeholder="ชื่อรูปภาพ" required />
                <input type="file" class="form-control form-group" name="path" accept="image/*" />
                <div class="form-control">
                    <h6>Link รูปภาพ</h6>
                    <button id="edit-btn-link" type="button" class="btn btn-default">URL Link</button>
                    <button id="edit-btn-upload" type="button" class="btn btn-default">URL Upload</button><br /><br />
                    <input id="edit-link" type="text" class="form-control form-group" name="URL" placeholder="URL" style="display:none" />
                    <input id="edit-upload" type="file" name="URL_upload" accept="image/*" style="display:none" />
                </div>
                <br />
                <font style="color:red">*ขนาดรูป 1920 x 669</font>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-edit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<!-- Page-body start -->
<div class="page-body">
    <div class="card" id="card-table">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>รูปภาพ</th>
                            <th>ชื่อรูป</th>
                            <th>สถานะการแสดง</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-banner"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Template/files/bower_components/jquery/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        table_banner();
    });

    $("#add-btn-link").on("click", function (e) {
        e.preventDefault();
        $("input#add-upload").val('');
        $("input#add-link").attr("style", "display:block");
        $("input#add-upload").attr("style", "display:none");
    });
    $("#add-btn-upload").on("click", function (e) {
        e.preventDefault();
        $("input#add-link").val('');
        $("input#add-link").attr("style", "display:none");
        $("input#add-upload").attr("style", "display:block");
    });
    $("#edit-btn-link").on("click", function (e) {
        e.preventDefault();
        $("input#edit-upload").val('');
        $("input#edit-link").attr("style", "display:block");
        $("input#edit-upload").attr("style", "display:none");
    });
    $("#edit-btn-upload").on("click", function (e) {
        e.preventDefault();
        $("input#edit-link").val('');
        $("input#edit-link").attr("style", "display:none");
        $("input#edit-upload").attr("style", "display:block");
    });

    $("#btn-banner").on("click", function (e) {
        e.preventDefault();
        document.getElementById("add-banner").reset();
        $("#card-add").attr("style", "display:block");
        $("#card-table").attr("style", "display:none");
    });
    $("#btn-close-add").on("click", function (e) {
        e.preventDefault();
        $("#card-add").attr("style", "display:none");
        $("#card-table").attr("style", "display:block");
    });

    $("#add-banner").on("submit", function (e) {
        var formdata = new FormData(this);
        formdata.append("status", 2);
        e.preventDefault();
        $.ajax({
            type: "POST",
            caches: false,
            contentType: false,
            processData: false,
            url: "/Backend/Add_Banner",
            data: formdata,
            success: function (data) {
                if (data == "success") {
                    swal({
                        title: "SUCCESS",
                        icon: "success",
                        button: false,
                        timer: 800,
                    });
                    $("#card-add").attr("style", "display:none");
                    $("#table-banner").html("");
                    table_banner();
                    $("#card-table").attr("style", "display:block");
                } else {
                    swal({
                        title: "เกิดข้อผิดพลาด",
                        icon: "error",
                        button: false,
                        timer: 1500,
                    });
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    });
    function del(id) {
        swal({
            title: "ต้องการลบหรือไม่",
            text: "เมื่อลบแล้วคุณจะไม่สามารถกู้คืนได้ !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Backend/Del_banner",
                        data: { id },
                        success: function (data) {
                            if (data == "success") {
                                swal({
                                    title: "SUCCESS",
                                    icon: "success",
                                    button: false,
                                    timer: 800,
                                });
                                $("#table-banner").html("");
                                table_banner();
                                $("#card-add").attr("style", "display:none");
                            } else {
                                swal({
                                    title: "เกิดข้อผิดพลาด",
                                    icon: "error",
                                    button: false,
                                    timer: 1500,
                                });
                            }
                        },
                        error: function (e) {
                            console.log("Status : " + e.statusText);
                        }
                    });
                }
            });
    }
    function edit(id) {
        $("#card-edit").attr("style", "display:block");

        $("#card-table").attr("style", "display:none");
        $.ajax({
            type: "POST",
            url: "/Backend/Select_banner",
            data: { id },
            success: function (data) {
                $("#edit-name").val(data.name);
            }
        });
        $("#edit-banner").on("submit", function (e) {
            e.preventDefault();
            if (id != 0) {
                var formdata = new FormData(this);
                formdata.append("idbanner", id);
                $.ajax({
                    type: "POST",
                    caches: false,
                    contentType: false,
                    processData: false,
                    url: "/Backend/Edit_banner",
                    data: formdata,
                    success: function (data) {
                        if (data == "success") {
                            swal({
                                title: "SUCCESS",
                                icon: "success",
                                button: false,
                                timer: 800,
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            swal({
                                title: "เกิดข้อผิดพลาด",
                                icon: "error",
                                button: false,
                                timer: 1500,
                            });
                        }
                    }
                });
            }
        })

        $("#btn-close-edit").on("click", function () {
            id = 0;
            $("#card-edit").attr("style", "display:none");
            $("#card-table").attr("style", "display:block");
        });
    }

    function status_img(id, status) {
        $.ajax({
            type: "POST",
            url: "/Backend/Status_IMG",
            data: { id, status },
            success: function (data) {
                if (data == "success") {
                    if (status == 0) {
                        $("#enable" + id).addClass("btn-success");
                        $("#disable" + id).removeClass("btn-danger");
                    } else {
                        $("#disable" + id).addClass("btn-danger");
                        $("#enable" + id).removeClass("btn-success");
                    }
                }
            }
        });
    }
    function table_banner() {
        $.ajax({
            url: "/Backend/Table_Banner",
            success: function (data) {
                if (data != 0) {
                    var i = 0;
                    data.map(function (banner) {
                        if (banner.status == 2) {
                            i++;
                            var table = '<tr><th scope="row">' + i + '</th>' +
                                '<td><img src="' + banner.path + '" style="height:50px" /></td>' +
                                '<td>' + banner.name + '</td>' +
                                '<td>' +
                                '<button type="button" id="enable' + banner.id + '" onclick="status_img(' + banner.id + ',0)" class="btn btn-sm ">แสดง</button>  ' +
                                '<button type="button" id="disable' + banner.id + '" onclick="status_img(' + banner.id + ',1)" class="btn btn-sm ">ปิด</button>' +
                                '</td>' +
                                '<td style="white-space: nowrap; width: 1%;">' +
                                '<div class="btn-group btn-group-sm">' +
                                '<button type="button" onclick="edit(' + banner.id + ',event)" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-edit"></span>' +
                                '</button>' +
                                '<button type="button" onclick="del(' + banner.id + ',event)" class="tabledit-delete-button btn btn-danger waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-delete"></span>' +
                                '</button>' +
                                '</div></td></tr>';
                            $("#table-banner").append(table);

                            if (banner.status_view == 0) {
                                $("#enable" + banner.id).addClass("btn-success");
                                $("#disable" + banner.id).removeClass("btn-danger");
                            } else {
                                $("#disable" + banner.id).addClass("btn-danger");
                                $("#enable" + banner.id).removeClass("btn-success");
                            }
                        }
                    });
                    if (i == 0) {
                        $("#table-banner").html('<tr style="color:red"><td>ไม่พบข้อมูล</td></tr>');
                    }

                } else {
                    $("#table-banner").html('<tr style="color:red"><td>ไม่พบข้อมูล</td></tr>');
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    };

</script>
