﻿@{
    Layout = "~/Views/Backend/_Layout.cshtml";
}
<div class="page-header card">
    <div class="card-block">
        <font-head class="m-b-10">
            จัดการส่วน หน้าปฏิทินกิจกรรม
            <button type="button" class="btn btn-primary pull-right" id="btn-calendar">Add</button>
            @*<button type="button" class="btn btn-warning pull-right" id="btn-update" style="margin-right:5px">Update</button>*@
        </font-head>

    </div>
    <div class="card-block card-border-success" id="card-add" style="display:none">
        <form id="add-calendar">
            <div class="modal-body">
                <select class="form-control" name="status">
                    <option value="0">---- ประเภทกิจกรรม ----</option>
                    <option value="1">วันหยุดประจำเดือน</option>
                    <option value="2">กิจกรรมบริษัทประจำเดือน</option>
                    @*<option value="3">ประมูลประจำเดือน</option>*@
                </select><br />
                <input type="text" class="form-control form-group" name="topic" placeholder="หัวข้อ" required />
                <div id="ckeditor-add">
                    <textarea name="ckeditor"></textarea><br />
                </div>
                <input type="date" name="date" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-add" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>

    <div class="card-block card-border-primary" id="card-edit" style="display:none">
        <form id="edit-calendar">
            <div class="modal-body">
                <select class="form-control" name="status">
                    <option value="0">---- ประเภทกิจกรรม ----</option>
                    <option value="1">วันหยุดประจำเดือน</option>
                    <option value="2">กิจกรรมบริษัทประจำเดือน</option>
                    @*<option value="3">ประมูลประจำเดือน</option>*@
                </select><br />
                <input type="text" class="form-control form-group" name="topic" placeholder="หัวข้อ" required />
                <div id="ckeditor-edit">
                    <textarea name="ckeditor_e"></textarea><br />
                </div>
                <input type="date" name="date" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-edit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<!-- Page-body start -->
<div class="page-body">
    <div class="card" id="card-table">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ประเภท</th>
                            <th>หัวข้อกิจกรรม</th>
                            <th>วัน / เดือน / ปี</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-calendar-1">
                        @*<tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td style="white-space: nowrap; width: 1%;">
                                    <button type="button" class="tabledit-delete-button btn btn-danger btn-sm waves-effect waves-light" style="float: right;margin: 5px;">
                                        <span class="icofont icofont-ui-delete"></span>
                                    </button>
                                </td>
                            </tr>*@
                    </tbody>
                    <tbody id="table-calendar-2"></tbody>
                    <tbody id="table-calendar-3"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Template/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>

<script>
    var t = CKEDITOR.replace('ckeditor');
    t.config.height = 500;
    var te = CKEDITOR.replace('ckeditor_e');
    te.config.height = 500;

    $(document).ready(function () {
        table_calendar();
    });

    $("#btn-calendar").on("click", function (e) {
        e.preventDefault();
        document.getElementById("add-calendar").reset();
        document.getElementById("ckeditor-add").style.display = "none";
        CKEDITOR.instances.ckeditor.setData('');
        $("#card-add").attr("style", "display:block");
        $("#card-table").attr("style", "display:none");

    });
    $("#btn-close-add").on("click", function (e) {
        e.preventDefault();
        $("#card-add").attr("style", "display:none");
        $("#card-table").attr("style", "display:block");
    });

    $("[name*=status]").change(function (e) {
        e.preventDefault();
        if (this.value <= 2) {
            document.getElementById('ckeditor-add').style.display = "none";
            document.getElementById('ckeditor-edit').style.display = "none";
        } else {
            document.getElementById('ckeditor-add').style.display = "block";
            document.getElementById('ckeditor-edit').style.display = "block";
        }
    });

    $("#add-calendar").on("submit", function (e) {
        e.preventDefault();
        var text = CKEDITOR.instances.ckeditor.getData();
        console.log(text);
        var formdata = new FormData(this);
        formdata.append('textarea', text);
        $.ajax({
            type: "POST",
            caches: false,
            contentType: false,
            processData: false,
            url: "/Backend/Add_calendar",
            data: formdata,
            success: function (data) {
                if (data == "success") {
                    swal({
                        title: "SUCCESS",
                        icon: "success",
                        button: false,
                        timer: 800,
                    });
                    $("#card-add").attr("style", "display:none");
                    table_calendar();
                    $("#card-table").attr("style", "display:block");
                } else {
                    swal({
                        title: "เกิดข้อผิดพลาด",
                        icon: "error",
                        button: false,
                        timer: 1500,
                    });
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    });

    function edit(id) {
        document.getElementById("edit-calendar").reset();
        document.getElementById("card-edit").style.display = "block";
        document.getElementById("card-table").style.display = "none";
        $.ajax({
            type: "POST",
            url: "/Backend/Select_calendar",
            data: { id },
            success: function (data) {
                var DT = Date(parseInt(data.date.substr(6))).toString('mm/dd/yyyy');
                $("[name*='status']").val(data.status);
                $("[name*='topic']").val(data.topic);
                CKEDITOR.instances.ckeditor_e.setData(data.textarea);
                if (data.status <= 2) {
                    document.getElementById("ckeditor-edit").style.display = "none";
                } else {
                    document.getElementById("ckeditor-edit").style.display = "block";

                }
            }
        });

        $("#edit-calendar").on("submit", function (e) {
            e.preventDefault();
            if (id != 0) {
                var text = CKEDITOR.instances.ckeditor_e.getData();
                var formdata = new FormData(this);
                formdata.append("idcalendar", id);
                formdata.append("textarea", text);
                $.ajax({
                    type: "POST",
                    caches: false,
                    contentType: false,
                    processData: false,
                    url: "/Backend/Edit_calendar",
                    data: formdata,
                    success: function (data) {
                        if (data == "success") {
                            swal({
                                title: "SUCCESS",
                                icon: "success",
                                button: false,
                                timer: 800,
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            swal({
                                title: "เกิดข้อผิดพลาด",
                                icon: "error",
                                button: false,
                                timer: 1500,
                            });
                        }
                    }
                });
            }
        });
        $("#btn-close-edit").on("click", function (e) {
            e.preventDefault();
            id = 0;
            document.getElementById("card-edit").style.display = "none";
            document.getElementById("card-table").style.display = "block";
            CKEDITOR.instances.ckeditor_e.setData('');
        });
    }

    function del(id) {
        swal({
            title: "ต้องการลบหรือไม่",
            text: "เมื่อลบแล้วคุณจะไม่สามารถกู้คืนได้ !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Backend/Del_calendar",
                        data: { id },
                        success: function (data) {
                            if (data == "success") {
                                swal({
                                    title: "SUCCESS",
                                    icon: "success",
                                    button: false,
                                    timer: 800,
                                });
                                table_calendar();
                                $("#card-add").attr("style", "display:none");
                            } else {
                                swal({
                                    title: "เกิดข้อผิดพลาด",
                                    icon: "error",
                                    button: false,
                                    timer: 1500,
                                });
                            }
                        },
                        error: function (e) {
                            console.log("Status : " + e.statusText);
                        }
                    });

                }
            });

    }
    function table_calendar() {
        $("#table-calendar-1").html("");
        $("#table-calendar-2").html("");
        $("#table-calendar-3").html("");
        $.ajax({
            url: "/Backend/Table_calendar",
            success: function (data) {
                if (data != 0) {
                    var a = 0;
                    var b = 0;
                    var c = 0;
                    data.map(function (calendar) {
                        var DT = new Date(parseInt(calendar.date.substr(6)));
                        if (calendar.status == 1) {
                            a++;
                            var table = '<tr><th scope="row">' + a + '</th>' +
                                '<td style="color:#dc3545">วันหยุดประจำเดือน</td>' +
                                '<td>' + calendar.topic + '</td>' +
                                '<td>' + dayNames[DT.getDay()] + " " + DT.getDate() + " " + monthNamesThai[DT.getMonth()] + " " + (DT.getFullYear() + 543) + '</td>' +
                                '<td style="white-space: nowrap; width: 1%;">' +
                                '<div class="btn-group btn-group-sm">' +
                                '<button type="button" onclick="edit(' + calendar.id + ',event)" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-edit"></span>' +
                                '</button>' +
                                '<button type="button" onclick="del(' + calendar.id + ',event)" class="tabledit-delete-button btn btn-danger waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-delete"></span>' +
                                '</button>' +
                                '</div></td></tr>';
                            $("#table-calendar-1").append(table);
                        }
                        if (calendar.status == 2) {
                            b++;
                            var table = '<tr><th scope="row">' + b + '</th>' +
                                '<td style="color:#ffc107">กิจกรรมบริษัทประจำเดือน</td>' +
                                '<td>' + calendar.topic + '</td>' +
                                '<td>' + dayNames[DT.getDay()] + " " + DT.getDate() + " " + monthNamesThai[DT.getMonth()] + " " + DT.getFullYear() + '</td>' +
                                '<td style="white-space: nowrap; width: 1%;">' +
                                '<div class="btn-group btn-group-sm">' +
                                '<button type="button" onclick="edit(' + calendar.id + ',event)" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-edit"></span>' +
                                '</button>' +
                                '<button type="button" onclick="del(' + calendar.id + ',event)" class="tabledit-delete-button btn btn-danger waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-delete"></span>' +
                                '</button>' +
                                '</div></td></tr>';
                            $("#table-calendar-2").append(table);
                        }
                        //if (calendar.status == 3) {
                        //    c++;
                        //    var table = '<tr><th scope="row">' + c + '</th>' +
                        //        '<td style="color:#28a745">ประมูลประจำเดือน</td>' +
                        //        '<td>' + calendar.topic + '</td>' +
                        //        '<td>' + dayNames[DT.getDay()] + " " + DT.getDate() + " " + monthNamesThai[DT.getMonth()] + " " + DT.getFullYear() + '</td>' +
                        //        '<td style="white-space: nowrap; width: 1%;">' +
                        //        '<div class="btn-group btn-group-sm">' +
                        //        '<button type="button" onclick="edit(' + calendar.id + ',event)" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float:none;margin:5px;">' +
                        //        '<span class="icofont icofont-ui-edit"></span>' +
                        //        '</button>' +
                        //        '<button type="button" onclick="del(' + calendar.id + ',event)" class="tabledit-delete-button btn btn-danger waves-effect waves-light" style="float:none;margin:5px;">' +
                        //        '<span class="icofont icofont-ui-delete"></span>' +
                        //        '</button>' +
                        //        '</div></td></tr>';
                        //    $("#table-calendar-3").append(table);
                        //}
                    });
                    if (a == 0 && b == 0 && c == 0) {
                        $("#table-calendar-1").html('<tr style="color:red"><td>ไม่พบข้อมูล</td></tr>');
                    }

                } else {
                    $("#table-calendar-1").html('<tr style="color:red"><td>ไม่พบข้อมูล</td></tr>');
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    };

</script>
