﻿@{
    Layout = "~/Views/Backend/_Layout.cshtml";
}
<style>
    ul#file_name {
        padding: 20px;
    }

        ul#file_name li {
            display: inline-block;
            list-style-type: none;
            margin-right: -4px;
            padding: 10px;
            width: 33%;
            height: 200px;
            padding: 20px
        }

            ul#file_name li img {
                border: 3px solid #eee;
                height: 150px;
                width: 100%;
                height: 200px;
            }

    ul#file_name-edit {
        padding: 20px;
    }

        ul#file_name-edit li {
            display: inline-block;
            list-style-type: none;
            margin-right: -4px;
            padding: 10px;
            width: 33%;
            height: 220px;
            padding: 20px
        }

            ul#file_name-edit li img {
                border: 3px solid #eee;
                height: 150px;
                width: 100%;
                height: 200px;
            }

    ul#show-img {
        padding: 20px;
    }

        ul#show-img li {
            display: inline-block;
            list-style-type: none;
            width: 33%;
            height: 200px;
            padding: 20px;
        }

            ul#show-img li img {
                border: 3px solid #eee;
                width: 100%;
                height: 200px;
            }

            ul#show-img li button {
                display: block;
                margin-right: 43%;
                margin-left: 43%;
            }
</style>
<div class="page-header card">
    <div class="card-block">
        <font-head class="m-b-10">
            จัดการส่วน หน้าข่าวสาร
            <button type="button" class="btn btn-primary pull-right" id="btn-news">Add</button>
        </font-head>

    </div>
    <div class="card-block card-border-success" id="card-add" style="display:none">
        <form id="add-news">
            <div class="modal-body">
                <input type="text" class="form-control form-group" name="topic" placeholder="หัวข้อ" required />
                <font-head class="form-control form-group">
                    รูปภาพหน้าปก &nbsp;&nbsp;&nbsp;
                    <input class="file" type="file" id="img-topic-add" accept="image/*" required />
                </font-head>
                <font-head class="form-control form-group">
                    รูปภาพข่าวสาร &nbsp;&nbsp;&nbsp;
                    <input class="file" type="file" id="img-content-add" accept="image/*" multiple required>
                    <ul id="file_name"></ul>
                </font-head>
                <input type="date" name="date" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-add" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>

    <div class="card-block card-border-primary" id="card-edit" style="display:none">
        <form id="edit-news">
            <div class="modal-body">
                <input type="text" class="form-control form-group" name="topic" placeholder="หัวข้อ" required />
                <font-head class="form-control form-group">
                    รูปภาพหน้าปก &nbsp;&nbsp;&nbsp;
                    <input class="file" type="file" id="img-topic-edit" accept="image/*" />
                </font-head>
                <font-head class="form-control form-group">
                    รูปภาพข่าวสาร &nbsp;&nbsp;&nbsp;
                    <input class="file" type="file" id="img-content-edit" accept="image/*" multiple>
                    <ul id="file_name-edit"></ul>
                    <br />
                    รูปภาพ
                    <ul id="show-img"></ul>
                    @*<div>
                            <img src="#" />
                            <button type="button" onclick="del_img()" class="btn btn-danger btn-sm"><span class="ti-trash"></span></button>
                        </div>*@
                </font-head>
                <input type="date" name="date" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-edit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<!-- Page-body start -->
<div class="page-body">
    <div class="card" id="card-table">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>หัวข้อ</th>
                            <th>วัน / เดือน / ปี</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-news"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Template/files/bower_components/jquery/js/jquery.min.js"></script>

<script>
    $("#img-content-add").change(function (e) {
        e.preventDefault();
        $("#file_name").html("");
        var contents = $("#img-content-add").get(0);
        var content = contents.files;
        for (var i = 0; i < content.length; i++) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#file_name").append('<li><img id="blah" src="' + e.target.result + '" alt="your image" /></li>');
            }
            reader.readAsDataURL(contents.files[i]);
        }
    });
    $("#img-content-edit").change(function (e) {
        e.preventDefault();
        $("#file_name-edit").html("");
        $("#file_name-edit").append("(เพิ่มรูปภาพ)<br/>");
        var contents = $("#img-content-edit").get(0);
        var content = contents.files;
        for (var i = 0; i < content.length; i++) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#file_name-edit").append('<li><img id="blah" src="' + e.target.result + '" alt="your image" /></li>');
            }
            reader.readAsDataURL(contents.files[i]);
        }
    });

    $(document).ready(function () {
        table_news();
    });

    $("#btn-news").on("click", function (e) {
        e.preventDefault();
        const file = document.querySelector('.file');
        file.value = '';
        $("#card-add").attr("style", "display:block");
        $("#card-table").attr("style", "display:none");
        document.getElementById("add-news").reset();
    });
    $("#btn-close-add").on("click", function (e) {
        e.preventDefault();
        $("#card-add").attr("style", "display:none");
        $("#card-table").attr("style", "display:block");
    });

    $("#add-news").on("submit", function (e) {
        e.preventDefault();
        var formdata = new FormData(this);

        var topics = $("#img-topic-add").get(0);
        var topic = topics.files;
        for (var i = 0; i < topic.length; i++) {
            formdata.append("path_topic", topic[i]);
        }

        var contents = $("#img-content-add").get(0);
        var content = contents.files;
        for (var i = 0; i < content.length; i++) {
            formdata.append("path_content", content[i]);
        }
        $.ajax({
            type: "POST",
            caches: false,
            contentType: false,
            processData: false,
            url: "/Backend/Add_news",
            data: formdata,
            success: function (data) {
                console.log(data);
                if (data == "success") {
                    swal({
                        title: "SUCCESS",
                        icon: "success",
                        button: false,
                        timer: 800,
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                } else {
                    swal({
                        title: "เกิดข้อผิดพลาด",
                        icon: "error",
                        button: false,
                        timer: 1500,
                    });
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    });

    function edit(id) {
        $("#show-img").html("");
        const file = document.querySelector('.file');
        file.value = '';
        document.getElementById("edit-news").reset();
        document.getElementById("card-edit").style.display = "block";
        document.getElementById("card-table").style.display = "none";
        $.ajax({
            type: "POST",
            url: "/Backend/Select_news",
            data: { id },
            success: function (data) {
                $("[name*='topic']").val(data.cal.topic);
                img_edit_show(id);
            }
        });

        $("#edit-news").on("submit", function (e) {
            e.preventDefault();
            if (id != 0) {
                var formdata = new FormData(this);
                formdata.append("idnews", id);


                var topics = $("#img-topic-edit").get(0);
                var topic = topics.files;
                for (var i = 0; i < topic.length; i++) {
                    formdata.append("path_topic", topic[i]);
                }

                var contents = $("#img-content-edit").get(0);
                var content = contents.files;
                for (var i = 0; i < content.length; i++) {
                    formdata.append("path_content", content[i]);
                }

                $.ajax({
                    type: "POST",
                    caches: false,
                    contentType: false,
                    processData: false,
                    url: "/Backend/Edit_news",
                    data: formdata,
                    success: function (data) {
                        if (data == "success") {
                            swal({
                                title: "SUCCESS",
                                icon: "success",
                                button: false,
                                timer: 800,
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            swal({
                                title: "เกิดข้อผิดพลาด",
                                icon: "error",
                                button: false,
                                timer: 1500,
                            });
                        }
                    }
                });
            }
        });
        $("#btn-close-edit").on("click", function (e) {
            e.preventDefault();
            id = 0;
            document.getElementById("card-edit").style.display = "none";
            document.getElementById("card-table").style.display = "block";
        });
    };
    function img_edit_show(id) {
        $.ajax({
            type: "POST",
            url: "/Backend/Select_news",
            data: { id },
            success: function (data) {
                if (data != 0) {
                    data.content.map(function (content) {
                        var img = '<li><img src="' + content.path + '" />' +
                            '<br/><button type="button" onclick="del_img(' + content.id + ',' + content.id_news + ')" class="btn btn-danger btn-sm"><span class="ti-trash"></span></button></li>';

                        $("#show-img").append(img);
                    });
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    }
    function del_img(id, id_news) {
        $.ajax({
            type: "POST",
            url: "/Backend/Del_content",
            data: { id },
            success: function (data) {
                if (data == "success") {
                    $("#show-img").html("");
                    img_edit_show(id_news);
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    }


    function del(id) {
        swal({
            title: "ต้องการลบหรือไม่",
            text: "เมื่อลบแล้วคุณจะไม่สามารถกู้คืนได้ !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Backend/Del_news",
                        data: { id },
                        success: function (data) {
                            if (data == "success") {
                                swal({
                                    title: "SUCCESS",
                                    icon: "success",
                                    button: false,
                                    timer: 800,
                                });
                                table_news();
                                $("#card-add").attr("style", "display:none");
                            } else {
                                swal({
                                    title: "เกิดข้อผิดพลาด",
                                    icon: "error",
                                    button: false,
                                    timer: 1500,
                                });
                            }
                        },
                        error: function (e) {
                            console.log("Status : " + e.statusText);
                        }
                    });
                }
            });

    }
    function table_news() {
        $("#table-news").html("");
        $.ajax({
            url: "/Backend/Table_news",
            success: function (data) {
                if (data != 0) {
                    var i = 0;
                    data.map(function (news) {
                        var DT = new Date(parseInt(news.date.substr(6)));
                        i++;
                        var table = '<tr><th scope="row">' + i + '</th>' +
                            '<td>' + news.topic + '</td>' +
                            '<td>' + dayNames[DT.getDay()] + " " + DT.getDate() + " " + monthNamesThai[DT.getMonth()] + " " + (DT.getFullYear() + 543) + '</td>' +
                            '<td style="white-space: nowrap; width: 1%;">' +
                            '<div class="btn-group btn-group-sm">' +
                            '<button type="button" onclick="edit(' + news.id + ',event)" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float:none;margin:5px;">' +
                            '<span class="icofont icofont-ui-edit"></span>' +
                            '</button>' +
                            '<button type="button" onclick="del(' + news.id + ',event)" class="tabledit-delete-button btn btn-danger waves-effect waves-light" style="float:none;margin:5px;">' +
                            '<span class="icofont icofont-ui-delete"></span>' +
                            '</button>' +
                            '</div></td></tr>';
                        $("#table-news").append(table);
                    });
                    if (i == 0) {
                        $("#table-news").html('<tr style="color:red"><td>ไม่พบข้อมูล</td></tr>');
                    }

                } else {
                    $("#table-news").html('<tr style="color:red"><td>ไม่พบข้อมูล</td></tr>');
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    };

</script>
