﻿@{
    Layout = "~/Views/Backend/_Layout.cshtml";
}
<div class="page-header card">
    <div class="card-block">
        <font-head class="m-b-10">
            จัดการส่วน admin
            <button type="button" id="btn-admin" class="btn btn-primary pull-right">Add</button>
        </font-head>
        <br />
        <form id="add-admin" style="display:none">
            <div class="modal-body">
                <input type="text" class="form-control form-group" name="username" placeholder="Username" />
                <input type="password" class="form-control form-group" name="password" placeholder="Password" />
                <input type="text" class="form-control form-group" name="firstname" placeholder="Firstname" />
                <input type="text" class="form-control form-group" name="lastname" placeholder="Lastname" />
                <input type="email" class="form-control form-group" name="email" placeholder="Email" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-admin-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<div id="card-edit" class="page-body card" style="display:none">
    <div class="card-block">
        <h5 class="m-b-10">
            แก้ไขข้อมูล
        </h5>
        <form id="edit-admin">
            <div class="modal-body">
                <input type="text" id="edit-id" class="form-control form-group" name="id" hidden />
                <input type="text" id="edit-username" class="form-control form-group" name="username" placeholder="Username" />
                <input type="password" id="edit-password" class="form-control form-group" name="password" placeholder="Password" />
                <input type="text" id="edit-firstname" class="form-control form-group" name="firstname" placeholder="Firstname" />
                <input type="text" id="edit-lastname" class="form-control form-group" name="lastname" placeholder="Lastname" />
                <input type="email" id="edit-email" class="form-control form-group" name="email" placeholder="Email" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-edit-admin-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
<!-- Page-body start -->
<div id="card-table" class="page-body">
    <!-- Basic table card start -->
    <div class="card">
        @*<div class="card-header">
                <h5>Basic Table</h5>
                <span>use class <code>table</code> inside table element</span>
            </div>*@
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อ - นามสกุล</th>
                            <th>Username</th>
                            <th>หน้าแรก</th>
                            <th>เกี่ยวกับเรา</th>
                            <th>วิธีการประมูล</th>
                            <th>ข่าวสาร</th>
                            <th>ติดต่อเรา</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-admin">
                        @*<tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td style="white-space: nowrap; width: 1%;">
                                    <button type="button" class="tabledit-delete-button btn btn-danger btn-sm waves-effect waves-light" style="float: right;margin: 5px;">
                                        <span class="icofont icofont-ui-delete"></span>
                                    </button>
                                </td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Template/files/bower_components/jquery/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        table_admin();
    });

    $("#btn-admin").on("click", function (e) {
        document.getElementById("add-admin").style.display = "block";
    });
    $("#btn-admin-close").on("click", function (e) {
        document.getElementById("add-admin").style.display = "none";
    });

    $("#add-admin").on("submit", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            caches: false,
            contentType: false,
            processData: false,
            url: "/Backend/Add_Admin",
            data: new FormData(this),
            success: function (data) {
                if (data == "success") {
                    swal({
                        title: "SUCCESS",
                        icon: "success",
                        button: false,
                        timer: 800,
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                } else {
                    swal({
                        title: "มีชื่อผู้ใช้นี้แล้ว",
                        icon: "error",
                        button: false,
                        timer: 1500,
                    });
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    });

    function edit_admin(id) {
        document.getElementById("card-table").style.display = "none";
        document.getElementById("card-edit").style.display = "block";
        $.ajax({
            type: "POST",
            url: "/Backend/Data_Edit_Admin",
            data: { id },
            success: function (data) {
                $("#edit-id").val(data.id);
                $("#edit-username").val(data.username);
                $("#edit-password").val(data.password);
                $("#edit-firstname").val(data.firstname);
                $("#edit-lastname").val(data.lastname);
                $("#edit-email").val(data.email);


                $("#edit-admin").on("submit", function (e) {
                    e.preventDefault();
                    if (id != 0) {
                        var formdata = new FormData(this);
                        formdata.append("idaccount", id);
                        $.ajax({
                            type: "POST",
                            caches: false,
                            contentType: false,
                            processData: false,
                            url: "/Backend/Edit_Admin",
                            data: formdata,
                            success: function (data) {
                                if (data == "success") {
                                    swal({
                                        title: "SUCCESS",
                                        icon: "success",
                                        button: false,
                                        timer: 800,
                                    });
                                    setTimeout(function () {
                                        location.reload();
                                    }, 1000);
                                } else {
                                    swal({
                                        title: "มีชื่อผู้ใช้นี้แล้ว",
                                        icon: "error",
                                        button: false,
                                        timer: 1500,
                                    });
                                }
                            },
                            error: function (e) {
                                console.log("Status : " + e.statusText);
                            }
                        });
                    }
                });
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });

        $("#btn-edit-admin-close").on("click", function (e) {
            id = 0;
            document.getElementById("card-table").style.display = "block";
            document.getElementById("card-edit").style.display = "none";
        });
    }

    function del_admin(id) {
        swal({
            title: "ต้องการลบหรือไม่",
            text: "เมื่อลบแล้วคุณจะไม่สามารถกู้คืนได้ !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Backend/Del_Admin",
                        data: { id },
                        success: function (data) {
                            if (data == "success") {
                                swal({
                                    title: "SUCCESS",
                                    icon: "success",
                                    button: false,
                                    timer: 800,
                                });
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            } else {
                                swal({
                                    title: "เกิดข้อผิดพลาด",
                                    icon: "error",
                                    button: false,
                                    timer: 1500,
                                });
                            }
                        },
                        error: function (e) {
                            console.log("Status : " + e.statusText);
                        }
                    });

                }
            });


    }

    function table_admin() {
        $.ajax({
            url: "/Backend/Table_Admin",
            success: function (data) {
                if (data != 0) {
                    var i = 0;
                    data.map(function (admin) {
                        if (@SahaCraneAuction.Models.RuntimeVariable.loginuser.idaccount != admin.id) {
                            i++;
                            var table = '<tr><th scope="row">' + i + '</th>' +
                                '<td>' + admin.firstname + ' ' + admin.lastname + '</td>' +
                                '<td>' + admin.username + '</td>' +
                                '<td><div class="checkbox-fade fade-in-primary">' +
                                '<label><input type="checkbox" onclick="first(' + admin.id + ')" id="p-first' + admin.id + '" value="1">' +
                                '<span class="cr">' +
                                '<i class="cr-icon icofont icofont-ui-check txt-primary"></i>' +
                                '</span>' +
                                '</label></div></td>' +
                                '<td><div class="checkbox-fade fade-in-primary">' +
                                '<label><input type="checkbox" onclick="about(' + admin.id + ')"  id="p-about' + admin.id + '" value="2">' +
                                '<span class="cr">' +
                                '<i class="cr-icon icofont icofont-ui-check txt-primary"></i>' +
                                '</span>' +
                                '</label></div></td>' +
                                '<td><div class="checkbox-fade fade-in-primary">' +
                                '<label><input type="checkbox" onclick="auction(' + admin.id + ')"  id="p-auction' + admin.id + '" value="3">' +
                                '<span class="cr">' +
                                '<i class="cr-icon icofont icofont-ui-check txt-primary"></i>' +
                                '</span>' +
                                '</label></div></td>' +
                                '<td><div class="checkbox-fade fade-in-primary">' +
                                '<label><input type="checkbox" onclick="news(' + admin.id + ')"  id="p-news' + admin.id + '" value="4">' +
                                '<span class="cr">' +
                                '<i class="cr-icon icofont icofont-ui-check txt-primary"></i>' +
                                '</span>' +
                                '</label></div></td>' +
                                '<td><div class="checkbox-fade fade-in-primary">' +
                                '<label><input type="checkbox" onclick="contact(' + admin.id + ')"  id="p-contact' + admin.id + '" value="5">' +
                                '<span class="cr">' +
                                '<i class="cr-icon icofont icofont-ui-check txt-primary"></i>' +
                                '</span>' +
                                '</label></div></td>' +

                                '<td style="white-space: nowrap; width: 1%;">' +
                                '<div class="btn-group btn-group-sm">' +
                                '<button type="button" onclick="edit_admin(' + admin.id + ',event)" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-edit"></span>' +
                                '</button>' +
                                '<button type="button" onclick="del_admin(' + admin.id + ',event)" class="tabledit-delete-button btn btn-danger waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-delete"></span>' +
                                '</button>' +
                                '</div></td></tr>';

                            $("#table-admin").append(table);
                        } else {
                            i++;
                            var table = '<tr><th scope="row">' + i + '</th>' +
                                '<td>' + admin.firstname + ' ' + admin.lastname + '</td>' +
                                '<td>' + admin.username + '</td>' +
                                '<td></td>' +
                                '<td></td>' +
                                '<td></td>' +
                                '<td></td>' +
                                '<td></td>' +
                                '<td style="white-space: nowrap; width: 1%;">' +
                                '<div class="btn-group btn-group-sm">' +
                                '<button type="button" onclick="edit_admin(' + admin.id + ',event)" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float:none;margin:5px;">' +
                                '<span class="icofont icofont-ui-edit"></span>' +
                                '</button>' +
                                '</div></td></tr>';

                            $("#table-admin").append(table);
                        }

                        var p_arr = admin.position.split(',');
                        p_arr.map(function (data) {
                            if (data == "1")
                                $("#p-first" + admin.id).attr("checked", "checked");
                            else if (data == "2")
                                $("#p-about" + admin.id).attr("checked", "checked");
                            else if (data == "3")
                                $("#p-auction" + admin.id).attr("checked", "checked");
                            else if (data == "4")
                                $("#p-news" + admin.id).attr("checked", "checked");
                            else if (data == "5")
                                $("#p-contact" + admin.id).attr("checked", "checked");

                        });
                    });
                    if (i == 0) {
                        $("#table-admin").html('<tr><td><font style="color:red">ไม่พบข้อมูล</font></td></tr>');
                    }
                }
                else {
                    $("#table-admin").html('<tr><td><font style="color:red">ไม่พบข้อมูล</font></td></tr>');
                }
            },
            error: function (e) {
                console.log("Status : " + e.statusText);
            }
        });
    }


    function first(id) {
        console.log(id);
        $.ajax({
            type: "post",
            url: "/Backend/ChangePosition",
            data: { id, status: 1 },
            success: function (data) {
                console.log("success" + data);
            }
        });
    }
    function about(id) {
        $.ajax({
            type: "post",
            url: "/Backend/ChangePosition",
            data: { id, status: 2 },
            success: function (data) {
                console.log("success" + data);
            }
        });
    }
    function auction(id) {
        $.ajax({
            type: "post",
            url: "/Backend/ChangePosition",
            data: { id, status: 3 },
            success: function (data) {
                console.log("success" + data);
            }
        });
    }
    function news(id) {
        $.ajax({
            type: "post",
            url: "/Backend/ChangePosition",
            data: { id, status: 4 },
            success: function (data) {
                console.log("success" + data);
            }
        });
    }
    function contact(id) {
        $.ajax({
            type: "post",
            url: "/Backend/ChangePosition",
            data: { id, status: 5 },
            success: function (data) {
                console.log("success" + data);
            }
        });
     }

</script>