﻿<!doctype html>
<html lang="th">
<head>
    <title>SAHA CRANE Auction - About</title>
    @{
        Html.RenderPartial("~/Views/Home/inc_header.cshtml");
    }
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Home/inc_navbar.cshtml");
    }
    <div class="bg-deepGray">
        <div class="container-fluid pb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/index"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">เกี่ยวกับเรา</li>
                </ol>
            </nav>
            <h2 class="text-center text-white pb-5">เกี่ยวกับเรา</h2>
        </div>
    </div>
    <div class="bg-white">
        <div class="container py-5 text-center">
            <h3 class="font-weight-medium text-center" id="about_head-topic">บริการของเรา สหเครน อ๊อกชั่น (ประมูลรถยนต์และจักรยานยนต์)</h3>
            <div id="about_head-content"></div>
            @*<p class="text-center">ก่อตั้งขึ้นในปี พ.ศ.2558 ดำเนินธุรกิจจัดการประมูลรถยนต์และรถจักรยานยนต์ใช้แล้วขายทอดตลาดของสถาบันการเงินและกลุ่มบริษัทรถเช่าของบริษัทต่างๆ ได้เปิดประมูลครั้งแรกในวันจันทร์ที่ 29 มิถุนายน2558 เป็นต้นมา บริษัท สหเครน อ๊อกชั่น จำกัด ตั้งอยู่ที่ เลขที่ 309 หมู่ที่ 3 ถนนบางนา-ตราด กม.54 ต. คลองตำ-หรุ อ. เมืองชลบุรี จ.ชลบุรี 20000 บนเนื้อที่กว่า 45 ไร่ เป็นพื้นที่ถมแล้วเทปูนซีเมนต์และรั้วกำแพงที่แน่นหนาพร้อมด้วยระบบความปลอดภัยต่างๆ</p>
                <img src="~/Template_saha/images/image006.png" class="mw-100">
                <p class="mb-0"><b>อาคารและสถานที่จัดการประมูล</b></p>
                <p>บริษัท สหเครน อ๊อกชั่น จำกัด ตั้งอยู่บนพื้นที่ 45 ไร่ พื้นที่กว้างขวาง สามารถจอดรถยนต์ ได้พันกว่าคัน สามารถจัดกิจกรรมการประมูล ได้มากกว่า 2 เลน</p>*@
        </div>
    </div>
    <div class="bg-lightGgray">
        <div class="container py-5 text-center" id="about_head-img">
            @*<a href="~/Template_saha/images/image007.jpg" data-fancybox="images" data-caption="เวทีประมูล">
                    <img src="~/Template_saha/images/image007.jpg" class="mw-100 galleryImg" />
                </a>
                <a href="~/Template_saha/images/image008.jpg" data-fancybox="images" data-caption="ห้องลงทะเบียน">
                    <img src="~/Template_saha/images/image008.jpg" class="mw-100 galleryImg" />
                </a>
                <a href="~/Template_saha/images/image009.jpg" data-fancybox="images" data-caption="อาคารประมูล">
                    <img src="~/Template_saha/images/image009.jpg" class="mw-100 galleryImg" />
                </a>
                <a href="~/Template_saha/images/image010.jpg" data-fancybox="images" data-caption="ลานประมูล สถานที่จัดเรียงรถ">
                    <img src="~/Template_saha/images/image010.jpg" class="mw-100 galleryImg" />
                </a>
                <a href="~/Template_saha/images/image015.jpg" data-fancybox="images" data-caption="ลานจอดรถจักรยานยนต์ และ รถบรรทุก(1)">
                    <img src="~/Template_saha/images/image015.jpg" class="mw-100 galleryImg" />
                </a>
                <a href="~/Template_saha/images/image012.jpg" data-fancybox="images" data-caption="ลานจอดรถจักรยานยนต์ และ รถบรรทุก(2)">
                    <img src="~/Template_saha/images/image012.jpg" class="mw-100 galleryImg" />
                </a>
                <a href="~/Template_saha/images/image013.jpg" data-fancybox="images" data-caption="ห้องอาหาร และ ลานประมูล">
                    <img src="~/Template_saha/images/image013.jpg" class="mw-100 galleryImg" />
                </a>*@
        </div>
    </div>
    <div class="bg-white" id="bg-about">
        <div class="container py-5">
            <ul class="nav nav-pills mb-3 about-tab" id="pills-tab" role="tablist">
                @*<li class="nav-item">
                        <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">ขั้นตอนการจัดการประมูล</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">ด้านการตลาด</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">ด้านการประกันภัย และความรับผิดชอบ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false">ความร่วมมือระหว่างบริษัทฯ และผู้ส่งรถยนต์ (Consignor)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-5-tab" data-toggle="pill" href="#pills-5" role="tab" aria-controls="pills-5" aria-selected="false">การสร้างความพึงพอใจให้กับผู้ซื้อ (Buyer)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-6-tab" data-toggle="pill" href="#pills-6" role="tab" aria-controls="pills-6" aria-selected="false">กฎระเบียบการประมูล (ผู้ประมูล)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-7-tab" data-toggle="pill" href="#pills-7" role="tab" aria-controls="pills-7" aria-selected="false">เงื่อนไขในการส่งรถเข้าประมูล (ผู้ส่งสินค้า)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-8-tab" data-toggle="pill" href="#pills-8" role="tab" aria-controls="pills-8" aria-selected="false">สถานที่จัดเก็บรถ</a>
                    </li>*@
            </ul>
            <div class="tab-content" id="pills-tabContent">
                @*<div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <h4 class="nlinexx">ขั้นตอนการจัดการประมูล</h4>
                        <p class="font-weight-medium mb-0">ดำเนินการจัดการประมูล</p>
                        <p>รถยนต์ที่เข้าประมูลทุกคันต้องได้รับการล้างทำความสะอาดเสียก่อนทางบริษัทฯถึงจะจัดให้เข้าเลนประมูลตามที่ผู้ส่งสั่งเป็นคันๆไป หากรถคันดังกล่าวเป็นรถที่ขับเคลื่อนไม่ได้ทางบริษัทฯจะทำการขายทอดตลาดตามสภาพ</p>
                        <div class="list-about">1. การตรวจรับ</div>
                        <ul>
                            <li>ในกรณีบริษัทฯเป็นผู้ไปรับรถจากลานจอดรถยนต์ของผู้ส่ง เจ้าหน้าที่ของบริษัทฯจะทำการตรวจรับรถยนต์ ณ ลานจอดรถยนต์ของผู้ส่ง เมื่อตรวจเสร็จแล้วเจ้าหน้าที่ของบริษัทฯจะออกใบรับรถยนต์ให้แก่ผู้ส่งทันที</li>
                            <li>ในกรณีผู้ส่งเป็นผู้ขนย้ายรถยนต์มาเองโดยเป็นเจ้าหน้าที่ทีมยึด ทางบริษัทฯจะมีเจ้าหน้าที่รอตรวจรับรถยนต์ ณ ลานประมูลหรือลานสต๊อกจัดเก็บรถยนต์ตลอด 24 ชั่วโมง</li>
                        </ul>
                        <div class="list-about">2. การตรวจสภาพ</div>
                        <p class="mb-1">ทางบริษัทฯมีเจ้าหน้าที่ตรวจรถยนต์ โดยดำเนินการดังนี้</p>
                        <ul>
                            <li>ตรวจสภาพรถยนต์ว่ามี การชน น้ำท่วม มีการซ่อมแก้ไขดัดแปรงระบบโครงสร้างหลักของตัวรถหรือแซสซี ว่ายังอยู่ในสภาพปกติหรือไม่ปกติและแจ้งผลให้ผู้ส่งทราบตามความเป็นจริงเพื่อจะประเมินราคาขายต่อไป</li>
                        </ul>
                        <div class="alert alert-danger" role="alert">
                            <b>ในกรณีเป็นรถยึด</b>
                            <ul class="mb-0">
                                <li>รถยนต์ที่ถูกตรวจสภาพแล้ว เจ้าหน้าที่ของบริษัทฯ นำรถไปจอดเก็บไว้ รอผู้ส่งแจ้งเข้าประมูลหรือรอไถ่ถอน</li>
                                <li>รถยนต์ที่ถูกตรวจสภาพแล้ว หากมีบางคันที่ยังไม่สมบูรณ์ไม่สามารถขับเคลื่อนได้ เป็นรถ ที่มีความจำเป็นต้องปรับปรุงซ่อมแซม อาทิเช่น รถที่ยกมาไม่มีกุญแจแต่สภาพสมบูรณ์ เมื่อทำกุญแจแล้วน่าจะขับเคลื่อนได้ ทางบริษัทฯจะทำการตรวจสอบและแจ้งให้ผู้ส่งรับทราบและรอดำเนินการตามคำสั่งของผู้ส่ง</li>
                            </ul>
                        </div>
                        <div class="list-about">3. ดำเนินการจัดการประมูล</div>
                        <ul>
                            <li>กรณีที่ผู้ส่งให้เปิดราคาเริ่มต้นที่ราคาขั้นต่ำ ทางโฆษก(Announcer)จะเริ่มประกาศราคาขั้นต่ำที่กำหนดให้เป็นราคาเปิดประมูล ผู้ให้ราคาสูงสุดเป็นผู้ชนะการประมูลถ้าไม่มีผู้ประมูลก็จะให้ผู้ประมูลฝากราคาไว้เพื่อให้ผู้ส่งเป็นผู้พิจารณาหลังจากแจ้งผ่านรถยนต์คันดังกล่าวไป</li>
                            <li>กรณีที่ผู้ส่งไม่ให้เปิดราคาเริ่มต้นที่ราคาขั้นต่ำ ทางโฆษก(Announcer)จะให้ผู้ประมูลเสนอราคาแข่งขันกัน เมื่อถึงราคาขั้นต่ำก็จะเริ่มการประมูล กรณีที่ไม่มีผู้ประมูลเสนอราคาหรือเสนอราคาไม่ถึงราคาขั้นต่ำ โฆษกจะประกาศผ่านรถยนต์รายการนี้ไป และจะแจ้งให้ผู้ส่งทราบว่าราคาสุดท้ายที่ผู้ประมูลเสนอมานั้นอยู่ที่ราคาเท่าไหร่</li>
                        </ul>
                        <div class="list-about">4. แจ้งยอดขายและโอนเงิน</div>
                        <ul>
                            <li>เมื่อดำเนินการประมูลเสร็จสิ้นแล้ว ทางบริษัทฯจะเรียกเก็บค่าสินค้าจากลูกค้าให้ชำระเต็มจำนวน ภายในเวลา 3 วันนับจากวันประมูล</li>
                            <li>เมื่อลูกค้าหรือผู้ชนะการประมูลชำระเงินครบถ้วนแล้ว ทางบริษัทฯจะแจ้งรายการขายให้กับผู้ส่งประมูลรับทราบ เพื่อที่ผู้ส่งจะได้ดำเนินการจัดเตรียมเอกสารต่างๆสำหรับรถยนต์คันดังกล่าวที่ได้ถูกประมูลไป</li>
                            <li>ในกรณีที่ผู้ชนะการประมูล ผิดสัญญาไม่มาจ่ายส่วนที่เหลือ 90% ภายใน 3 วันทำการ เงินมัดจำ 10% ที่ทางผู้จัดการประมูลเก็บมัดจำในวันที่ประมูลนั้นถูกโอนให้ผู้ส่งสินค้าภายใน 3 วันทำการที่ผู้จัดการประมูลตรวจสอบได้หลังจากนั้นผู้จัดการประมูลจะดำเนินการตามกฎหมายกับผู้ชนะการประมูลรายดังกล่าวที่ผิดสัญญาต่อไป</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                        <h4 class="nlinexx">ด้านการตลาด</h4>
                        <p class="font-weight-medium mb-0">กลุ่มลูกค้าเป้าหมาย แบ่งออกเป็น 3 กลุ่ม</p>
                        <ol>
                            <li>กลุ่มลูกค้าผู้ซื้อขาย (Trader) กลุ่มนี้ได้แก่เต้นที่ขายรถยนต์หรือผู้ประกอบการทางด้านขายรถยนต์มือสอง กลุ่มนี้มีจำนวนมากมีทุกจังหวัดทั่วประเทศ</li>
                            <li>กลุ่มลูกค้าผู้ซื้อไปใช้ (End User) เนื่องจากบริษัทฯ มีพื้นที่ตั้งใกล้กับนิคมอุตสาหกรรมอมตะนคร ซึ่งมีพนักงานในนิคมฯ มีไม่น้อยกว่าแสนคน และกลุ่มพนักงานที่มีเงินเดือน คาดว่าน่าจะมีเป็นหมื่นคน ดังนั้นบริษัทฯจึงเน้นกลุ่มนี้เป็นกลุ่มลูกค้าผู้ซื้อเอาไปใช้เอง โดยจะมีไฟแนนซ์ หรือสถาบันการปล่อยสินเชื่อเช่าซื้อรถยนต์มือสองมารองรับต่อไป</li>
                            <li>กลุ่มลูกค้าประมูลเครื่องจักร (Machine Customer) บริษัทมีลูกค้ากลุ่มนี้อยู่แล้วเกือบ 1,000 ราย คาดว่าน่าจะเป็นลูกค้าที่เข้ามาประมูลรถยนต์ด้วย</li>
                        </ol>
                        <div class="list-about">แผนการตลาด</div>
                        <ol>
                            <li>
                                <b>แผนสร้างฐานข้อมูลลูกค้า</b>
                                <ul>
                                    <li>ลูกค้าที่มีรายชื่อและเบอร์โทรศัพท์ โทรสอบถามและบันทึกเข้าระบบ เพื่อทำการส่งโบรชัวร์ SMS เชิญชวนและโทรติดตาม</li>
                                </ul>
                            </li>
                            <li>
                                <b>แผนประชาสัมพันธ์ใบปลิว</b>
                                <ul>
                                    <li>ส่ง ART WORK, พิมพ์ใบปลิวให้กับทางโรงพิมพ์</li>
                                    <li>แจกใบปลิวให้กับกลุ่มลูกค้าเต็นท์รถและกลุ่มลูกค้าที่ประมูลกับผู้จัดประมูลรายอื่น</li>
                                </ul>
                            </li>
                            <li>
                                <b>แผนประชาสัมพันธ์ผ่านนิตยสาร ตลาดรถมือสอง</b>
                                <ul>
                                    <li>ส่ง ART WORK ให้กับทางสำนักพิมพ์นิตยสาร ตลาดรถมือสอง</li>
                                    <li>ลูกค้ากลุ่มผู้ที่สนใจรถมือสองจะได้รับข่าวสารจากนิตยสาร</li>
                                </ul>
                            </li>
                            <li>
                                <b>แผนโปรโมชั่นส่วนลดค่าดำเนินการ</b>
                                <div class="alert alert-warning mb-3">
                                    <h6>โปรโมชั่นรถยนต์</h6>
                                    <p>โปรโมชั่นรถยนต์ ประมูลได้ 2 คัน ขึ้นไป ค่าน้ำมันคันละ 300 บาท <span class="text-danger">โปรโมชั่นสิ้นสุด 30 เมษายน</span></p>
                                </div>
                                <div class="alert alert-warning mb-3">
                                    <h6>โปรโมชั่นรถจักรยานยนต์</h6>
                                    <p>โปรโมชั่นรถจักรยานยนต์ ประมูลได้ 10 คัน ขึ้นไป จัดส่งฟรี <span class="text-danger">**หมายเหตุ ระยะไม่เกิน 200 กม. วัดจาก google map ** โปรโมชั่นสิ้นสุด 30 เมษายน</span></p>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                        <h4 class="nlinexx">ด้านการประกันภัย และความรับผิดชอบ</h4>
                        <b>บริษัทได้ทำประกันภัยกับ บริษัทเมืองไทยประกันภัย จำกัด (มหาชน) โดยมีเงื่อนไขดังนี้</b>
                        <ol>
                            <li>สิ่งปลูกสร้างและทรัพย์สินอื่นๆของผู้ประกันภัย ทุนประกันภัย 115,000,000</li>
                            <li>สต็อกรถยนต์ และทรัพย์สินอื่นๆที่อยู่ในความดูแลของผู้ประกันภัย ทุนประกันภัย 20,000,000 บาท</li>
                        </ol>
                        <b>การขยายความคุ้มครองเพิ่มเติม</b>
                        <p>ความรับผิดชอบรถยนต์ ที่อยู่ในระหว่างการขนย้าย วงเงินจำกัดความรับผิดไม่เกิน 1,000,000 บาท ต่อครั้งและตลอดระยะเวลาเอาประกันภัยความรับผิดชอบของบริษัทฯ ต่อทรัพย์สินของผู้ส่ง</p>
                        <ol>
                            <li>ความเสียหายใดๆ ที่เกิดกับรถยนต์ในสต็อกที่อยู่ในความดูแลของบริษัทฯ ทางบริษัทฯ ทางบริษัทจะเป็นผู้รับผิดชอบทั้งสั้น</li>
                            <li>ในกรณีขนย้ายรถยนต์ ความเสียหายที่เกิดขึ้นเกินวงเงินประกัน ทางบริษัทฯ จะเป็นผู้รับผิดชอบทั้งสิ้น</li>
                            <li>รถยนต์ทุกคันที่ส่งเข้าประมูล บริษัทฯจะดูแลให้อยู่ในสภาพพร้อมประมูล และล้างทำความสะอาด เพื่อเน้นให้มีมูลค่าสูงสุด โดยค่าใช้จ่ายต่างๆที่เกิดขึ้นบริษัทฯ เป็นผู้รับผิดชอบทั้งสิ้น</li>
                        </ol>
                        <b>มาตรการป้องกันและรักษาความปลอดภัย</b>
                        <ul>
                            <li>บริษัทฯ ได้จัดเจ้าหน้าที่รักษาความปลอดภัย ประจำจุดต่างๆ ภายในบริเวณอาณาเขตบริษัทฯ เพื่อดูแลปกป้องทรัพย์สินของผู้ส่ง จำนาน 8 นาย 2 กะ</li>
                            <li>บริษัทได้ติดตั้งกล้องวงจรปิด ทั้งบริเวณลานประมูล สำนักงานและบริเวณทางเข้า-ออกบริษัท</li>
                            <li>บริษัทติดตั้งถังดับเพลิง เพื่อรองรับเหตุการณ์ฉุกเฉินทุกพื้นที่ ภายในบริเวณสำนักงานและลานประมูล</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                        <h4 class="nlinexx">ความร่วมมือระหว่างบริษัทฯ และผู้ส่งรถยนต์ (Consignor)</h4>
                        <ol>
                            <li>ผลการประมูล (Auction Result) บริษัทฯ จะจัดส่งผลการประมูลทั้งหมดในแต่ละครั้งให้กับผู้ส่งรถยนต์ เพื่อให้ทราบถึงราคาและความต้องการของตลาดในขณะนั้น</li>
                            <li>ข้อมูลการออกพบลูกค้า บริษัทฯ ได้ส่งเจ้าที่การตลาดของบริษัทฯ ออกไปพบกับลูกค้ากลุ่มผู้ซื้อไปขายหรือลูกค้ากลุ่มเต็นท์รถยนต์ทุกเดือน เพื่อประชาสัมพันธ์ ให้รับทราบข่าวสารการประมูลของบริษัทฯ สร้างความสัมพันธ์ที่ดีให้กับลูกค้า ทราบถึงความต้องการของผู้บริโภคและความเคลื่อนไหวของตลาด บริษัทฯจะจัดส่งให้กับผู้ส่งรถยนต์ทกๆเดือน เพื่อวิเคราะห์ข้อมูลในการส่งรถยนต์เข้าประมูล</li>
                            <li>ในกรณีที่ผู้ส่งรถยนต์เป็นบริษัทฯให้สินเชื่อทางด้านยานยนต์ บริษัทฯ ก็จะส่งข้อมูลลูกค้าที่ต้องการสินเชื่อในการประมูลรถยนต์ให้แก่ท่าน</li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">
                        <h4 class="nlinexx">การสร้างความพึงพอใจให้กับผู้ซื้อ (Buyer)</h4>
                        <ol>
                            <li>ข้อมูลของรถยนต์ บริษัทฯ มีช่างผู้ชำนาญการตรวจสอบสภาพรถยนต์ สามารถให้คะแนนของรถยนต์ได้อย่างถูกต้อง แม่นยำและเที่ยงธรรม</li>
                            <li>การให้คำปรึกษา-แนะนำ ข้อมูล เพื่อประกอบการตัดสินใจในการซื้อรถยนต์</li>
                            <li>เป็นผู้ประสานงานในการขอสินเชื่อเพื่อซื้อรถยนต์ ระหว่างลูกค้ากับสถาบันการเงิน</li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab">
                        <h4 class="nlinexx">กฎระเบียบการประมูล (ผู้ประมูล)</h4>
                        <ol>
                            <li>ผู้ประมูลสามารถตรวจสอบสินค้าได้ก่อนวันประมูล 2 วัน</li>
                            <li>ผู้ประมูลสามารถรับรายการสินค้าผ่านทาง Internet หรือ แฟกซ์ ก่อนวันประมูล 2 วัน</li>
                            <li>สินค้าทั้งหมดขายตามสภาพ โดยผู้ขาย และโฆษกขอสงวนสิทธิ์ที่จะ ไม่รับผิดชอบในข้อผิดพลาดของรายละเอียดของสินค้าและ จำนวนสินค้า รวมถึงไม่มีการรับประกันสภาพสินค้า</li>
                            <li>ผู้สนใจเข้าร่วมประมูล สามารถลงทะเบียนและชำระ ค่ามัดจำป้าย หมายเลขประมูลจำนวน 20,000 บาท กรณีเป็นรถยนต์ และ 5,000 บาท กรณี เป็นรถจักรยานยนต์ เป็นเงินสด หรือแคชเชียร์เช็ค สั่งจ่าย “บริษัท สหเครน อ๊อกชั่น จำกัด” ก่อนทำการประมูล หาก ประมูลไม่ได้สามารถรับเงินค่ามัดจาหมายเลขประมูลได้หลังจบการประมูล</li>
                            <li> กรณีลงทะเบียนประมูลทาง Internet (Auction Online) ผู้ประมูลจะต้องลงทะเบียนทาง Internetหรือจะมาลงทะเบียนที่หน้าลานก็ได้ โดยแจ้งแก่พนักงานว่า จะประมูลทาง Internetทางบริษัทฯ ก็จะทำการส่ง User Nameและ Pass Wordให้กับลูกค้า ทาง SMSและ ทาง E-MAIL แต่ผู้ประมูลจะต้อง วางเงินมัดจำป้ายหมายเลขประมูลและวางเงินประกันค่าสินค้า เป็นเงิน จำนวน 50,000 บาท โดยท่านไม่ต้องชำระเงินค่ามัดจำสินค้า 10 % และค่าดำเนินการ ที่หน้างาน และเงินที่วางประกัน 50,000 บาทนี้ ถือว่าเป็นการชำระหนี้เบื้องต้น และบริษัทจะเรียกเก็บในส่วนที่เหลือ โดยมีกำหนดต้องชำระภายใน 3 วัน นับจากวันที่ประมูล</li>
                            <li>กรณีผู้ประมูลต้องการขอสินเชื่อ กรุณาติดต่อเจ้าหน้าที่สินเชื่อของทาง บริษัทเช่าซื้อ ที่เตรียมไว้ให้เพื่ออำนวยความสะดวกแก่ท่านก่อนวันประมูล 7 วันทำการ เพื่อยื่นขออนุมัติสินเชื่อ</li>
                            <li>การประมูลทุกครั้งจะถูกบันทึกโดยเทป ซึ่งใช้เป็นหลักฐาน และยืนยันการขาย</li>
                            <li>การปรับราคา จะขึ้นครั้งละ 2,000 บาท หากรถยนต์มีราคาไม่เกิน 1,000,000 บาท และ ปรับราคาขึ้นครั้งละ 10,000 บาท กรณีเป็นรถยนต์ที่มีราคาเกิน 1,000,000 บาทขึ้นไป หรือ 1,000 บาท กรณีเป็นรถจักรยานยนต์</li>
                            <li>ผู้ประมูลที่ให้ราคาสูงสุดคือผู้ที่มีสิทธิ์ในการซื้อ ในกรณีที่มีการโต้แย้ง หรือมีเหตุอันควร โฆษกมีอำนาจตัดสินใจนำรถกลับเข้าประมูลใหม่ได้อีกครั้งหนึ่ง</li>
                            <li>
                                ผู้ประมูลได้จะต้องชำระเงินในวันประมูลดังนี้
                                <ul>
                                    <li>วางเงินมัดจำขั้นต่ำ 10 % ของราคารถยนต์ที่ประมูลได้ แต่ต้องไม่ต่ำ กว่า 20,000 บาท กรณีรถยนต์ และไม่ต่ำกว่า 5,000 บาท กรณีเป็นรถจักรยานยนต์ โดยชำระเป็นเงินสด</li>
                                    <li>ภาษีมูลค่าเพิ่ม 7% ของเงินมัดจำ (กรณีรถที่มีภาษีมูลค่าเพิ่ม)</li>
                                    <li>ค่าดำเนินการ 8,560 บาท (รวม VAT7 %) กรณีเป็นรถยนต์ 4 ล้อ</li>
                                    <li>ค่าดำเนินการ 9,630 บาท (รวม VAT7 %) กรณีเป็นรถยนต์ 6 ล้อ และหางพ่วง</li>
                                    <li>ค่าดำเนินการ 12,840 บาท (รวม VAT7 %) กรณีเป็นรถยนต์ 10 ล้อขึ้นไป</li>
                                    <li>ค่าดำเนินการ 1,605 บาท (รวม VAT 7 %) กรณีเป็นรถจักรยานยนต์ ไม่เกิน 149 CC.</li>
                                    <li>ค่าดำเนินการ 3,852 บาท (รวม VAT 7%) กรณีเป็นรถจักรยานยนต์ มากกว่า 150 CC. ขึ้นไป</li>
                                </ul>
                            </li>
                            <li>ผู้ประมูลจะต้องชำระเงินในการซื้อรถยนต์ส่วนที่เหลือ ภายในเวลา 3 วันทำการนับจากวันประมูล</li>
                            <li>หลังจากผู้ประมูลซื้อสินค้าได้และ ชำระเงินครบทั้งจำนวนแล้วจะต้องทำ การขนย้ายสินค้าออกจากพื้นที่ของบริษัทฯ ภายในเวลา 7 วันทำการ นับจากวันประมูล</li>
                            <li>ประมูลได้เป็นผู้รับผิดชอบในการชำระค่าขนส่งและขนย้ายสินค้ารวมถึง ค่าใช้จ่ายอื่นๆ ที่เกิดขึ้น โดยบริษัทฯ จะแจ้งให้ทราบในรายการรถเข้าประมูล</li>
                            <li>การโอนกรรมสิทธิ์จะเกิดขึ้นได้ต่อเมื่อ ผู้ประมูลได้ทำการชำระเงินครบ ทั้งจำนวนตามราคาที่ประมูลซื้อไปได้ โดย ผู้ประมูลรถยนต์ได้ต้องรับผิดชอบ ค่าธรรมเนียม, ค่าภาษี, ค่าปรับ, ค่าจดทะเบียนในการขอใช้รถใหม่ (กรณีรถยนต์ ที่ประมูลได้มีการแจ้งหยุดการใช้รถไว้) และเงินเพิ่มภาษีนิติบุคคล (รถประมูลแบบนิติบุคคลที่โอนไม่เกิน 2 ต่อ) รวมถึงค่าใช้จ่ายอื่นใด ที่เกี่ยวข้องกับการ จดทะเบียนโอน และ การรับโอนกรรมสิทธิ์</li>
                            <li>ผู้ประมูลได้มีหน้าที่ตรวจสอบสภาพรถยนต์ และความเสียหายที่เกิดขึ้น รวมถึงภาระทุกอย่างที่เกี่ยวข้องกับรถยนต์ทันทีหลังจาก โฆษกประกาศ "ขาย“</li>
                            <li>ในกรณีที่ผู้ประมูลไม่ชำระเงินค่ารถยนต์ส่วนที่เหลือที่ประมูลได้ให้แก่บริษัทฯ ภายใน 3 วันทำการ นับจากวันประมูล บริษัทฯและผู้ขายขอสงวน สิทธิ์ ที่จะริบเงินมัดจำ และ สามารถที่จะเรียกร้องให้ผู้ประมูลชดใช้ค่าเสียหายได้</li>
                            <li>หากผู้ประมูลได้มีความประสงค์ที่จะขอเปลี่ยนแปลงชื่อ-ที่อยู่ / ชื่อบุคคล หรือนิติบุคคลอื่น ที่ต้องการระบุในใบเสร็จ หลังจากการลงทะเบียน ผู้ประมูลได้ต้องชำระเงินค่าใช้จ่ายในการเปลี่ยนแปลงข้อมูลดังกล่าวเป็นเงินจำนวน 10,000 บาท ต่อ 1 รายการ</li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="pills-7" role="tabpanel" aria-labelledby="pills-7-tab">
                        <h4 class="nlinexx">เงื่อนไขในการส่งรถเข้าประมูล (ผู้ส่งสินค้า)</h4>
                        <ul>
                            <li>ผู้ส่งไม่เสียค่าใช้จ่ายใดๆทั้งสิ้น</li>
                            <li>ฟรีดำเนินการประชาสัมพันธ์ รายการรถก่อนที่จะทำการประมูลขายทอดตลาด</li>
                            <li>ฟรีทำความสะอาดรถ และสตาร์ทรถให้ติด (ถ้าอุปกรณ์ครบ)</li>
                            <li>ฟรีค่าดำเนินการประมูลขายทอดตลาด</li>
                            <li>ฟรีค่าบริการเก็บรักษาก่อนการประมูลขายทอดตลาด</li>
                            <li>ฟรีการประเมินราคา ก่อนที่จะนำเข้าประมูล</li>
                            <li>ฟรีบริการทำความสะอาด และลอกหมายเลขเครื่อง-เลขตัวถังเพื่อโอนรถยนต์</li>
                            <li>ฟรีบริการรักษาความปลอดภัยตลอด 24 ชม.และมีระบบกล้องโทรทัศน์วงจรปิด พร้อมทั้งประกันอัคคีภัย</li>
                            <li>ฟรีค่าจอดรถยนต์ระหว่างรอเข้าประมูล</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="pills-8" role="tabpanel" aria-labelledby="pills-8-tab">
                        <h4 class="nlinexx">สถานที่จัดเก็บรถ</h4>
                        <b>สำนักงานใหญ่ และสถานที่จัดการประมูล</b>
                        <p>ตั้งอยู่เลขที่ 309 หมูที่ 3 ถนน บางนา-ตราด กม.54 ต.คลองตำหรุ อ.เมือง จ.ชลบุรี 20000<br>บริษัท สหเครน อ๊อกชั่น จำกัด (สำนักงานใหญ่) อยู่ในทำเล ติดถนนหลัก สะดวกในการเดินทางและการขนย้ายมีลานจอดรถยนต์ในร่ม ได้มากกว่าร้อยคัน 2 เลน</p>
                    </div>*@
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Home/inc_footer.cshtml");
    }
    <script>
        $('.nav-item.navbar-link').eq(1).addClass('active');
    </script>
</body>
</html>
<script>
    $(document).ready(function () {
        about();
        about_head();
    });
    function about() {
        $.ajax({
            url: "/Home/data_about",
            success: function (data) {
                var i = 0;
                if (data != null) {
                    data.map(function (about) {
                        if (i == 0) {
                            i++;
                            var about_head = '<li class="nav-item">' +
                                '<a class="nav-link active" id="pills-' + about.id + '-tab" data-toggle="pill" href="#pills-' + about.id + '" role="tab" aria-controls="pills-' + about.id + '" aria-selected="true">' + about.topic + '</a>' +
                                '</li>';
                            $("#pills-tab").append(about_head);

                            var about_content = '<div class="tab-pane fade show active" id="pills-' + about.id + '" role="tabpanel" aria-labelledby="pills-' + about.id + '-tab"><h4 class="nlinexx">' + about.topic + '</h4>' + about.textarea + '</div>';
                            $("#pills-tabContent").append(about_content);

                        } else {
                            var about_head = '<li class="nav-item">' +
                                '<a class="nav-link" id="pills-' + about.id + '-tab" data-toggle="pill" href="#pills-' + about.id + '" role="tab" aria-controls="pills-' + about.id + '" aria-selected="true">' + about.topic + '</a>' +
                                '</li>';
                            $("#pills-tab").append(about_head);

                            var about_content = '<div class="tab-pane fade show" id="pills-' + about.id + '" role="tabpanel" aria-labelledby="pills-' + about.id + '-tab"><h4 class="nlinexx">' + about.topic + '</h4>' + about.textarea + '</div>';
                            $("#pills-tabContent").append(about_content);
                        }
                    });
                } else {
                    $("#bg-about").html("");
                }
            }
        });
    }
    function about_head() {
        $.ajax({
            url: "/Home/data_about_head",
            success: function (data) {
                if (data != null) {
                    data.map(function (about) {
                        if (about.status == 1 && about.status != null) {
                            $("#about_head-topic").html(about.topic);
                            $("#about_head-content").html(about.textarea);
                        } else if (about.status == 2 && about.status != null) {
                            var img = '<a href="' + about.path + '" data-fancybox="images" style="margin-right:5px">' +
                                '<img src="' + about.path + '" class="mw-100 galleryImg" />' +
                                '</a>';
                            $("#about_head-img").append(img);
                        }
                    });
                }
            }
        });
    }
</script>
