﻿@model Sahaauction.Controllers.HomeController
<!doctype html>
<html lang="th">
<head>
    <title>SAHA CRANE Auction - Search</title>
    @{
        Html.RenderPartial("~/Views/Home/inc_header.cshtml");
    }
</head>
<body>

    @{
        Html.RenderPartial("~/Views/Home/inc_navbar.cshtml");
    }
    <style>
        input[name='card_brand_model'], select[name='caryear'], select[name='cartype'] {
            border: 1px solid #808080 !important
        }

        .resultSearch img {
            height: 150px;
        }

        table {
            --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        }

        .remark-red {
            background: #ffecec url('images/error.png') no-repeat 10px 50%;
            border: 1px solid #f5aca6;
            height: 45px;
            text-align: left !important;
            font-weight: 700;
            color: #991853 !important;
        }

        td {
            max-width: 100px;
            text-align: left !important;
        }

        .redmark {
            color: red !important;
        }

        td {
            font-weight: 700;
        }

        .remark-red {
            background: #ffecec url('images/error.png') no-repeat 10px 100%;
            border: 1px solid #f5aca6;
            height: 45px;
            text-align: left !important;
            font-weight: 700;
            color: #991853 !important;
        }
    </style>
    @foreach (var b in ViewBag.detail)
    {
        <div class="bg-deepGray">
            <div class="container-fluid pb-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/index"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">ผลค้นหารถเข้าประมูล</li>
                    </ol>
                </nav>
                <h2 class="text-center text-white pb-5 top-content" style="font-size: 24px;font-weight: 800;">ลำดับ @b.lali_no @b.card_brand @b.card_model</h2>
            </div>
        </div>

        <div class="bg-lightGgray">
            <div class="container py-5">

                <div class="text-center">
                    <div id="sync1" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="@b.carp_front" class="imgCurrentShow" style="width: fit-content">
                        </div>
                        <div class="item">
                            <img src="@b.carp_rear" class="imgCurrentShow" style="width: fit-content">
                        </div>
                        @foreach (var img in ViewBag.carpicture)
                        {
                            <div class="item">
                                <img src="@img.cpli_img" class="imgCurrentShow" style="width: fit-content">
                            </div>
                        }

                    </div>

                    <div id="sync2" class="owl-carousel owl-theme mb-5">
                        <div class="item">
                            <img src="@b.carp_front" class="thumbnailImg" style="width:95%">
                        </div>
                        <div class="item">
                            <img src="@b.carp_rear" class="thumbnailImg" style="width:95%">
                        </div>
                        @foreach (var img in ViewBag.carpicture)
                        {
                            <div class="item">
                                <img src="@img.cpli_img" class="thumbnailImg" style="width:95%">
                            </div>
                        }

                    </div>
                </div>

                <!--<div class="bg-lightGgray" id="banner-mini">
                <div class="container text-center py-5">
                    <div class="owl-carousel banner-slide2 owl-theme">

                        <a href="@b.carp_front" target="_blank"><img src="@b.carp_front" class="mw-100"></a>
                        <a href="@b.carp_rear" target="_blank"><img src="@b.carp_rear" class="mw-100"></a>-->
                @*<div><img src="~/Template_saha/images/sample_banner2.jpg" class="mw-100"></div>
                    <div><img src="~/Template_saha/images/sample_banner2.jpg" class="mw-100"></div>*@
                <!--</div>
                    </div>
                </div>-->



                <div class="bg-light">
                    <div class="container py-5 text-center">
                        <div class="table-responsive resultSearch">
                            <table class="table table-hover table-sm table-detail">
                                <tr>
                                    <td colspan="3" style="font-size: 18px;font-weight: 800;">ลำดับ @b.lali_no @b.card_brand @b.card_model</td>
                                    <td></td>
                                    <td></td>
                                    @*<td>ดาวน์โหลด</td>*@
                                </tr>
                                <tr>
                                    <td>ทะเบียน</td>
                                    <td>@b.card_license</td>
                                    <td>เลขเครื่อง </td>
                                    <td>@b.card_machineno</td>
                                </tr>
                                <tr>
                                    <td>สีรถ</td>
                                    <td>@b.card_color</td>
                                    <td>เลขตัวถัง</td>
                                    <td>@b.card_vin</td>
                                </tr>
                                <tr>
                                    <td>ยี่ห้อ</td>
                                    <td>@b.card_brand</td>
                                    <td>ราคาเปิดประมูล</td>
                                    <td class="redmark">@String.Format("{0:n0}", Convert.ToInt32(b.caau_aucstart))</td>
                                </tr>
                                <tr>
                                    <td>รุ่น</td>
                                    <td>@b.card_model</td>
                                    <td>ค่าขนย้าย</td>
                                    <td class="redmark">@String.Format("{0:n0}", Convert.ToInt32(b.caau_auctransport))</td>
                                </tr>
                                <tr>
                                    <td>ปี</td>
                                    <td>@b.card_year</td>
                                    <td>ค่าโอน</td>
                                    <td class="redmark">@String.Format("{0:n0}", Convert.ToInt32(b.caau_auctransfer))</td>
                                </tr>
                                <tr>
                                    <td>จังหวัด</td>
                                    <td>@b.card_province</td>
                                    <td>ค่าภาษี</td>
                                    <td class="redmark">@String.Format("{0:n0}", Convert.ToInt32(b.caau_auctax))</td>
                                </tr>
                                <tr>
                                    <td>ระบบเกียร์</td>
                                    <td>@b.card_geartype</td>
                                    <td>ค่าอื่นๆ</td>
                                    <td class="redmark">@String.Format("{0:n0}", Convert.ToInt32(b.caau_aucotherservice))</td>
                                </tr>
                                <tr>
                                    <td>เลขไมล์(KM)</td>
                                    <td>@b.card_miles</td>
                                    <td>ค่าดำเนินการ</td>
                                    <td class="redmark">@String.Format("{0:n0}", Convert.ToInt32(b.caau_aucaction))</td>
                                </tr>
                                <tr>
                                    <td>ซีซี</td>
                                    <td>@b.card_cc</td>
                                    <td>เกรดรถ</td>
                                    <td>@b.card_grade</td>
                                </tr>
                                <tr>
                                    <td>วันครบภาษี</td>
                                    <td>@b.card_taxexpiredate</td>
                                    @*<td>@DateTime.Now.ToString("yyyy-MM-dd h:mm tt")</td>*@
                                </tr>
                            </table>
                            <table class="table table-hover table-sm table-detail">
                                <tr class="remark-red">
                                    <td class="remark-red">***หมายเหตุ @b.card_remark</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    }



    @{
        Html.RenderPartial("~/Views/Home/inc_footer.cshtml");
    }
    <script>
        $(document).ready(function () {
            var sync1 = $("#sync1");
            var sync2 = $("#sync2");
            var slidesPerPage = 6; //globaly define number of elements per page
            var syncedSecondary = true;

            sync1.owlCarousel({
                items: 1,
                slideSpeed: 2000,
                nav: true,
                autoplay: false,
                dots: false,
                loop: true,
                responsiveRefreshRate: 200,
                navText: ['<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
            }).on('changed.owl.carousel', syncPosition);

            sync2
                .on('initialized.owl.carousel', function () {
                    sync2.find(".owl-item").eq(0).addClass("current");
                })
                .owlCarousel({
                    items: slidesPerPage,
                    dots: true,
                    nav: false,
                    smartSpeed: 200,
                    slideSpeed: 500,
                    slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                    responsiveRefreshRate: 100,
                    responsive: {
                        0: {
                            items: 3,
                        },
                        600: {
                            items: 4,
                        },
                        1000: {
                            items: 6,
                        }
                    }
                }).on('changed.owl.carousel', syncPosition2);

            function syncPosition(el) {
                //if you set loop to false, you have to restore this next line
                //var current = el.item.index;

                //if you disable loop you have to comment this block
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - (el.item.count / 2) - .5);

                if (current < 0) {
                    current = count;
                }
                if (current > count) {
                    current = 0;
                }

                //end block

                sync2
                    .find(".owl-item")
                    .removeClass("current")
                    .eq(current)
                    .addClass("current");
                var onscreen = sync2.find('.owl-item.active').length - 1;
                var start = sync2.find('.owl-item.active').first().index();
                var end = sync2.find('.owl-item.active').last().index();

                if (current > end) {
                    sync2.data('owl.carousel').to(current, 100, true);
                }
                if (current < start) {
                    sync2.data('owl.carousel').to(current - onscreen, 100, true);
                }
            }

            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    sync1.data('owl.carousel').to(number, 100, true);
                }
            }

            sync2.on("click", ".owl-item", function (e) {
                e.preventDefault();
                var number = $(this).index();
                sync1.data('owl.carousel').to(number, 300, true);
            });
        });
    </script>


</body>
</html>
