﻿@model Sahaauction.Controllers.HomeController
<!doctype html>
<html lang="th">
<head>
    <title>SAHA CRANE Auction - Search</title>
    @{
        Html.RenderPartial("~/Views/Home/inc_header.cshtml");
    }
</head>
<body>

    @{
        Html.RenderPartial("~/Views/Home/inc_navbar.cshtml");
    }
    <style>
        table {
            --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        }

        input[name='card_brand_model'], select[name='caryear'], select[name='cartype'] {
            border: 1px solid #808080 !important
        }

        .resultSearch img {
            height: 150px;
        }

        .remark-red {
            background: #ffecec url('images/error.png') no-repeat 10px 50%;
            border: 1px solid #f5aca6;
            height: 45px;
            text-align: left !important;
            font-weight: 700;
            color: #991853 !important;
        }

        .btn-detail:hover {
            background: #ffc107cf;
            color: black;
        }

        .btn-detail {
            background: #ffc107;
            color: black;
        }

        td {
            font-weight: 700;
        }

        th {
            background-color: #dde2e2;
        }

        .img-car {
            padding: 5px;
        }

        .redmark {
            color: red !important;
        }

        .fa-eye {
            color: #808080
        }

        .pagination {
            padding-top: 10px;
            display: inline-block;
            font-size:22px;
            /*font-weight:800;*/
        }

            .pagination a {
                cursor: pointer;
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                box-shadow: 0 0 2px rgba(0,0,0,.15);
            }

                .pagination a.active {
                    background-color: blue;
                    color: white;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }
    </style>
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-deepGray font-weight-medium text-center">ค้นหารถเข้าประมูล</h2>
                <div class="text-center">
                    <br />
                </div>
                <form id="form-searchauctioncar">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control form-control-rounded" name="card_brand_model" placeholder="ยี่ห้อ / รุ่น">
                        </div>
                        <div class="form-group col-md-3">
                            <select class="form-control form-control-rounded" id="caryear" name="caryear">
                                <option value="" selected>ปีรถ</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <select class="form-control form-control-rounded" id="cartype" name="cartype">
                                <option value="" selected>ประเภทรถ</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1 text-center">
                            <button type="submit" class="btn btn-submitSearch"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <div class="container py-5 text-center">
            <h2 class="head-auction"></h2>
            <div class="table-responsive resultSearch">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr class="bg-warning " style="border-top: 2px solid black; border-bottom: 3px solid black">
                            <th style="min-width:140px;"></th>
                            <th style="min-width: 745px; font-size: 18px; font-weight: 800;">รายการรถ</th>
                        </tr>
                    </thead>
                    <tbody id="table-card">
                    </tbody>
                </table>
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>

    @{
        Html.RenderPartial("~/Views/Home/inc_footer.cshtml");
    }

    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };
        var card_brand_model = getUrlParameter('card_brand_model');
        var caryear = getUrlParameter('caryear');
        var cartype = getUrlParameter('cartype');
        var auli_auctionid = getUrlParameter('auli_auctionid');

        $(document).ready(function () {
            CarType();
            CarYear();
            swal({
                title: "กำลังโหลดข้อมูล",
                icon: "warning",
                button: false,
                closeOnClickOutside: false,
            });
            $.ajax({
                type: "POST",
                url: '/Home/GetCarlistAPI',
                data: {
                    card_brand_model: card_brand_model,
                    caryear: caryear,
                    cartype: cartype,
                    auli_auctionid: auli_auctionid,
                },
                success: function (json) {
                    swal({
                        closeOnClickOutside: true,
                        button: false,
                        timer: 10
                    });

                    //var json = JSON.parse(data);

                    if (json.response.data.length == 0) {
                        $("#table-card").html('ไม่พบข้อมูล');
                    }

                    var Page = 1;
                    var countPage = 0;
                    json.response.data.map(function (data, count) {
                        count++;
                        countPage++;
                        var img = data.carp_front;
                        if (img == "null") {
                            img = "/Template_saha/images/icon-car.png";
                        }

                        var grade = data.card_grade
                        if (grade == "null" || grade == "") {
                            grade = "-";
                        }
                        let dollarUSLocale = Intl.NumberFormat('en-US');
                        var text = '<tr class="paginationAll pagination' + Page + '">' +
                            '<td data-label="รูปภาพ"><img class="img-car" src="' + img + '" /><br><a href="/Home/carauctiondetail?ID=' + data.card_carid + '" target="_blank" class="btn btn-submit btn-block btn-detail">ดูรายละเอียด</a><i class="fa fa-eye"> ' + data.view + '</i></td>' +
                            '<td><div><table><tr style="border-top: 2px solid black;">' +
                            '<th>ลำดับ</th>' +
                            '<th>ยี่ห้อ</th>' +
                            '<th>รุ่น</th> ' +
                            '<th>สีรถ</th> ' +
                            '<th>ปี</th> ' +
                            '<th>ทะเบียน</th> ' +
                            '<th>จังหวัด</th> ' +
                            '<th>ระบบเกียร์</th> ' +
                            '<th>เลขไมล์</th> ' +
                            '<th>ซีซี</th> ' +
                            '<th>วันครบภาษี</th></tr>' +
                            '<tr><td class="redmark">' + data.lali_no + '</td> ' +
                            '<td>' + data.card_brand + '</td> ' +
                            '<td>' + data.card_model + '</td> ' +
                            '<td>' + data.card_color + '</td> ' +
                            '<td>' + data.card_year + '</td> ' +
                            '<td>' + data.card_license + '</td> ' +
                            '<td>' + data.card_province + '</td> ' +
                            '<td>' + data.card_geartype + '</td> ' +
                            '<td>' + data.card_miles + '</td> ' +
                            '<td>' + data.card_cc + '</td> ' +
                            '<td>' + data.card_taxexpiredate +
                            '</td></tr></table>' +
                            '<table><tr>' +
                            '<th>เกรด</th>' +
                            '<th>เลขเครื่อง</th>' +
                            '<th>เลขตัวถัง</th>' +
                            '<th>ราคาเปิดประมูล</th> ' +
                            '<th>ค่าขนย้าย</th> ' +
                            '<th>ค่าโอน</th> ' +
                            '<th>ค่าภาษี</th>' +
                            '<th>ค่าอื่นๆ</th>' +
                            '<th>ค่าดำเนินการ</th></tr>' +
                            '<tr><td> ' + grade + '</td>' +
                            '<td> ' + data.card_machineno + '</td>' +
                            '<td> ' + data.card_vin + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_aucstart) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_auctransport) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_auctransfer) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_auctax) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_aucotherservice) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_aucaction) + '</td>' +
                            '</tr></table><table><tr><td class="remark-red">*** หมายเหตุ ' + data.card_remark + '</td></tr></table></div></td></tr >';
                        $("#table-card").append(text);

                        if (countPage == 50) {
                            countPage = 0;
                            Page++;
                        }
                    });
                    $(".paginationAll").attr("hidden", "hidden");
                    $(".pagination1").removeAttr("hidden");
                    $(".pagination").html('<a>หน้า -></a>');
                    for (var i = 1; i < Page; i++) {
                        if (i == 1)
                            $(".pagination").append('<a class="active All pagination-footer-' + i + '" onclick="actionPage(' + i + ')">' + i + '</a>');
                        else
                            $(".pagination").append('<a class="All pagination-footer-' + i + '" onclick="actionPage(' + i + ')">' + i + '</a>');
                    }
                    if (json.auct_nameth != "") {
                        var DT = new Date(json.auct_date);
                        var au = json.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesThai[DT.getMonth()] + ' ' + (DT.getFullYear() + 543);

                        $('.head-auction').html(au);
                    }
                }

            })
        });
        function CarType() {
            $.ajax({
                url: "/Home/GetCarTypeAPI",
                success: function (data) {
                    $("#cartype").html('<option values=" " selected>ประเภทรถ</option>');
                    data.data.map(function (data) {
                        if (data.loup_status == "Active") {
                            $("#cartype").append('<option values="' + data.loup_lookupid + '">' + data.loup_nameth + '</option>');
                        }
                    });
                }
            });
        }
        function CarYear() {
            $("#caryear").html("");
            $.ajax({
                url: "/Home/GetCarYearAPI",
                success: function (data) {
                    var json = JSON.parse(data);
                    $("#caryear").html('<option values=" " selected>ปีรถ</option>');
                    json.data.map(function (data) {
                        $("#caryear").append('<option values="' + data.CarYear + '">' + data.CarYear + '</option>');
                    });
                }
            });
        }


        function actionPage(page) {
            $(".paginationAll").attr("hidden", "hidden");
            $(".pagination" + page).removeAttr("hidden");

            $(".All").removeClass("active");
            $(".pagination-footer-" + page).addClass("active");

            window.scrollTo(0, 0);

        };

        //$('.nav-item.navbar-link').eq(2).addClass('active');

        $("#form-searchauctioncar").submit(function (e) {
            e.preventDefault();
            $("#table-card").html('');
            var formData = new FormData(this);
            formData.append('auli_auctionid', auli_auctionid);
            $.ajax({
                type: "POST",
                caches: false,
                contentType: false,
                processData: false,
                url: '/Home/GetCarlistAPI',
                data: formData,
                success: function (json) {
                    //var json = JSON.parse(data);

                    if (json.data.length == 0) {
                        $("#table-card").html('ไม่พบข้อมูล');
                    }
                    json.data.map(function (data, count) {
                        count++;
                        var img = data.carp_front;
                        if (img == "null") {
                            img = "/Template_saha/images/icon-car.png";
                        }
                        let dollarUSLocale = Intl.NumberFormat('en-US');
                        var text = '<tr>' +
                            '<td data-label="รูปภาพ"><img class="img-car" src="' + img + '" /><br><a href="/Home/carauctiondetail?ID=' + data.card_carid + '" target="_blank" class="btn btn-submit btn-block btn-detail">ดูรายละเอียด</a><i class="fa fa-eye"> ' + data.view + '</i></td>' +
                            '<td><div><table><tr>' +
                            '<th>ลำดับ</th>' +
                            '<th>ยี่ห้อ</th>' +
                            '<th>รุ่น</th> ' +
                            '<th>สีรถ</th> ' +
                            '<th>ปี</th> ' +
                            '<th>ทะเบียน</th> ' +
                            '<th>จังหวัด</th> ' +
                            '<th>ระบบเกียร์</th> ' +
                            '<th>เลขไมล์</th> ' +
                            '<th>ซ๊ซี</th> ' +
                            '<th>วันครบภาษี</th></tr>' +
                            '<tr><td class="redmark">' + data.lali_no + '</td> ' +
                            '<td>' + data.card_brand + '</td> ' +
                            '<td>' + data.card_model + '</td> ' +
                            '<td>' + data.card_color + '</td> ' +
                            '<td>' + data.card_year + '</td> ' +
                            '<td>' + data.card_license + '</td> ' +
                            '<td>' + data.card_province + '</td> ' +
                            '<td>' + data.card_geartype + '</td> ' +
                            '<td>' + data.card_miles + '</td> ' +
                            '<td>' + data.card_cc + '</td> ' +
                            '<td>' + data.card_taxexpiredate +
                            '</td></tr></table>' +
                            '<table><tr>' +
                            '<th>เลขเครื่อง</th>' +
                            '<th>เลขตัวถัง</th>' +
                            '<th>ราคาเปิดประมูล</th> ' +
                            '<th>ค่าขนย้าย</th> ' +
                            '<th>ค่าโอน</th> ' +
                            '<th>ค่าภาษี</th>' +
                            '<th>ค่าอื่นๆ</th>' +
                            '<th>ค่าดำเนินการ</th></tr>' +
                            '<tr><td> ' + data.card_machineno + '</td>' +
                            '<td> ' + data.card_vin + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_aucstart) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_auctransport) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_auctransfer) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_auctax) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_aucotherservice) + '</td>' +
                            '<td class="redmark"> ' + dollarUSLocale.format(data.caau_aucaction) + ' </td>' +
                            '</tr></table><table><tr><td class="remark-red">*** หมายเหตุ ' + data.card_remark + '</td></tr></table></div></td></tr >';
                        $("#table-card").append(text);
                    });
                }

            })
        })
    </script>
</body>
</html>    