﻿<!doctype html>
<html lang="th">
<head>
    <title>SAHA CRANE Auction - Events</title>
    @{
        Html.RenderPartial("~/Views/Home/inc_header.cshtml");
    }
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Home/inc_navbar.cshtml");
    }
    <div class="bg-deepGray">
        <div class="container-fluid pb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/index"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">กิจกรรมการประมูล</li>
                </ol>
            </nav>
            <h2 class="text-center text-white pb-5">กิจกรรมการประมูล</h2>
        </div>
    </div>
    <div class="bg-white">
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <div id="calendar" class="mb-5"></div>
                </div>
            </div>
            <div style="display:none;" id="calender-detail">
            </div>
            <style>
                .ui-datepicker td a {
                    position: relative;
                }

                    .ui-datepicker td a p {
                        position: absolute;
                        margin-bottom: 0;
                        bottom: 5px;
                        right: 5px;
                        width: 100%;
                        text-align: right;
                        height: auto;
                        line-height: 1;
                        font-size: 0.8em;
                    }
            </style>
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center pr-3 bg-dark">
                        <div class="flex-grow-1">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x" style="color:#ff3700"></i>
                                <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="mb-0 text-white">
                                วันหยุดประจำเดือน
                            </span>
                        </div>
                        <div>
                            <span class="h6 font-weight-light badge badge-light" id="num-dayoff"></span>
                        </div>
                    </div>
                    <ul class="list-group calendarList mb-2" id="event-dayoff">
                        @*<li class="list-group-item"><span class="badge badge-dark small font-weight-light">5 ธ.ค. 2562</span> วันพ่อแห่งชาติ</li>
                            <li class="list-group-item"><span class="badge badge-dark small font-weight-light">10 ธ.ค. 2562</span> วันรัฐธรรมนูญ</li>
                            <li class="list-group-item"><span class="badge badge-dark small font-weight-light">30 ธ.ค. 2562</span> กิจกรรมส่งท้ายปีเก่า</li>*@
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center pr-3 bg-dark">
                        <div class="flex-grow-1">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x" style="color:#fec900"></i>
                                <i class="fas fa-cubes fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="mb-0 text-white">
                                กิจกรรมการประมูล
                            </span>
                        </div>
                        <div>
                            <span class="h6 font-weight-light badge badge-light" id="num-event"></span>
                        </div>
                    </div>
                    <ul class="list-group calendarList mb-2" id="event-event">
                        @*<li class="list-group-item"><span class="badge badge-dark small font-weight-light">30 ธ.ค. 2562</span> กิจกรรมส่งท้ายปีเก่า</li>*@
                    </ul>
                </div>
                <div class="col-sm-12">
                    <div class="d-flex align-items-center pr-3 bg-dark">
                        <div class="flex-grow-1">
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x" style="color: #57a029"></i>
                                <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="mb-0 text-white">
                                รายการสินค้าประมูล
                            </span>
                        </div>
                        <div>
                            <span class="h6 font-weight-light badge badge-light" id="num-auction"></span>
                        </div>
                    </div>
                    <ul class="list-group calendarList" id="event-auction">
                        @*<li class="list-group-item">ประมูลรถยนต์นิติบุคคล วันพุธที่ 11 ธันวาคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>
                            <li class="list-group-item">ประมูลรถจักรยานยนต์ วันพุธที่ 11 ธันวาคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>
                            <li class="list-group-item">ประมูลรถบรรทุก วันพุธที่ 11 ธันวาคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>
                            <li class="list-group-item">ประมูลรถยนต์นิติบุคคล วันพฤหัสบดีที่ 12 ธันวาคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>
                            <li class="list-group-item">ประมูลรถจักรยานยนต์ วันพฤหัสบดีที่ 12 ธันวาคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>
                            <li class="list-group-item">ประมูลรถยนต์นิติบุคคล วันศุกร์ที่ 27 ธันวาคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>
                            <li class="list-group-item">ประมูลรถจักรยานยนต์ วันศุกร์ที่ 27 ธันวาคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Home/inc_footer.cshtml");
    }
    <!--<script>
        $('.nav-item.navbar-link').eq(2).addClass('active');
    </script>-->
</body>
</html>
<script>
    $(document).ready(function () {
        calender();
        auction();
    });

    var holidayDates = {};
    var activityDates = {};
    var auctionDates = {};
    function calender() {
        $.ajax({
            url: "/Home/data_calender",
            success: function (data) {
                var a = 0;
                var b = 0;
                var c = 0;
                var count = 1;
                var day_chk = "";
                data.map(function (calender, count_c) {
                    var DT = new Date(parseInt(calender.date.substr(6)));
                    var Datenow = new Date();
                    if (DT.getMonth() == Datenow.getMonth() || DT.getMonth() > Datenow.getMonth()) {
                        var day = 0;

                        if (DT.getDate() <= 9 && DT.getMonth() < 9) {
                            day = '0' + DT.getDate() + "/0" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else if (DT.getMonth() < 9) {
                            day = DT.getDate() + "/0" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else if (DT.getDate() <= 9) {
                            day = '0' + DT.getDate() + "/" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else {
                            day = DT.getDate() + "/" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        }
                        if (calender.status == 3) {
                            a++;
                            $("#event-auction").append('<li class="list-group-item">' + calender.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '<a href="#" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>');

                            if (count_c != 0) {
                                if (day_chk == day) {
                                    count++;
                                    var con = '<li class="list-group-item">' + count + '. ' + calender.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '&nbsp;&nbsp;&nbsp;<a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                                    $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                                } else {
                                    count = 1;
                                    var head = '<div id="' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '">' +
                                        '<h5>รายการประมูลประจำวันที่ ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</h5>' +
                                        '<hr>' +
                                        '<ol class="list-group auctionList" id="content' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '"></ol>' +
                                        '</div>';
                                    $("#calender-detail").append(head)

                                    var con = '<li class="list-group-item">' + count + '. ' + calender.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '&nbsp;&nbsp;&nbsp;<a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                                    $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                                }
                            }
                            else {
                                var head = '<div id="' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '">' +
                                    '<h5>รายการประมูลประจำวันที่ ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</h5>' +
                                    '<hr>' +
                                    '<ol class="list-group auctionList" id="content' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '"></ol>' +
                                    '</div>';
                                $("#calender-detail").append(head)

                                var con = '<li class="list-group-item">' + count + '. ' + calender.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '&nbsp;&nbsp;&nbsp;<a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                                $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                            }
                            auctionDates[day] = count + ' รายการ';
                            day_chk = day;
                        } else if (calender.status == 2) {
                            b++;
                            $("#event-event").append('<li class="list-group-item"><span class="badge badge-dark small font-weight-light">' + DT.getDate() + ' ' + monthNamesThai[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</span> ' + calender.topic + '</li>');
                            activityDates[day] = calender.topic;
                        } else if (calender.status == 1) {
                            c++;
                            $("#event-dayoff").append('<li class="list-group-item"><span class="badge badge-dark small font-weight-light">' + DT.getDate() + ' ' + monthNamesThai[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</span> ' + calender.topic + '</li>');
                            holidayDates[day] = calender.topic;
                        }
                    }
                });


                $("#num-auction").html(a + ' รายการ');
                $("#num-event").html(b + ' รายการ');
                $("#num-dayoff").html(c + ' รายการ');

                //function pad(str, max) {
                //    str = str.toString();
                //    return str.length < max ? pad("0" + str, max) : str;
                //}
                //$('#calendar').datepicker({
                //    inline: true
                //    , firstDay: 0
                //    , showOtherMonths: true
                //    , dayNamesMin: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส']
                //    , monthNames: ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"]
                //    , monthNamesShort: ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."]
                //    , beforeShow: addCustomH
                //    , onChangeMonthYear: addCustomH
                //    , onSelect: function (dateString) {
                //        //dateString = '802020';
                //        console.log(dateString);
                //        if (links[dateString]) {
                //            //document.location.href = links[dateString];
                //            addCustomH();
                //        }
                //        else {
                //            /*setTimeout(function () {
                //             var uisdw = $('.ui-state-default').outerWidth() / 1.5;
                //             $('.ui-state-default').css("line-height", uisdw + "px");
                //             $(".ui-state-default").tooltip();
                //            }, 0)*/
                //            addCustomH();
                //        }
                //    }
                //    , beforeShowDay: function (date) {
                //        var day = date.getDate();
                //        var month = date.getMonth() + 1;
                //        var year = date.getFullYear();
                //        var dateString = pad(day, 2) + '/' + pad(month, 2) + '/' + year;

                //        if (dateString in holidayDates) {
                //            return [true, 'holiday', holidayDates[dateString]];
                //        }
                //        else if (dateString in activityDates) {
                //            return [true, 'activity', activityDates[dateString]];
                //        }
                //        else if (dateString in auctionDates) {
                //            return [true, 'auction', auctionDates[dateString]];
                //        }
                //        else {
                //            return [true, '', ''];
                //        }
                //    }
                //});
                //addCustomH();

                //function addCustomH() {
                //    setTimeout(function () {
                //        var uisdw = $('.ui-state-default').outerWidth() / 1.5;
                //        $('.ui-state-default').css("line-height", uisdw + "px");
                //        $(".ui-state-default").tooltip();
                //        $('.auction .ui-state-default').tooltip('disable')
                //        $(".auction").each(function (index) {
                //            $(this).find('a').addClass('fancybox');
                //            $(this).find('a').append('<p>' + $(this).attr('title') + '</p>');
                //            $(this).find('a').attr("href", '#' + $(this).find('a').clone().children().remove().end().text() + $(this).attr('data-month') + $(this).attr('data-year'));
                //        });
                //        $(".auction a.fancybox").fancybox();
                //    }, 0)
                //}
            }
        });
    }

    function auction() {
        $.ajax({
            url: "/Home/data_auction",
            success: function (data) {
                var a = 0;
                var count = 1;
                var day_chk = "";

                function SortByName(a, b) {
                    var aName = a.auct_auctiondate;
                    var bName = b.auct_auctiondate;
                    return ((aName < bName) ? 0 : ((aName > bName) ? 1 : -1));
                }

                data.sort(SortByName);
                data.map(function (calender, count_c) {
                    var DT = new Date(calender.auct_auctiondate);
                    var Datenow = new Date();

                    if (DT.getMonth() == Datenow.getMonth() || DT.getMonth() > Datenow.getMonth()) {
                        var day = 0;

                        if (DT.getDate() <= 9 && DT.getMonth() < 9) {
                            day = '0' + DT.getDate() + "/0" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else if (DT.getMonth() < 9) {
                            day = DT.getDate() + "/0" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else if (DT.getDate() <= 9) {
                            day = '0' + DT.getDate() + "/" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else {
                            day = DT.getDate() + "/" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        }

                        a++;
                        $("#event-auction").append('<li class="list-group-item">' + calender.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + ' เวลา ' + calender.auct_time + ' น.<a href="/Home/carauction/?card_brand_model=&caryear=&cartype=&auli_auctionid=' + calender.auct_auctionid + '" target="_blank" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>');

                        if (count_c != 0) {
                            if (day_chk == day) {
                                count++;
                                var con = '<li class="list-group-item">' + count + '. ' + calender.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + ' เวลา ' + calender.auct_time + ' น.&nbsp;&nbsp;&nbsp;<a href="/Home/carauction/?card_brand_model=&caryear=&cartype=&auli_auctionid=' + calender.auct_auctionid + '" target="_blank" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                                $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                            } else {
                                count = 1;
                                var head = '<div id="' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '">' +
                                    '<h5>รายการประมูลประจำวันที่ ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</h5>' +
                                    '<hr>' +
                                    '<ol class="list-group auctionList" id="content' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '"></ol>' +
                                    '</div>';
                                $("#calender-detail").append(head)

                                var con = '<li class="list-group-item">' + count + '. ' + calender.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + ' เวลา ' + calender.auct_time + ' น.&nbsp;&nbsp;&nbsp;<a href="/Home/carauction/?card_brand_model=&caryear=&cartype=&auli_auctionid=' + calender.auct_auctionid + '" target="_blank" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                                $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                            }
                        }
                        else {
                            var head = '<div id="' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '">' +
                                '<h5>รายการประมูลประจำวันที่ ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</h5>' +
                                '<hr>' +
                                '<ol class="list-group auctionList" id="content' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '"></ol>' +
                                '</div>';
                            $("#calender-detail").append(head)

                            var con = '<li class="list-group-item">' + count + '. ' + calender.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + ' เวลา ' + calender.auct_time + ' น.&nbsp;&nbsp;&nbsp;<a href="/Home/carauction/?card_brand_model=&caryear=&cartype=&auli_auctionid=' + calender.auct_auctionid + '" target="_blank" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                            $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                        }
                        auctionDates[day] = count + ' รายการ';
                        day_chk = day;

                    }
                });

                $("#num-auction").html(a + ' รายการ');

                function pad(str, max) {
                    str = str.toString();
                    return str.length < max ? pad("0" + str, max) : str;
                }
                $('#calendar').datepicker({
                    inline: true
                    , firstDay: 0
                    , showOtherMonths: true
                    , dayNamesMin: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส']
                    , monthNames: ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"]
                    , monthNamesShort: ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."]
                    , beforeShow: addCustomH
                    , onChangeMonthYear: addCustomH
                    , onSelect: function (dateString) {
                        //dateString = '802020';
                        if (links[dateString]) {
                            //document.location.href = links[dateString];
                            addCustomH();
                        }
                        else {
                            /*setTimeout(function () {
                             var uisdw = $('.ui-state-default').outerWidth() / 1.5;
                             $('.ui-state-default').css("line-height", uisdw + "px");
                             $(".ui-state-default").tooltip();
                            }, 0)*/
                            addCustomH();
                        }
                    }
                    , beforeShowDay: function (date) {
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        var dateString = pad(day, 2) + '/' + pad(month, 2) + '/' + (year + 543);

                        if (dateString in holidayDates) {
                            return [true, 'holiday', holidayDates[dateString]];
                        }
                        else if (dateString in activityDates) {
                            return [true, 'activity', activityDates[dateString]];
                        }
                        else if (dateString in auctionDates) {
                            return [true, 'auction', auctionDates[dateString]];
                        }
                        else {
                            return [true, '', ''];
                        }
                    }
                });
                addCustomH();

                function addCustomH() {
                    setTimeout(function () {
                        var y = parseInt($(".ui-datepicker-year").html());
                        $(".ui-datepicker-year").html(y + 543)

                        var uisdw = $('.ui-state-default').outerWidth() / 1.5;
                        $('.ui-state-default').css("line-height", uisdw + "px");
                        $(".ui-state-default").tooltip();
                        $('.auction .ui-state-default').tooltip('disable')
                        $(".auction").each(function (index) {
                            var YEAR = parseInt($(this).attr('data-year')) + 543;
                            $(this).find('a').addClass('fancybox');
                            $(this).find('a').append('<p>' + $(this).attr('title') + '</p>');
                            $(this).find('a').attr("href", '#' + $(this).find('a').clone().children().remove().end().text() + $(this).attr('data-month') + YEAR);
                            //$(this).find('a').attr("href", '#' + $(this).find('a').clone().children().remove().end().text() + $(this).attr('data-month') + $(this).attr('data-year'));
                        });
                        $(".auction a.fancybox").fancybox({
                            touch: false,
                            afterClose: function () {
                                location.reload(true);
                            }
                        });
                    }, 0)
                }
            }
        });
    }


</script>    