﻿<!doctype html>
<html lang="th">
<head>
    <title>SAHA CRANE Auction - How to</title>
    @{
        Html.RenderPartial("~/Views/Home/inc_header.cshtml");
    }
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Home/inc_navbar.cshtml");
    }
    <div class="bg-deepGray">
        <div class="container-fluid pb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/index"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">วิธีการประมูล</li>
                </ol>
            </nav>
            <h2 class="text-center text-white pb-5">วิธีการประมูล</h2>
        </div>
    </div>
    <div class="bg-lightGgray">
        <div class="container py-5">
            <ul class="nav nav-pills mb-3 about-tab" id="pills-tab" role="tablist">
                @*<li class="nav-item">
                    <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">กฎระเบียบที่ควรทราบและข้อพึงระวัง</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">ข้อมูลใบตรวจสภาพรถยนต์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">กฎระเบียบการประมูล</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false">เงื่อนไขในการส่งรถเข้าร่วมประมูล</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-5-tab" data-toggle="pill" href="#pills-5" role="tab" aria-controls="pills-5" aria-selected="false">ระเบียบการประมูลโดยวิธีการยกป้ายและเงื่อนไขการชําระเงิน</a>
                </li>*@
            </ul>
            <div class="tab-content" id="pills-tabContent">
                @*<div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                    <h4 class="nlinexx">กฎระเบียบที่ควรทราบและข้อพึงระวัง</h4>
                    <ol>
                        <li>รายละเอียดในการประมูลรถยนต์ อาจมีการพิมพ์ผิดพลาดเกี่ยวกับ ยี่ห้อ/รุ่น/สี/ปี/เกียร์/อุปกรณ์/ราคา/ฯลฯ บริษัทฯ จะไม่รับผิดชอบหากเกิดปัญหาดังกล่าว</li>
                        <li>โปรดตรวจสอบเลขเครื่อง/เลขตัวถัง/เลขไมล์และสภาพรถยนต์ก่อนประมูล เนื่องจากเป็นรถยนต์ที่ผ่านการใช้งานแล้ว จึงมีความแตกต่างกันไปตามสภาพ และการประมูลเป็นการขายตามสภาพในวันประมูล ไม่มีการรับประกันใดๆทั้งสิ้น โดยผู้ประมูลจะต้องตรวจสอบรายละเอียดสภาพจากรถจริง ตามกำหนดวันตรวจสภาพรถยนต์ที่บริษัทฯกำหนด</li>
                        <li>บริษัทฯ จะแจ้งระยะทางการใช้รถ (เลขไมล์) ตามตัวเลขที่แสดงอยู่ในหน้าปัดรถ บริษัทฯ จะไม่รับผิดชอบใดๆ ในกรณีที่ระยะทางการใช้รถ (เลขไมล์) มีการเปลี่ยนแปลงแก้ไข</li>
                        <li>บริษัทฯขอสงวนสิทธิในการเปลี่ยนแปลงราคาและเงื่อนไขการประมูลรถยนต์ ให้สอดคล้องกับภาวะปัจจุบันและกลไกตลาด โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
                        <li>ผู้ประมูลสินค้าได้จะต้องชำระเงินมัดจำค่าสินค้า 10% ในวันประมูล ส่วนที่เหลือ 90% ต้องชำระภายใน 3 วัน </li>
                        <li>รถทุกคันต้องโอนกรรมสิทธิ์ภายใน 1 เดือน โดยนับจากวันที่ผู้โอนประทับตราลงในชุดโอน หากเกิน 1 เดือน บริษัทฯ จะไม่รับผิดชอบเรื่องการโอน</li>
                        <li>ผู้ประมูลควรศึกษาใบตรวจสภาพรถที่ตัวรถก่อนประมูล</li>
                        <li>
                            คำจำกัดความของ “รถอุทกภัย” (รถน้ำท่วม)
                            <ul>
                                <li>รถจมน้ำจนถึงระดับที่นั่ง</li>
                                <li>รถที่มีส่วนใดส่วนหนึ่งที่จมลงไปในน้ำลึก</li>
                                <li>รถที่ระบบไฟฟ้าหรือเครื่องยนต์เกิดความเสียหายอันเนื่องมาจากน้ำท่วม</li>
                                <li>หรืออื่นใดที่ถูกกำหนดโดยบริษัทฯ</li>
                            </ul>
                        </li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                    <h4 class="nlinexx">ข้อมูลใบตรวจสภาพรถยนต์</h4>
                    <h5>ข้อกำหนดในการตรวจสภาพรถยนต์</h5>
                    <ol>
                        <li><b>วัตถุประสงค์</b><br>บริษัท สหเครน อ๊อกชั่น จำกัด มีวัตถุประสงค์ในการจัดทำใบตรวจสภาพรถยนต์เพื่อเป็นข้อมูลเบื้องต้น เป็นแนวทางในการตัดสินใจประมูลรถยนต์ อีกทั้งยังเป็นการแสดงถึงความเป็นมาตรฐานและเป็นการสร้างความเชื่อมั่นให้กับผู้ประมูล</li>
                        <li>
                            <b>การตรวจสภาพรถยนต์</b>
                            <ol>
                                <li>รถที่นำมาประมูลทุกคันต้องผ่านการตรวจสภาพจากช่างผู้ชำนาญการของบริษัทฯ</li>
                                <li>ผลของการตรวจสภาพไม่สามารถเปลี่ยนแปลงหรือยกเลิกได้ ยกเว้นบริษัทฯเป็นผู้ดำเนินการเปลี่ยนแปลงเท่านั้น</li>
                                <li>ผลการตรวจสภาพรถยนต์ ใช้สำหรับในการประมูล/ซื้อ-ขาย ในลานประมูล ของบริษัทสหเครนเท่านั้น บริษัทฯ จะไม่รับผิดชอบต่อบุคคลที่สาม</li>
                                <li>การตรวจสภาพรถยนต์ เป็นการตรวจที่ตรวจด้วยสายตาเท่าที่จะมองเห็นได้ โดยตรวจทั้งภายนอกรอบๆรถ และภายในตัวรถ เท่านั้น ดังนั้นสภาพของเครื่องยนต์หรือการถอดชิ้นส่วนหรืออะไหล่บางชิ้นออกไป จะไม่นำมารวมกับการให้เกรดของรถ</li>
                                <li>บริษัทฯ จะไม่รับผิดชอบในความแตกต่างใดๆที่เกิดขึ้นเกี่ยวกับมาตรฐานในการตรวจสภาพรถระหว่างการประมูล</li>
                            </ol>
                        </li>
                        <li>
                            <b>มาตรฐานคุณภาพและสัญลักษณ์</b><br>การให้เกรดรถถือตามสภาพดังนี้ :
                            <ul>
                                <li>*A* รถที่มีสภาพโดยรวมดีมาก</li>
                                <li>*B* รถที่มีสภาพโดยรวมดี</li>
                                <li>*C* รถที่มีสภาพโดยรวมปานกลาง</li>
                                <li>*D* รถที่มีสภาพโดยรวมแย่</li>
                            </ul>
                            รถที่ประสบอุบัติเหตุ บริษัทจะไม่กำหนดเกรดให้<br>
                            <b>ข้อกำหนดในการให้เกรดรถ จักรยานยนต์</b>
                            <ul>
                                <li>*A* รถสวยสภาพเดิม</li>
                                <li>*B* รภสวยวิ่งน้อย สภาพเดิม</li>
                                <li>*C* รถที่มีการปรับเปลื่ยนสภาพเล็กน้อย</li>
                                <li>*D* รถดัดแปลงสภาพ เช่น ท่อ แคร๊งสายพาน เครื่องยนต์ เฟรม เสียหายมาก</li>
                                <li>*E* ดัดแปลงสภาพทั้งคัน</li>
                                <li>*S* รถซาก อุบัติเหตุ</li>
                            </ul>
                        </li>
                        <li>
                            <b>คำจำกัดความของ “รถที่ประสบอุบัติเหตุ” ที่บริษัทฯ ไม่กำหนดเกรด</b>
                            <ol>
                                <li>รถที่เคยเปลี่ยนโครงสร้างและคานล่าง</li>
                                <li>รถที่ถูกการซ่อมแซมหรือถูกเปลี่ยนส่วนพื้นของรถ, ผนังรถ,บังโคลนด้านใน,หลังคาที่เสียหายหนัก</li>
                                <li>ปีกบันไดล่างของรถมีสัญลักษณ์</li>
                                <li>ส่วนอื่นใดๆ ที่บริษัทฯกำหนดในการตรวจสภาพ</li>
                            </ol>
                        </li>
                        <li>
                            <b>สัญลักษณ์ที่บ่งบอกลักษณะของรถ</b>
                            <ul>
                                <li>*S* รถที่เคยซ่อมมีรอยขูดขีด</li>
                                <li>*D* รถที่เคยซ่อมมีรอยบุบ</li>
                                <li>*W* รถที่เคยซ่อมมีรอยคลื่น</li>
                                <li>*R* รถที่เกิดความเสียหายมีสนิม</li>
                                <li>*X* รถเกิดความเสียหายมีการเปลี่ยนชิ้นส่วนอะไหล่</li>
                            </ul>
                        </li>
                        <li>
                            <b>คำจำกัดความของ “รถมีสภาพโดยรวมแย่”</b>
                            <ol>
                                <li>มีสนิมกัดกร่อนรอบคัน</li>
                                <li>ดูสภาพจากไม่นอกไม่สวย (สภาพโดยรวม)</li>
                                <li>ดูจากสภาพภายในไม่ดีเท่าควรจะเป็น</li>
                            </ol>
                        </li>
                        <li>
                            <b>คำจำกัดความของ “รถอุทกภัย” (รถน้ำท่วม)</b>
                            <ol>
                                <li>รถจมน้ำจนถึงระดับที่นั่ง</li>
                                <li>รถที่มีส่วนใดส่วนหนึ่งที่จมลงไปในน้ำลึก</li>
                                <li>รถที่ระบบไฟฟ้าหรือเครื่องยนต์เกิดความเสียหายอันเนื่องมาจากน้ำท่วม</li>
                                <li>หรืออื่นใดที่ถูกกำหนดโดยบริษัทฯ</li>
                            </ol>
                        </li>
                        <li>
                            <b>คำจำกัดความของ “รถตัดต่อ”</b>
                            <ol>
                                <li>รถที่นำชิ้นส่วนมากกว่า 1 คันมาประกอบเพื่อให้ได้รถ 1 คัน</li>
                                <li>รถที่ถูกตัดแยกชิ้นส่วนออกจากกันแล้วนำมารวมประกอบเพื่อให้กลับมาเป็นรถ</li>
                                <li>หรืออื่นใดที่ถูกกำหนดโดยบริษัทฯ</li>
                            </ol>
                        </li>
                    </ol>

                    <p class="text-danger">หมายเหตุ : เอกสารใบตรวจสภาพเป็นเพียงข้อมูลเบื้องต้นเท่านั้น ผู้ประมูลจะต้องตรวจสภาพด้วยตนเองก่อนประมูล บริษัทฯ จะไม่รับประกันสภาพรถแต่อย่างใด ให้ยึดถือสภาพรถในขณะที่ประมูลเป็นหลัก</p>

                    <p>หากมีข้อสงสัยในข้อมูลในใบตรวจสภาพรถ กรุณาติดต่อ 033-033871-3 ต่อฝ่ายปฏิบัติการ 361</p>
                </div>
                <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                    <h4 class="nlinexx">กฎระเบียบการประมูล</h4>
                    <h5>กฎระเบียบและเงื่อนไขการประมูลรถยนต์</h5>
                    <b>ผู้เข้าร่วมประมูล</b>
                    <ol>
                        <li>บุคคลธรรมดาต้องบรรลุนิติภาวะ (อายุ 18 ปี ขึ้นไป)</li>
                        <li>นิติบุคคล</li>
                    </ol>
                    <b>รายละเอียดและขั้นตอนการประมูล</b>
                    <ol>
                        <li>ผู้ประมูลสามารถตรวจสอบสินค้าได้ในวันเสาร์ก่อนวันประมูล หรือในช่วงเช้าในวันประมูล</li>
                        <li>ผู้ประมูลสามารถรับรายการสินค้าผ่านทาง Internet หรือ แฟกซ์ ก่อนวันประมูล 1 วัน</li>
                        <li>สินค้าทั้งหมดขายตามสภาพ โดยผู้ขาย และโฆษกขอสงวนสิทธิ์ที่จะ ไม่รับผิดชอบในข้อผิดพลาดของรายละเอียดของสินค้าและ จำนวนสินค้า รวมถึงไม่มีการรับประกันสภาพสินค้า</li>
                        <li>กรณีผู้ประมูลต้องการขอสินเชื่อ กรุณาติดต่อเจ้าหน้าที่สินเชื่อของทาง บริษัทเช่าซื้อ ที่เตรียมไว้ให้เพื่ออำนวยความสะดวกแก่ท่านก่อนวันประมูล 7 วันทำการเพื่อยื่นขออนุมัติสินเชื่อ</li>
                        <li>การประมูลทุกครั้งจะถูกบันทึกโดยเทป ซึ่งใช้เป็นหลักฐาน และยืนยันการขาย</li>
                        <li>การปรับราคา จะขึ้นครั้งละ 2,000 บาท หากรถยนต์มีราคาไม่เกิน 50,000 บาท และ ปรับราคาขึ้นครั้งละ 10,000 บาท กรณีเป็นรถยนต์ที่มีราคาเกิน 50,000 บาทขึ้นไป หรือ 1,000 บาท กรณีเป็นรถจักรยานยนต์ หรือตามความเหมาะตามมูลค่าของสินค้า</li>
                        <li>ผู้ประมูลที่ให้ราคาสูงสุดคือผู้ที่มีสิทธิ์ในการซื้อ ในกรณีที่มีการโต้แย้ง หรือมีเหตุอันควร โฆษกมีอำนาจตัดสินใจนำรถกลับเข้าประมูลใหม่ได้อีกครั้งหนึ่ง</li>
                        <li>บริษัทฯขอสงวนสิทธิ์การตัดสินของผู้ดำเนินการประมูลถือเป็นที่สิ้นสุดและเด็ดขาดในวันประมูล</li>
                        <li>โฆษกสามารถที่จะรอการให้ราคาจากผู้ซื้อสามารถที่จะรับหรือไม่รับราคาประมูลใดๆ และมีสิทธิที่จะถอนการประมูลสินค้ารายการใดๆออกจากการขาย</li>
                        <li>ผู้ชนะการประมูลต้องลงลายมือใน “ใบยืนยันการประมูลรถยนต์ฯ” เอกสารหลักฐานการประมูล และ ติดต่อห้องทะเบียนเพื่อรับผลสรุปการซื้อ และชำระเงินตามข้อ 1 หัวข้อ”การชำระเงินค้าสินค้า</li>
                        <li>รถยนต์ที่นำออกประมูลขายถือเป็นสินค้าใช้แล้ว คุณภาพไม่สมบูรณ์ จึงขึ้นอยู่กับดุลพินิจความพอใจของผู้ประมูลชื้อเท่านั้น บริษัทฯไม่รับเปลี่ยน หรือรับคืนใดๆ ทั้งสิ้น</li>
                        <li>ผู้ประมูลได้มีหน้าที่ตรวจสอบสภาพรถยนต์ และความเสียหายที่เกิดขึ้น รวมถึงภาระทุกอย่างที่เกี่ยวข้องกับรถยนต์ทันทีหลังจาก โฆษกประกาศ "ขาย"</li>
                    </ol>
                    <b>ขั้นตอนการลงทะเบียน</b>
                    <ol>
                        <li>
                            <b>เอกสารประกอบการลงทะเบียน</b><br>กรณีบุคคลธรรมดาให้แสดงบัตรประจำตัวประชาชน พร้อมสำเนาทะเบียนบ้านและเซ็นชื่อรับรองสำเนา
                            <ul>
                                <li>กรณีนิติบุคคล ให้แสดงหนังสือรับรองบริษัทฯ ซึ่งผู้มีสิทธิตามกฎหมายเป็นผู้ออกให้ และ ภ.พ.20, สำเนาบัตรประชาชนและสำเนาทะเบียนบ้านของผู้มีอำนาจ ภายในกำหนดไม่เกิน 3 เดือน นับตั้งแต่วันที่ออกจนถึงวันที่ทำการประมูลและเซ็นชื่อ-ประทับตราบริษัทฯ รับรองสำเนา</li>
                                <li>กรณีบุคคลธรรมดาหรือผู้มีอำนาจลงชื่อผูกพันนิติบุคคล ไม่สามารถมาประมูลเองได้ต้องทำหนังสือมอบอำนาจให้บุคคลอื่นมาประมูลแทน</li>
                            </ul>
                        </li>
                        <li>
                            <b>การวางประกันค่ามัดจำบัตรหมายเลขประมูล</b><br>ผู้สนใจเข้าร่วมประมูล สามารถลงทะเบียนและชำระ
                            <ul>
                                <li>ค่ามัดจำบัตรหมายเลขประมูล<b>จำนวน 20,000 บาท กรณีเป็นรถยนต์</b></li>
                                <li>ค่ามัดจำบัตรหมายเลขประมูล<b>จำนวน 5,000 บาท กรณี เป็นรถจักรยานยนต์</b></li>
                            </ul>
                            เป็นเงินสด หรือแคชเชียร์เช็ค สั่งจ่าย “บริษัท สหเครน อ๊อกชั่น จำกัด” ก่อนทำการประมูล หาก ประมูลไม่ได้สามารถรับเงินค่ามัดจำหมายเลขประมูลได้หลังจบการประมูล<br>** กรณีลงทะเบียนประมูลทาง Internet (Auction On line) ผู้ประมูลจะต้องลงทะเบียนทาง Internet หรือจะมาลงทะเบียนที่หน้าลานก็ได้ โดยแจ้งแก่พนักงานว่าจะประมูลทาง Internet ทางบริษัทฯ ก็จะทำการส่ง User Name และ Pass Word ให้กับลูกค้า ทาง SMS และ ทาง E-MAIL แต่ผู้ประมูลจะต้อง วางเงินมัดจำบัตรหมายเลขประมูล และวางเงินประกันค่าสินค้า เป็นเงิน จำนวน 50,000 บาท โดยท่านไม่ต้องชำระเงินค่ามัดจำสินค้า 10 % และค่าดำเนินการ ที่หน้างาน ตามข้อ 1 หัวข้อ “การชำระค่าสินค้า” และเงินที่วางประกัน 50,000 บาทนี้ ถือว่าเป็นการชำระหนี้เบื้องต้น และบริษัทจะเรียกเก็บในส่วนที่เหลือ โดยมีกำหนดต้องชำระภายใน 3 วัน นับจากวันที่ประมูล
                        </li>
                    </ol>
                    <b>การชำระเงินค่าสินค้า</b>
                    <ol>
                        <li>
                            ผู้ประมูลได้จะต้องชำระเงินในวันประมูลดังนี้<br>วางเงินมัดจำสินค้าขั้นต่ำ 10 % ของราคารถยนต์ที่ประมูลได้ แต่ต้องไม่ต่ำ กว่า 20,000 บาท กรณีรถยนต์ และไม่ต่ำกว่า 5,000 บาท กรณีเป็นรถจักรยานยนต์ โดยชำระเป็นเงินสด
                            <ul>
                                <li>ภาษีมูลค่าเพิ่ม 7% ของเงินมัดจำสินค้า (กรณีรถที่มีภาษีมูลค่าเพิ่ม)</li>
                                <li>ค่าดำเนินการ 8,560 บาท (รวม VAT 7 %) กรณีเป็นรถยนต์ 4 ล้อ</li>
                                <li>ค่าดำเนินการ 9,630 บาท (รวม VAT 7 %) กรณีเป็นรถยนต์ 6 ล้อ และหางพ่วง</li>
                                <li>ค่าดำเนินการ 12,840 บาท (รวม VAT 7 %) กรณีเป็นรถยนต์ 10 ล้อขึ้นไป</li>
                                <li>ค่าดำเนินการ 1,605 บาท (รวม VAT 7 %) กรณีเป็นรถจักรยานยนต์ ไม่เกิน 150 CC.</li>
                                <li>ค่าดำเนินการ 3,852 บาท (รวม VAT 7 %) กรณีเป็นรถจักรยานยนต์ มากกว่า 151 CC. ขึ้นไป</li>
                            </ul>
                        </li>
                        <li>ผู้ประมูลจะต้องชำระเงินในการซื้อรถยนต์ส่วนที่เหลือ ภายในเวลา 3 วันทำการนับจากวันประมูล</li>
                        <li>ผู้ประมูลได้เป็นผู้รับผิดชอบในการชำระค่าขนส่งและขนย้ายสินค้ารวมถึง ค่าใช้จ่ายอื่นๆ ที่เกิดขึ้น โดยบริษัทฯ จะแจ้งให้ทราบในรายการรถเข้าประมูล</li>
                        <li>ในกรณีที่ผู้ประมูลไม่ชำระเงินค่ารถยนต์ส่วนที่เหลือที่ประมูลได้ให้แก่บริษัทฯ ภายใน 3 วันทำการ นับจากวันประมูล บริษัทฯและผู้ขายขอสงวน สิทธิ์ ที่จะริบเงินมัดจำและ จะดำเนินคดีตามกฎหมายกับท่านจนถึงที่สุด และในกรณีที่ต้องนำสินค้าเข้าประมูลใหม่ ท่านจะต้องรับผิดชอบในส่วนต่างของราคาที่เกิดขึ้น ในกรณีประมูลครั้งหลังมีราคาต่ำกว่าที่ได้ประมูลไว้ในครั้งแรก</li>
                    </ol>
                    <b>การชำระเงิน</b>
                    <ul>
                        <li>โอนเงินผ่านทางธนาคารโดยใช้ใบ โอนเงิน แฟกซ์มาให้ ทางบริษัทฯ เบอร์ 033-033-874</li>
                        <li>หมายเลขบัญชีธนาคาร: สั่งจ่าย “บริษัท สหเครน อ๊อกชั่นจำกัด”</li>
                        <li>ธนาคารกสิกรไทย สาขาโลตัส อมตะนคร เลขที่บัญชี 700-1-00320-2 บัญชีกระแสรายวัน</li>
                        <li>ธนาคารกสิกรไทย สาขาโลตัส อมตะนคร เลขที่บัญชี 700-2-62607-6 บัญชีออมทรัพย์</li>
                        <li>ธนาคารกรุงไทย สาขาโลตัส อมตะนคร เลขที่บัญชี 983-4-19423-4 บัญชีออมทรัพย์</li>
                        <li>ธนาคารกรุงเทพฯ สาขาบางปะกง เลขที่บัญชี 386-4-25561-1 บัญชีออมทรัพย์</li>
                        <li>ชำระเป็น เงินสด/แบงค์ดราฟท์/แคชเชียร์เช็คที่สำนักงานบริษัทฯ เท่านั้น</li>
                    </ul>
                    <b>การส่งมอบ/การขนย้ายและการโอนกรรมสิทธิ์</b>
                    <ol>
                        <li>หลังจากผู้ประมูลซื้อสินค้าได้และ ชำระเงินครบทั้งจำนวนแล้วจะต้องทำ การขนย้ายสินค้าออกจากพื้นที่ของบริษัทฯ ภายในเวลา 7 วันทำการ นับจากวันประมูล</li>
                        <li>การโอนกรรมสิทธิ์จะเกิดขึ้นได้ต่อเมื่อ ผู้ประมูลได้ทำการชำระเงินครบ ทั้งจำนวนตามราคาที่ประมูลซื้อไปได้ โดย ผู้ประมูลรถยนต์ได้ต้องรับผิดชอบ ค่าธรรมเนียม, ค่าภาษี,ค่าปรับ,ค่าจดทะเบียนในการขอใช้รถใหม่ (กรณีรถยนต์ ที่ประมูลได้มีการแจ้งหยุดการใช้รถไว้) และเงินเพิ่มภาษีนิติบุคคล (รถประมูลแบบนิติบุคคลที่โอนไม่เกิน 2ต่อ) รวมถึงค่าใช้จ่ายอื่นใด ที่เกี่ยวข้องกับการ จดทะเบียนโอน และ การรับโอนกรรมสิทธิ์</li>
                        <li>กรณีที่ผู้ประมูลได้ ไม่โอนกรรมสิทธิ์ให้เสร็จตามที่กฎหมายกำหนด ผู้ขายอาจ พิจารณาแจ้งยกเลิกการใช้รถ</li>
                        <li>กรณีที่ผู้ประมูลไม่ทำการขนย้ายสินค้าออกจากพื้นที่ของบริษัทฯ ภายในเวลา 7 วันทำการ นับจากวันประมูล บริษัทฯ จะคิดค่าจอดกับผู้ประมูลวันละ 50 บาทต่อวันนับจากวันที่ครบกำหนดขนย้าย</li>
                        <li>บริษัทฯ จะจัดส่งเล่มทะเบียนของรถบุคคลรับได้ภายใน 7-15 วัน และรถนิติบุคคลประมาณ 15-30 วัน</li>
                        <li>รถที่เข้าประมูลทุกคันมีการยกเลิก กรมธรรม์ประกันภัยและ พ.ร.บ. แล้ว</li>
                    </ol>
                    <b>การออกใบเสร็จรับเงิน/ใบกำกับภาษี</b>
                    <ol>
                        <li>บริษัทฯ จะดำเนินการเปิดใบเสร็จ/ใบกำกับภาษี ตามชื่อและที่อยู่ของผู้ลงทะเบียน และ/หรือผู้เข้าร่วมประมูลเท่านั้นไม่มีการแก้ไขใบเสร็จ/ใบกำกับภาษีให้ในภายหลัง</li>
                        <li>หากผู้ประมูลได้มีความประสงค์ที่จะขอเปลี่ยนแปลงชื่อ-ที่อยู่ / ชื่อบุคคล หรือนิติบุคคลอื่น ที่ต้องการระบุในใบเสร็จ/ใบกำกับภาษี หลังจากวันประมูล ผู้ประมูลได้ต้องชำระเงินค่าใช้จ่ายในการเปลี่ยนแปลงข้อมูลดังกล่าวเป็นเงินจำนวน 20,000 บาท ต่อ 1 รายการ</li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                    <h4 class="nlinexx">เงื่อนไขในการส่งรถเข้าร่วมประมูล</h4>
                    <ol>
                        <li>
                            <b>การนำรถเข้าร่วมประมูล</b><br>
                            <ul>
                                <li>ผู้ส่งไม่เสียค่าใช้จ่ายใดๆทั้งสิ้น</li>
                                <li>ฟรีดำเนินการประชาสัมพันธ์ รายการรถก่อนที่จะทำการประมูลขายทอดตลาด</li>
                                <li>ฟรีทำความสะอาดรถ และสตาร์ทรถให้ติด (ถ้าอุปกรณ์ครบ)</li>
                                <li>ฟรีค่าดำเนินการประมูลขายทอดตลาด</li>
                                <li>ฟรีค่าบริการเก็บรักษาก่อนการประมูลขายทอดตลาด</li>
                                <li>ฟรีการประเมินราคา ก่อนที่จะนำเข้าประมูล</li>
                                <li>ฟรีบริการทำความสะอาด และลอกหมายเลขเครื่อง-เลขถังเพื่อโอนรถ</li>
                                <li>ฟรีบริการรักษาความปลอดภัยตลอด 24 ชม.และมีระบบกล้องโทรทัศน์วงจรปิด พร้อมทั้งประกันอัคคีภัย</li>
                                <li>ฟรีค่าจอด</li>
                            </ul>
                        </li>
                        <li>
                            <b>ดำเนินการจัดการประมูล</b><br>รถยนต์ที่เข้าประมูลทุกคัน ต้องได้รับการล้างทำความสะอาดเสียก่อน บริษัทฯถึงจะจัดให้เข้าเลนประมูล<br>
                            <ul>
                                <li>กรณีที่ผู้ส่งให้เปิดราคาเริ่มต้นที่ราคาขั้นต่ำ ทางโฆษก (Announcer) จะเริ่มประกาศราคาขั้นต่ำที่กำหนดให้เป็นราคาเปิดประมูล ผู้ให้ราคาสูงสุดเป็นผู้ชนะการประมูล ถ้าไม่มีผู้ประมูล ก็จะให้ผู้ประมูลฝากราคาไว้ เพื่อให้ผู้ส่งเป็นผู้พิจารณา หลังจากแจ้งผ่านรถยนต์คันดังกล่าว</li>
                                <li>กรณีที่ผู้ส่งไม่ให้เปิดราคาเริ่มต้นที่ราคาขั้นต่ำ ทางโฆษก (Announcer) จะให้ผู้ประมูลเสนอราคาแข่งขันกัน เมื่อถึงราคาขั้นต่ำ ก็จะเริ่มประมูล กรณีที่ไม่มีผู้ประมูลเสนอราคาหรือเสนอราคาไม่ถึงราคาขั้นต่ำ โฆษกจะผ่านรถยนต์รายการนี้ไป และจะแจ้งให้ผู้ส่งทราบว่าราคาสุดท้ายที่ผู้ประมูลเสนอมานั้นราคาเท่าไหร่</li>
                            </ul>
                        </li>
                        <li>
                            <b>แจ้งยอดขายและโอนเงิน</b><br>
                            <ul>
                                <li>เมื่อดำเนินการประมูลเสร็จสิ้นแล้ว บริษัทฯ จะเรียกเก็บค่าสินค้าจากลูกค้าให้ชำระเต็มจำนวน ภายในระยะเวลา 3 วัน นับจากวันประมูลและจะแจ้งรายการขายให้กับผู้ส่งประมูลรับทราบเพื่อเตรียมเอกสารสำหรับรถยนต์ที่ถูกประมูล</li>
                                <li>เมื่อลูกค้าชำระเงินครบถ้วน 100% แล้ว บริษัทฯ จะโอนเงินค่าสินค้าของผู้ส่ง คืนให้ภายใน 3 วัน</li>
                                <li>กรณีที่ลูกค้าผู้ประมูลไม่ชำระค่าสินค้าในระยะเวลาที่กำหนด ทางบริษัทฯ จะแจ้งให้ผู้ส่งรับทราบ บริษัทฯ จะโอนค่าสินค้าในส่วนที่ถูกชำระแล้ว ให้กับผู้ส่งสินค้าก่อน ในส่วนที่เหลือ จะนำเข้าประมูลในครั้งต่อไปตามคำสั่งของผู้ส่ง และจะดำเนินการตามกฎหมายกับลูกค้าผู้ประมูลสินค้าดังกล่าวด้วย</li>
                                <li>กรณีที่นำสินค้าเข้าประมูลใหม่ ราคาที่ถูกประมูลออกไปต่ำกว่าราคาที่ถูกประมูลครั้งก่อน ลูกค้าผู้ประมูลได้ครั้งแรก จะต้องชำระเพิ่มในส่วนต่าง แต่ถ้าราคาสูงกว่าบริษัทฯ จะโอนให้เต็มจำนวนตามราคาที่ถูกประมูล</li>
                            </ul>
                        </li>
                        <li>
                            <b>การตรวจรับรถยนต์</b><br>บริษัทฯ มีเจ้าหน้าที่ตรวจสภาพรถยนต์ โดยดำเนินการดังนี้<br>
                            <ul>
                                <li>รถยนต์ที่ถูกตรวจสภาพแล้ว สามารถวิ่งเข้าประมูลได้ บริษัทฯ นำไปจอดเก็บไว้ เพื่อรอการล้างทำความสะอาด เพื่อวิ่งเข้าประมูล</li>
                                <li>รถยนต์ที่ถูกตรวจสภาพแล้วต้องมีการปรับปรุง ซ่อมแซม บริษัทฯ จะแจ้งให้ผู้ส่ง รับทราบและรอดำเนินการตามคำสั่งของผู้ส่ง</li>
                                <li>มีการตรวจเช็ค 60จุด รอบคันรถ</li>
                                <li>มีการตรวจรับรถ ตลอด 24ชั่วโมง</li>
                            </ul>
                        </li>
                        <li>
                            <b>ค่าใช้จ่ายที่เกินขึ้นจากการซ่อม</b><br>เมื่อมีการขนส่งรถที่ไม่สามารถขับได้ หรือรถที่ มีการปรับปรุง ซ่อมแซม จะแจ้งให้ผู้ส่งรับทราบ เมื่อต้องการให้ซ่อม บริษัทฯจะคิดค่าใช้จ่ายในการซ่อมแซมกับผู้ส่ง
                        </li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">
                    <h4 class="nlinexx">ระเบียบการประมูลโดยวิธีการยกป้ายและเงื่อนไขการชําระเงิน</h4>
                    <b>ผู้เข้าร่วมประมูล</b>
                    <ol>
                        <li>ก่อนวันประมูลผู้ประมูลสามารถรับรายการสินค้าได้ทาง Internet หรือที่ หน้า Counter บริษัทฯ</li>
                        <li>ผู้ประมูลสามารถตรวจสภาพ และข้อมูลรถยนต์ก่อน วันประมูล 1 วัน</li>
                        <li>สินค้าทั้งหมดขายตามสภาพ ผู้ประมูลรับทราบรายละเอียดข้อมูลตลอดจนได้พิจารณาสภาพรถยนต์ดีแล้ว บริษัท,ผู้ขาย หรือ โฆษก ขอสงวนสิทธิ์ที่จะไม่รับผิดชอบในข้อผิดพลาดของรายละเอียดสินค้า จำนวนสินค้ารวมถึงไม่มีการรับประกันสภาพสินค้า</li>
                        <li>กรณีที่ผู้ประมูลต้องการขอสินเชื่อในการซื้อกรุณาติดต่อเจ้าหน้าที่การตลาด เช่า-ซื้อล่วงหน้า 7 วันทำการ ก่อนวันประมูล เพื่อยื่นขออนุมัติสินเชื่อมิฉะนั้น หากชนะประมูลต้องรับผิดชอบตามเงื่อนไขการประมูลข้อ 13,และ 14 หรือข้อ21ที่จะกล่าวต่อไปข้างล่างนี้</li>
                        <li>
                            การลงทะเบียนวันประมูลผู้เข้าร่วมประมูลมาลงทะเบียนและมัดจำป้ายหมายเลขประมูล 20,000 บาท ด้วยเงินสดหรือแคชเชียร์เช็ค การกรอกแบบฟอร์มลงทะเบียนคือการยอมรับข้อตกลงที่ระบุในแบบฟอร์ม เอกสารที่ต้องใช้<br>
                            <ul>
                                <li>บุคคลธรรมดา : สำเนาบัตรประชาชน</li>
                                <li>นิติบุคคล : สำเนาหนังสือรับรองบริษัท ฯ, บัตรประชาชนของผู้มีอำนาจลงนาม, ภพ 20</li>
                            </ul>
                        </li>
                        <li>
                            กรณีลงทะเบียนประมูลทาง Internet (Auction On line) ผู้ประมูลจะต้องลงทะเบียนทาง Internet หรือจะมาลงทะเบียนที่หน้าลานก็ได้ โดยแจ้งแก่พนักงานว่า จะประมูลทาง Internet ทางบริษัทฯ ก็จะทำการส่ง User Name และ Pass Word ให้กับลูกค้า ทาง SMS และ ทาง E-MAIL แต่ผู้ประมูลจะต้อง วางเงินมัดจำป้ายหมายแลขประมูลและวางเงินประกันค่าสินค้า เป็นเงิน จำนวน 100,000 บาท โดยท่านไม่ต้องชำระเงินค่ามัดจำสินค้า 10 % และค่าดำเนินการ ที่หน้างาน ตามข้อ 14 และเงินที่วางประกัน 100,000 บาทนี้ ถือว่าเป็นการชำระหนี้เบื้องต้น และบริษัทจะเรียกเก็บในส่วนที่เหลือ โดยมีกำหนดต้องชำระภายใน 3 วัน นับจากวันที่ประมูล<br><br>
                            <b>การโอนเงิน</b><br>
                            โอนเงินผ่านทางธนาคารโดยใช้ใบ โอนเงิน แฟกซ์มาให้ ทางบริษัทฯ เบอร์ 038-155-250<br>
                            หมายเลขบัญชีธนาคาร: สั่งจ่าย “บริษัท สหเครน อ๊อกชั่นจำกัด”<br>
                            <ul>
                                <li>ธนาคารกสิกรไทย สาขาบางปะกง เลขที่บัญชี 318-2-544034 บัญชีออมทรัพย์</li>
                                <li>ธนาคารกรุงเทพ สาขาบางปะกง เลขที่บัญชี 386-4-149194 บัญชีออมทรัพย์</li>
                                <li>ธนาคารกรุงศรีอยุธยา สาขาบางปะกง เลขที่บัญชี 085-1-480380 บัญชีออมทรัพย์</li>
                            </ul><br>
                        </li>
                        <li>
                            วิธีประมูลโฆษกเริ่มต้นจากราคาเปิดผู้ประมูลแสดงเจตนาการซื้อด้วยการยกป้ายโดยราคาจะปรับขึ้นครั้งละ:-
                            <ul>
                                <li>2,000 บาท / การยก 1 ครั้งในรถยนต์ ที่มีราคาตั้งแต่ 1 บาท ถึง 1,000,000 บาท</li>
                                <li>10,000 บาท / การยก 1 ครั้งในรถยนต์ที่มีราคาตั้งแต่ 1,000,001 บาท ขึ้นไป</li>
                            </ul>
                            เมื่อค้อนกระทบแป้นถือว่าได้ทำการขายรถยนต์แล้ว ณ.ราคาสุดท้ายและไม่สามารถต่อรองราคาได้
                        </li>
                        <li>ผู้ประมูลที่ให้ราคาสูงสุดคือผู้ชนะการประมูลมีสิทธิในการซื้อรถยนต์<br>ในกรณีที่มีการโต้แย้ง หรือ มีเหตุอันควรโฆษกมีอำนาจตัดสินใจนำรถกลับเข้าประมูลใหม่ได้อีกครั้ง</li>
                        <li>ผู้ขายได้มอบสิทธิให้โฆษกมีอำนาจในการขายสินค้าตามรายการและไม่ให้ผู้ใดทำการยกเลิกการประมูลหลังจากที่ได้ทำการขายไปแล้ว</li>
                        <li>โฆษกสามารถที่จะรอการให้ราคาจากผู้ซื้อสามารถที่จะรับหรือไม่รับราคาประมูลใดๆ และมีสิทธิที่จะถอนการประมูลสินค้ารายการใดๆออกจากการขาย</li>
                        <li>การประมูลทุกครั้งจะถูกบันทึกเทปซึ่งใช้เป็นหลักฐาน และ ยืนยันการขายโดยโฆษกจะกรอกหมายเลขผู้ซื้อและราคาลงใน “ใบบันทึกราคาขาย”</li>
                        <li>ผู้ชนะประมูลมีหน้าที่ตรวจสอบสภาพรถยนต์และความเสียหายที่เกิดขึ้นรวมถึงภาระทุกอย่างที่เกี่ยวข้องกับรถยนต์ทันทีหลังจากโฆษกประกาศ “ขาย”</li>
                        <li>ผู้ชนะการประมูลต้องลงลายมือใน “ใบยืนยันการประมูลรถยนต์ฯ” เอกสารหลักฐานการประมูล และ ติดต่อห้องทะเบียนเพื่อรับผลสรุปการซื้อ และชำระเงิน ตามข้อ 13</li>
                        <li>
                            การชำระเงินผู้ชนะการประมูลต้องชำระเงินในวันประมูล ดังนี้
                            <ul>
                                <li>วางเงินมัดจำขั้นต่ำ 10% ของราคาที่ประมูลได้</li>
                                <li>ภาษีมูลค่าเพิ่ม 7% ของเงินมัดจำ (กรณีรถที่มีภาษีมูลค่าเพิ่ม)</li>
                                <li>ชำระส่วนที่เหลือ 90%ภายใน 3 วันทำการ</li>
                                <li>หรือชำระครบ 100%รับรถได้เลย</li>
                                <li>ค่าใช้จ่ายอื่นๆ(เช่น ค่าขนย้าย ค่าโอน ค่าทำกุลแจ ค่าภาษี ค่ามัดจำเล่ม ค่ามัดจำชุดโอน ค่าปรับคดีจราจร)ซึ่งระบุไว้ในรายการรถ</li>
                                <li>รถประมูลที่ถูกอายัดโดยกรมการขนส่งทางบก คดีจราจร ผู้ชื้อต้องเป็นผู้รับผิดชอบเอง</li>
                            </ul>
                            <b>ค่าดำเนินการประมูล</b>
                            <ul>
                                <li>รถ 4 ล้อ 8,560 บาท (รวม VAT 7%)</li>
                                <li>รถจักรยานยนต์ ไม่เกิน 150 C.C. 1,605 บาท (รวม VAT 7%)</li>
                                <li>รถจักรยานยนต์ มากกว่า 151 C.C. 3,852 บาท (รวม VAT 7%)</li>
                                <li>รถ 6 ล้อ 9,630 บาท (รวม VAT 7%)</li>
                                <li>รถ 10 ล้อ 12,840 บาท (รวม VAT 7%)</li>
                            </ul>
                            ผู้ชนะประมูลจะต้องชำระเงินในการซื้อรถยนต์ส่วนที่เหลือ ภายในเวลา 3 วันทำการนับจากวันประมูล (ดูเงื่อนไขข้อ 21 ข้างล่างประกอบ)
                        </li>
                        <li> กรณีผู้ซื้อประมูลได้ ไม่ปฏิบัติตามข้อ 12,และ13 ถือว่าท่านมีเจตนาก่อกวน และทำให้เกิดความเสียหายกับบริษัทฯ และผู้ซื้ออื่น บริษัทฯ จะดำเนินการกับท่านตามที่เห็นสมควร</li>
                        <li>การขนย้ายสินค้าหลังจากผู้ประมูลซื้อสินค้าได้และ ชำระเงินครบทั้งจำนวนแล้วจะต้องทำ การขนย้ายสินค้าออกจากพื้นที่ของบริษัทฯ ภายในเวลา 7 วันทำการ นับจากวันประมูล</li>
                        <li>ผู้ชนะประมูลเป็นผู้รับผิดชอบในการชำระค่าขนส่งและขนย้ายสินค้ารวมถึง ค่าใช้จ่ายอื่นๆ ที่เกิดขึ้น โดยบริษัทฯ จะแจ้งให้ทราบในรายการรถเข้าประมูล</li>
                        <li>ความเสียหายทั้งหมดที่เกิดขึ้นต่อทรัพย์สินและบุคคลระหว่างการย้ายสินค้าที่ประมูลได้ เป็นหน้าที่รับผิดชอบของผู้ประมูลได้</li>
                        <li>การโอนกรรมสิทธิ์จะเกิดขึ้นได้ต่อเมื่อ ผู้ประมูลได้ทำการชำระเงินครบ ทั้งจำนวนตามราคาที่ประมูลซื้อไปได้ โดย ผู้ประมูลรถยนต์ได้ต้องรับผิดชอบค่าธรรมเนียม,ค่าภาษี,ค่าปรับ,ค่าจดทะเบียนในการขอใช้รถใหม่ (กรณีรถยนต์ ที่ประมูลได้มีการแจ้งหยุดการใช้รถไว้) และเงินเพิ่มภาษีนิติบุคคล (รถประมูลแบบนิติบุคคลที่โอนไม่เกิน 2 ต่อ)รวมถึงค่าใช้จ่ายอื่นใด ที่เกี่ยวข้องกับการ จดทะเบียนโอน และ การรับโอนกรรมสิทธิ์</li>
                        <li>กรณีที่ผู้ประมูลได้ ไม่โอนกรรมสิทธิ์ให้เสร็จตามที่กฎหมายกำหนด ผู้ขายอาจ พิจารณาแจ้งยกเลิกการใช้รถ</li>
                        <li>ในกรณีที่ผู้ประมูลไม่ชำระเงินค่ารถยนต์ส่วนที่เหลือที่ประมูลได้ให้แก่บริษัทฯ ภายใน 3 วันทำการ นับจากวันประมูล บริษัทฯและผู้ขายขอสงวน สิทธิ์ที่จะริบเงินมัดจำ และ สามารถที่จะเรียกร้องให้ผู้ประมูลชดใช้ค่าเสียหายจากการสูญเสียที่เกิดขึ้น หรือผลเนื่องจากการไม่ปฏิบัติตามเงื่อนไขการประมูล</li>
                        <li>การเปลี่ยนชื่อหากผู้ประมูลได้มีความประสงค์ที่จะขอเปลี่ยนแปลงชื่อ-ที่อยู่ / ชื่อบุคคล หรือนิติบุคคลอื่น ที่ต้องการระบุในใบเสร็จหลังจากการลงทะเบียน ผู้ประมูลได้ต้องชำระเงินค่าใช้จ่ายในการเปลี่ยนแปลงข้อมูลดังกล่าวเป็นเงินจำนวน 20,000 บาท ต่อ 1 รายการ</li>
                        <li>การรับเล่มทะเบียนของรถบุคคลรับได้ภายใน 7-15 วัน และรถนิติบุคคลประมาณ 15-30 วัน</li>
                        <li>รถที่เข้าประมูลทุกคันมีการยกเลิก กรมธรรม์ประกันภัยและ พรบ. แล้ว</li>
                        <li>บริษัทขอสงวนสิทธิ์การตัดสินของผู้ดำเนินการประมูลถือเป็นที่สิ้นสุดและเด็ดขาดในวันประมูล</li>
                        <li>รถยนต์ที่นำออกประมูลขายถือเป็นสินค้าใช้แล้ว คุณภาพไม่สมบูรณ์ จึงขึ้นอยู่กับดุลพินิจความพอใจของผู้ประมูลชื้อเท่านั้น บริษัทฯไม่รับเปลี่ยน หรือรับคืนใดๆ ทั้งสิ้น</li>
                    </ol>
                </div>*@

            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Home/inc_footer.cshtml");
    }
    <script>
        $('.nav-item.navbar-link').eq(3).addClass('active');
    </script>
</body>
</html>
<script>
    $(document).ready(function () {
        howto();
    });
    function howto() {
        $.ajax({
            url: "/Home/data_howto",
            success: function (data) {
                if (data != null) {
                    var i = 0;
                    data.map(function (howto) {
                        if (i == 0) {
                            var topic = '<li class="nav-item">' +
                                '<a class="nav-link active" id="pills-' + howto.id + '-tab" data-toggle="pill" href="#pills-' + howto.id + '" role="tab" aria-controls="pills-' + howto.id + '" aria-selected="true">' + howto.topic + '</a>' +
                                '</li>';
                            $("#pills-tab").append(topic);


                            var content = '<div class="tab-pane fade show active" id="pills-' + howto.id + '" role="tabpanel" aria-labelledby="pills-' + howto.id + '-tab"><h4 class="nlinexx">' + howto.topic + '</h4>' + howto.textarea + '</div>';
                            $("#pills-tabContent").append(content);
                            i++;
                        } else {
                            var topic = '<li class="nav-item">' +
                                '<a class="nav-link" id="pills-' + howto.id + '-tab" data-toggle="pill" href="#pills-' + howto.id + '" role="tab" aria-controls="pills-' + howto.id + '" aria-selected="true">' + howto.topic + '</a>' +
                                '</li>';
                            $("#pills-tab").append(topic);


                            var content = '<div class="tab-pane fade show" id="pills-' + howto.id + '" role="tabpanel" aria-labelledby="pills-' + howto.id + '-tab"><h4 class="nlinexx">' + howto.topic + '</h4>' + howto.textarea + '</div>';
                            $("#pills-tabContent").append(content);
                        }


                    });
                }

            }
        });
    }
</script>