﻿<div id="footer">
    <div class="footer-top bg-darkGray">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12" style="display:block;margin-left:35%;margin-right:35%;">
                    <h2 class="text-white">ติดต่อเรา</h2>
                    <ul class="fa-ul text-white list-footer-paddingRight">
                        <li><span class="fa-li"><i class="fas fa-home text-yellow"></i></span>309 หมู่ 3 ถนนบางนา-ตราด กม.54 ตำบลคลองตำหรุ อำเภอเมือง จังหวัด ชลบุรี 20000</li>
                        <li><span class="fa-li"><i class="fas fa-phone text-yellow"></i></span>โทร : 033 - 033 - 871 ถึง 3 </li>
                        <li><span class="fa-li"><i class="fas fa-fax text-yellow"></i></span>แฟกซ์ : 033 - 033 - 874</li>
                        <li><span class="fa-li"><i class="fas fa-mobile-alt text-yellow"></i></span>มือถือ : 061 - 820 - 9155</li>
                        @*<li><span class="fa-li"><i class="fas fa-mobile-alt text-yellow"></i></span>มือถือ : 099 - 286 - 6072</li>*@
                        <li><span class="fa-li"><i class="fas fa-envelope text-yellow"></i></span>admincar@sahaauction.com</li>
                    </ul>
                    <div class="row">
                        <div class="col-12 d-flex align-middle text-white align-items-center">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a href="https://www.facebook.com/sahacrane.carauction/" target="_blank" style="color:white" class="nav-link"><img src="~/Template_saha/images/icon-facebook.svg" class="mr-2"> Sahacrane auction</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Template_saha/images/line_sha123.png" target="_blank" class="nav-link" style="color:white"><img src="~/Template_saha/images/icon-line.svg" class="mr-2"> @@sha.123</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-6">
                    <h2 class="text-white">QUICK LINKS</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="nav flex-column text-white">
                                <li class="nav-item border-bottomW20"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> ประมูลรถอย่างไร</a></li>
                                <li class="nav-item border-bottomW20"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> การตรวจสภาพรถก่อนประมูล</a></li>
                                <li class="nav-item border-bottomW20"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> ต้องการส่งรถเข้าประมูล</a></li>
                                <li class="nav-item border-bottomW20"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> สมัครงาน</a></li>
                                <li class="nav-item"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> ติดต่อเจ้าหน้าที่</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="nav flex-column text-white">
                                <li class="nav-item border-bottomW20"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> กฎระเบียบ</a></li>
                                <li class="nav-item border-bottomW20"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> ลงทะเบียน</a></li>
                                <li class="nav-item border-bottomW20"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> เข้าสู่ระบบ</a></li>
                                <li class="nav-item border-bottomW20"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> อัลบั้มภาพ</a></li>
                                <li class="nav-item"><a href="" class="text-white"><i class="fas fa-angle-right text-yellow"></i> กิจกกรม</a></li>
                            </ul>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom bg-black">
    <div class="container py-2 text-center">
        <p class="small text-white mb-0 font-weight-light">Copyright &#169; 2019 sahaauc | All Rights Reserved.</p>
    </div>
</div>
