﻿<nav class="navbar navbar-light bg-lightGgray navbar-expand-md">
    <a class="navbar-brand" href="/Home/Index">
        <div class="d-none d-lg-block">
            <img src="~/Template_saha/images/logo_desktop604.png" class="align-top" alt="" id="desktop-logo">
        </div>
        <div class="d-block d-lg-none">
            <img src="~/Template_saha/images/logo_desktop604.png" class="align-top" alt="" id="desktop-logo" style="width: 100%;">
            @*<img src="~/Template_saha/images/logo_mobile.png" class="align-top" alt="" id="mobile-logo">*@
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="width:20px"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav" style="font-size:18px;font-weight:800">
        <ul class="navbar-nav ml-auto">
            <!--<div class="" id="top-telNo">
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-phone"></i></span>โทร : 033 - 033 - 871</li>
            <li><span class="fa-li"><i class="fas fa-fax"></i></span>แฟกซ์ : 033 - 033 - 874</li>
            <li><span class="fa-li"><i class="fas fa-mobile-alt"></i></span>มือถือ : 061 - 820 - 9155</li>
            <li><span class="fa-li"><i class="fas fa-mobile-alt"></i></span>มือถือ : 099 - 286 - 6072</li>
        </ul>
    </div>-->
            <li class="nav-item py-md-2 navbar-link"><a href="/Home/index" class="nav-link">หน้าแรก</a></li>
            <li class="nav-item py-md-2 navbar-link"><a href="/Home/about" class="nav-link">เกี่ยวกับเรา</a></li>
            <li class="nav-item py-md-2 navbar-link"><a href="/Home/search" class="nav-link">ค้นหาเล่มทะเบียน</a></li>
            <li class="nav-item py-md-2 navbar-link"><a href="/Home/howto" class="nav-link">วิธีการประมูล</a></li>
            <li class="nav-item py-md-2 navbar-link"><a href="/Home/auction_login" class="nav-link">สมัคร<br>ประมูลออนไลน์</a></li>
            <li class="nav-item py-md-2 navbar-link"><a href="/Home/news" class="nav-link">ข่าวสาร</a></li>
            <li class="nav-item py-md-2 navbar-link"><a href="/Home/contact" class="nav-link">ติดต่อเรา<br>แผนที่ สต็อก</a></li>
            <li class="nav-item py-md-2 navbar-link"><a href="https://www.sahacrane.com/ข้อร้องเรียน/" target="_blank" class="nav-link">ข้อร้องเรียน</a></li>
        </ul>
    </div>
</nav>
<div style="height:15px;min-height:10px;background-color:#fec900;width:100%;max-width:100%;"></div>
<div style="height:5px;background-color:#696d70;width:100%;max-width:100%;"></div>