﻿@model Sahaauction.Controllers.HomeController
@{ int i = 1;}
<!doctype html>
<html lang="th">
<head>

    <title>SAHA CRANE Auction - Home</title>
    @{
        Html.RenderPartial("~/Views/Home/inc_header.cshtml");
    }
    <script src="~/Template_saha/js/modernizr.js"></script>
    <!--font Slick-->
    <link href="~/Template_saha/slick/fonts/slick.ttf" rel="stylesheet" type="text/css">
    <link href="~/Template_saha/slick/fonts/slick.eot" rel="stylesheet" type="text/css">
    <link href="~/Template_saha/slick/fonts/slick.svg" rel="stylesheet" type="text/css">
    <link href="~/Template_saha/slick/fonts/slick.woff" rel="stylesheet" type="text/css">
    <!--Slick-->
    <link rel="stylesheet" type="text/css" href="~/Template_saha/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Template_saha/slick/slick-theme.css" />

    <style>
        .text-car-hide {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .fa-eye {
            /*color: white;
            position: absolute;
            margin-top: -22%;
            margin-left: -42%;*/
            float: left;
        }
    </style>
</head>
<body>

    @{
        Html.RenderPartial("~/Views/Home/inc_navbar.cshtml");
    }
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @*<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>*@
        </ol>
        <div class="carousel-inner">
            <div id="inner-banner"></div>
            @*<div class="carousel-item active">
                    <img src="~/Template_saha/images/smaple_banner.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Template_saha/images/smaple_banner.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Template_saha/images/smaple_banner.jpg" class="d-block w-100" alt="...">
                </div>*@
        </div>
    </div>
    @if (ViewBag.banner != null)
    {
        <div class="bg-lightGgray" id="banner-mini">
            <div class="container text-center py-5">
                <div class="owl-carousel banner-slide2 owl-theme">
                    @foreach (var b in ViewBag.banner)
                    {
                        if (b.status == 2 && b.status_view != 1)
                        {
                            var URL = "#";
                            if (b.URL != null)
                            {
                                URL = b.URL;
                            }
                            else if (b.URL_upload != null)
                            {
                                URL = b.URL_upload;
                            }
                            <a href="@URL" target="_blank"><img src="@b.path" class="mw-100"></a>
                        }
                    }
                    @*<div><img src="~/Template_saha/images/sample_banner2.jpg" class="mw-100"></div>
                        <div><img src="~/Template_saha/images/sample_banner2.jpg" class="mw-100"></div>*@
                </div>
            </div>
        </div>
    }

    <div class="bg-white">
        <!-- <svg id="bigTriangleColor" class="fill-yellow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="70" viewBox="0 0 100 102" preserveAspectRatio="none">
             <path d="M0 0 L50 100 L100 0 Z" />
         </svg>-->
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-deepGray font-weight-medium mb-5">ปฏิทินการประมูล</h2>
                </div>
                <div class="col-lg-6">
                    <div id="calendar"></div>

                    <div style="display:none;" id="calender-detail">
                        @*<div id="802020">
                                <h5>รายการประมูลประจำวันที่ 8 มกราคม 2020</h5>
                                <hr>
                                <ol class="list-group auctionList">
                                    <li class="list-group-item">1. ประมูลรถยนต์นิติบุคคล วันพุธที่ 8 มกราคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>
                                    <li class="list-group-item">2. ประมูลรถจักรยานยนต์ วันพุธที่ 8 มกราคม 2562 <a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>
                                </ol>
                            </div>*@
                    </div>
                    <style>
                        .ui-datepicker td a {
                            position: relative;
                        }

                            .ui-datepicker td a p {
                                position: absolute;
                                margin-bottom: 0;
                                bottom: 5px;
                                right: 5px;
                                width: 100%;
                                text-align: right;
                                height: auto;
                                line-height: 1;
                                font-size: 0.8em;
                            }
                    </style>
                </div>
                <div class="col-lg-6">
                    <div class="accordion accordion-calendar" id="accordionExample">
                        <div class="card border-0">
                            <button class="btn text-left p-0 rounded-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="accordion-collapse1">
                                <div class="card-header d-flex align-items-center" id="headingOne">
                                    <div class="flex-grow-1">
                                        <span class="fa-stack fa-2x">
                                            <i class="fas fa-square-full fa-stack-2x" style="color: #ff3700"></i>
                                            <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <span class="mb-0">
                                            วันหยุดประจำเดือน
                                        </span>
                                    </div>
                                    <div>
                                        <span class="h6 font-weight-light badge badge-white" id="num-dayoff"></span>
                                    </div>
                                </div>
                            </button>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body p-0">
                                    <ul class="list-group calendarList" id="calender-dayoff"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <button class="btn text-left p-0 rounded-0" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="accordion-collapse2">
                                <div class="card-header d-flex align-items-center" id="headingTwo">
                                    <div class="flex-grow-1">
                                        <span class="fa-stack fa-2x">
                                            <i class="fas fa-square-full fa-stack-2x" style="color: #fec900"></i>
                                            <i class="fas fa-cubes fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <span class="mb-0">
                                            กิจกรรมการประมูล
                                        </span>
                                    </div>
                                    <div>
                                        <span class="h6 font-weight-light badge badge-white" id="num-event"></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body p-0">
                                    <ul class="list-group calendarList" id="calender-event"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <button class="btn text-left p-0 rounded-0" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="accordion-collapse3">
                                <div class="card-header d-flex align-items-center" id="headingThree">
                                    <div class="flex-grow-1">
                                        <span class="fa-stack fa-2x">
                                            <i class="fas fa-square-full fa-stack-2x" style="color: #57a029"></i>
                                            <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <span class="mb-0">
                                            รายการสินค้าประมูล
                                        </span>
                                    </div>
                                    <div>
                                        <span class="h6 font-weight-light badge badge-white" id="num-auction"></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body p-0">
                                    <ul class="list-group calendarList" id="calender-auction"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right pt-3">
                        <a href="/Home/event" target="_blank" class="btn btn-yellow rounded-0">ดูข้อมูลทั้งหมด</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-yellow">
        <!--<svg id="bigTriangleColor" class="fill-lightGgray" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="70" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>-->
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-deepGray font-weight-medium text-center">ค้นหารถเข้าประมูล</h2>
                    <div class="text-center">
                        <br />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1">
                        </div>

                        <div class="form-group col-md-4">
                            <input type="text" class="form-control form-control-rounded" name="card_brand_model" placeholder="ยี่ห้อ / รุ่น">
                        </div>
                        <div class="form-group col-md-3">
                            <select class="form-control form-control-rounded" id="caryear" name="caryear">
                                <option selected>ปีรถ</option>
                                <option>2000</option>
                                <option>2001</option>
                                <option>2002</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <select class="form-control form-control-rounded" id="inputPassword5" name="cartype">
                                <option value="0" selected>ประเภทรถ</option>
                                @*<option>รถยนต์</option>
                                    <option>รถจักรยานยนต์</option>
                                    <option>รถบรรทุก</option>
                                    <option>รถอุบัติเหตุ/รถขับไม่ได้</option>*@
                            </select>
                        </div>
                        <div class="form-group col-md-1 text-center">
                            <button type="button" class="btn btn-submitSearch btn-search"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-5">
                    <h2 class="text-deepGray font-weight-medium">ระเบียบการเข้าร่วมประมูล</h2>
                    <div class="paddingRight250">
                        <p class="text-deepGray">Lorem ipsum dolor sit amet, suspendisse volutpat nonummy. Mollis </p>
                    </div>
                    <ul>
                        <li><a href="">รถจักรยานยนต์</a></li>
                        <li><a href="">รถยนต์</a></li>
                        <li><a href="">รถบรรทุก</a></li>
                        <li><a href="">รถอุบัติเหตุ / รถขับไม่ได้</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
    <div class="bg-lightGgray">
        <svg id="bigTriangleColor" class="fill-yellow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="70" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-deepGray font-weight-medium">รายการประมูล</h2>
                    <br />
                    <div class="responsive2" id="auction_list">
                        @foreach (var p in ViewBag.auction)
                        {
                            <div onclick="selectGroup(@p.auct_auctionid)" style="cursor:pointer">
                                <div class="media list-auction">
                                    <div class="media-body" id="content-@p.auct_auctionid">
                                    </div>
                                    <img src="/Template_saha/images/icon-car.png" class="ml-3 align-self-center" alt="...">
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <svg id="bigTriangleColor" class="fill-lightGgray" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="70" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-deepGray font-weight-medium">รถไฮไลท์ประจำสัปดาห์</h2>
                    <br />
                    <div class="row" id="car-highlights">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray">
        <div class="container py-5">
            <h2 class="text-white font-weight-medium mb-4">PARTNER</h2>
            @if (ViewBag.status_partner <= 3)
            {
                <div class="owl-carousel owl-theme partner-slide responsive">
                    @foreach (var p in ViewBag.partner)
                    {
                        if (p.path != null && p.status_view != 1)
                        {
                            var URL = "#";
                            if (p.URL != null)
                            {
                                URL = p.URL;
                            }
                            else if (p.URL_upload != null)
                            {
                                URL = p.URL_upload;
                            }
                            <a href="@URL" target="_blank" class="text-center"><img src="@p.path" class="img-fluid mw-100 responsive"></a>
                        }
                        else if (p.link != null && p.status_view != 1)
                        {
                            var URL = "#";
                            if (p.URL != null)
                            {
                                URL = p.URL;
                            }
                            else if (p.URL_upload != null)
                            {
                                URL = p.URL_upload;
                            }
                            <a href="@URL" target="_blank" class="text-center"><img src="@p.link" class="img-fluid mw-100 responsive"></a>

                        }
                    }
                </div>
            }
            @if (ViewBag.status_partner > 3)
            {
                <div class="owl-carousel owl-theme partner-slide2 ">

                    @foreach (var p in ViewBag.partner)
                    {
                        if (p.path != null && p.status_view != 1)
                        {
                            var URL = "#";
                            if (p.URL != null)
                            {
                                URL = p.URL;
                            }
                            else if (p.URL_upload != null)
                            {
                                URL = p.URL_upload;
                            }
                            <a href="@URL" target="_blank" class="text-center"><img src="@p.path" class="img-fluid mw-100 responsive"></a>
                        }
                        else if (p.link != null && p.status_view != 1)
                        {
                            var URL = "#";
                            if (p.URL != null)
                            {
                                URL = p.URL;
                            }
                            else if (p.URL_upload != null)
                            {
                                URL = p.URL_upload;
                            }
                            <a href="@URL" target="_blank" class="text-center"><img src="@p.link" class="img-fluid mw-100 responsive"></a>

                        }
                    }
                </div>
            }
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="model-intro">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="body-intro" style="overflow-x:auto">

                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Home/inc_footer.cshtml");
    }

    <!--script-->
    <script type="text/javascript" src="~/Template_saha/slick/slick.min.js"></script>
    <script>
        $('.nav-item.navbar-link').eq(0).addClass('active');
    </script>
    <script>
        $(document).ready(function () {
            $('.banner-slide2').owlCarousel({
                stagepadding: 10,
                loop: true,
                margin: 10,
                dots: false,
                nav: true,
                navText: ["<img src='/Template_saha/images/ar-event-l.png'>", "<img src='/Template_saha/images/ar-event-r.png'>"],
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false,
                        dots: true

                    },
                    768: {
                        items: 1,
                        nav: true
                    },
                    1200: {
                        items: 1,
                        nav: true,
                        loop: true,
                        center: true
                    }
                }
            })
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.partner-slide').owlCarousel({
                stagepadding: 10,
                margin: 10,
                dots: false,
                nav: true,
                navText: ["<img src='/Template_saha/images/ar-event-l.png'>", "<img src='/Template_saha/images/ar-event-r.png'>"],
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false,
                        dots: true
                    },
                    768: {
                        items: 3,
                        nav: true
                    },
                    1200: {
                        items: 3,
                        nav: true,
                        loop: true
                    }
                }
            })
            $('.partner-slide2').owlCarousel({
                autoplay: true,
                stagepadding: 10,
                margin: 10,
                dots: false,
                nav: true,
                navText: ["<img src='/Template_saha/images/ar-event-l.png'>", "<img src='/Template_saha/images/ar-event-r.png'>"],
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false,
                        dots: true
                    },
                    768: {
                        items: 3,
                        nav: true
                    },
                    1200: {
                        items: 3,
                        nav: true,
                        loop: true
                    }
                }
            })
        });
    </script>
    <script>
        $(document).ready(function () {

            if (Modernizr.mq('(max-width: 767px)')) {
                var noperrow = 3;
                var norows = 1;
            } else if (Modernizr.mq('(max-width: 1024px)')) {
                var noperrow = 2;
                var norows = 2;
            } else {
                var noperrow = 3;
                var norows = 2;
            }

            $('.responsive2').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesPerRow: noperrow,
                rows: norows,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            //slidesToShow: 3,
                            //slidesToScroll: 3,
                            infinite: true,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            //slidesToShow: 3,
                            //slidesToScroll: 3,
                            infinite: true,
                            dots: true,
                            arrows: false
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            //slidesToShow: 1,
                            //slidesToScroll: 1,
                            dots: true,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            dots: true,
                            arrows: false
                        }
                    }
                ]
            });

        });
    </script>
</body>
</html>

<script>
    function addCustomH() {
        setTimeout(function () {
            var y = parseInt($(".ui-datepicker-year").html());
            $(".ui-datepicker-year").html(y + 543);

            var uisdw = $('.ui-state-default').outerWidth() / 1.5;
            $('.ui-state-default').css("line-height", uisdw + "px");
            $(".ui-state-default").tooltip();
            $('.auction .ui-state-default').tooltip('disable')
            $(".auction").each(function (index) {
                var YEAR = parseInt($(this).attr('data-year')) + 543;
                $(this).find('a').addClass('fancybox');
                $(this).find('a').append('<p>' + $(this).attr('title') + '</p>');
                $(this).find('a').attr("href", '#' + $(this).find('a').clone().children().remove().end().text() + $(this).attr('data-month') + YEAR);
            });

            $(".auction a.fancybox").fancybox({
                touch: false,
                afterClose: function () {
                    location.reload(true);
                }
            });
        }, 0)
    }
    var holidayDates = {};
    var activityDates = {};
    var auctionDates = {};
    var status_show = "show";
    $(document).ready(function () {
        banner();
        car_highlights();
        calendars();
        setTimeout(function () {
            auction();
        }, 100);
        CarType();
        CarYear();
        //CarAuction();
    });
    function banner() {
        status_show = sessionStorage.getItem("intro");
        $.ajax({
            url: "/Home/banner",
            success: function (data) {
                var i = 0;
                data.map(function (banner) {
                    if (banner.status == 1 && banner.status_view == 0) {
                        var URL = "#";
                        if (banner.URL != null) {
                            URL = banner.URL;
                        } else if (banner.URL_upload != null) {
                            URL = banner.URL_upload;
                        }
                        if (i == 0) {
                            var banner = '<a href="' + URL + '" target="_blank" class="carousel-item active">' +
                                '<img src="' + banner.path + '" class="d-block w-100" alt="...">' +
                                '</a>';
                            $("#inner-banner").append(banner);

                            var in_banner = '<li data-target="#carouselExampleIndicators" data-slide-to="' + i + '" class="active"></li>';
                            $("ol.carousel-indicators").append(in_banner);

                        } else {
                            var banner = '<a href="' + URL + '" target="_blank" class="carousel-item">' +
                                '<img src="' + banner.path + '" class="d-block w-100" alt="...">' +
                                '</a>';
                            $("#inner-banner").append(banner);

                            var in_banner = '<li data-target="#carouselExampleIndicators" data-slide-to="' + i + '"></li>';
                            $("ol.carousel-indicators").append(in_banner);
                        }
                        i++;
                    }
                    if (status_show == null) {
                        if (banner.status == 3 && banner.status_view == 0) {
                            $("#body-intro").html(banner.name);
                            $("#model-intro").modal("show");
                        } else if (banner.status == 3 && banner.status_view == 1) {
                            $("#model-intro").modal("hide");
                        }
                    }


                });
                if (i == 0) {
                    document.getElementById("carouselExampleIndicators").style.display = "none";
                }
            }
        });
        sessionStorage.setItem("intro", "hide");

    }
    function car_highlights() {
        $.ajax({
            url: "/Home/data_car_highlights",
            success: function (data) {
                data.data.map(function (car, count) {
                    if (count < 12) {
                        var model = car.card_model == '-' ? "" : car.card_model;
                        var car = '<div class="col-sm-3" style="padding:10px">' +
                            '<img src="' + car.carp_frontimg + '" class="hilightWeek" />' +
                            '<a href="/Home/carauctiondetail/?ID=' + car.high_carid + '" target="_blank" class="btn btn-warning btn-block"><div class="text-car-hide"><i class="fa fa-eye"> ' + car.view + '</i> ' + car.card_brand + ' ' + model + '</div> <a/>' +
                            '</div>';
                        $("#car-highlights").append(car);
                    }
                });
            }
        });
    }
    function calendars() {
        $.ajax({
            url: "/Home/data_calender",
            success: function (data) {
                var a = 0;
                var b = 0;
                var c = 0;
                var count = 1;
                var day_chk = "";
                data.map(function (calender, count_c) {
                    var DT = new Date(parseInt(calender.date.substr(6)));
                    var Datenow = new Date();
                    if (DT.getMonth() == Datenow.getMonth() || DT.getMonth() > Datenow.getMonth()) {
                        var day = 0;

                        if (DT.getDate() <= 9 && DT.getMonth() < 9) {
                            day = '0' + DT.getDate() + "/0" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else if (DT.getMonth() < 9) {
                            day = DT.getDate() + "/0" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else if (DT.getDate() <= 9) {
                            day = '0' + DT.getDate() + "/" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else {
                            day = DT.getDate() + "/" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        }

                        if (calender.status == 3) {
                            a++;

                            $("#calender-auction").append('<li class="list-group-item">' + calender.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '<a href="#" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>');
                            if (count_c != 0) {
                                if (day_chk == day) {
                                    count++;

                                    var con = '<li class="list-group-item">' + count + '. ' + calender.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '&nbsp;&nbsp;&nbsp;<a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                                    $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                                } else {
                                    count = 1;
                                    var head = '<div id="' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '">' +
                                        '<h5>รายการประมูลประจำวันที่ ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</h5>' +
                                        '<hr>' +
                                        '<ol class="list-group auctionList" id="content' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '"></ol>' +
                                        '</div>';
                                    $("#calender-detail").append(head)

                                    var con = '<li class="list-group-item">' + count + '. ' + calender.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '&nbsp;&nbsp;&nbsp;<a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                                    $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                                }
                            }
                            else {
                                var head = '<div id="' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '">' +
                                    '<h5>รายการประมูลประจำวันที่ ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</h5>' +
                                    '<hr>' +
                                    '<ol class="list-group auctionList" id="content' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '"></ol>' +
                                    '</div>';
                                $("#calender-detail").append(head)

                                var con = '<li class="list-group-item">' + count + '. ' + calender.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '&nbsp;&nbsp;&nbsp;<a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                                $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                            }
                            auctionDates[day] = count + ' รายการ';
                            day_chk = day;
                            //console.log("auctionDates 3 : " + day);
                        } else if (calender.status == 2) {
                            b++;
                            $("#calender-event").append('<li class="list-group-item"><span class="badge badge-dark small font-weight-light">' + DT.getDate() + ' ' + monthNamesThai[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</span> ' + calender.topic + '</li>');
                            activityDates[day] = calender.topic;
                            //console.log("activityDates 2 : " + day);
                        } else if (calender.status == 1) {
                            c++;
                            $("#calender-dayoff").append('<li class="list-group-item"><span class="badge badge-dark small font-weight-light">' + DT.getDate() + ' ' + monthNamesThai[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</span> ' + calender.topic + '</li>');
                            holidayDates[day] = calender.topic;
                            //console.log("holidayDates 1 : " + day);
                        }
                    }
                });

                //$("#num-auction").html(a + ' รายการ');
                $("#num-event").html(b + ' รายการ');
                $("#num-dayoff").html(c + ' รายการ');

                //function pad(str, max) {
                //    str = str.toString();
                //    return str.length < max ? pad("0" + str, max) : str;
                //}
                //$('#calendar').datepicker({
                //    inline: true
                //    , firstDay: 0
                //    , showOtherMonths: true
                //    , dayNamesMin: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส']
                //    , monthNames: ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"]
                //    , monthNamesShort: ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."]
                //    , beforeShow: addCustomH
                //    , onChangeMonthYear: addCustomH
                //    , onSelect: function (dateString) {

                //        //console.log(dateString);

                //        if (links[dateString]) {
                //            //document.location.href = links[dateString];
                //            addCustomH();
                //        }
                //        else {
                //            /*setTimeout(function () {
                //             var uisdw = $('.ui-state-default').outerWidth() / 1.5;
                //             $('.ui-state-default').css("line-height", uisdw + "px");
                //             $(".ui-state-default").tooltip();
                //            }, 0)*/
                //            addCustomH();
                //        }
                //    }
                //    , beforeShowDay: function (date) {
                //        var Datenow = new Date();
                //        var day = date.getDate();
                //        var month = date.getMonth() + 1;
                //        var year = date.getFullYear();
                //        var dateString = pad(day, 2) + '/' + pad(month, 2) + '/' + year;

                //        if (dateString in holidayDates) {
                //            return [true, 'holiday', holidayDates[dateString]];
                //        }
                //        else if (dateString in activityDates) {
                //            return [true, 'activity', activityDates[dateString]];
                //        }
                //        else if (dateString in auctionDates && day >= Datenow.getDate()) {
                //            return [true, 'auction', auctionDates[dateString]];
                //        }
                //        else {
                //            return [true, '', ''];
                //        }
                //    }
                //});
                //addCustomH();

                //function addCustomH() {
                //    setTimeout(function () {
                //        var uisdw = $('.ui-state-default').outerWidth() / 1.5;
                //        $('.ui-state-default').css("line-height", uisdw + "px");
                //        $(".ui-state-default").tooltip();
                //        $('.auction .ui-state-default').tooltip('disable')
                //        $(".auction").each(function (index) {
                //            $(this).find('a').addClass('fancybox');
                //            $(this).find('a').append('<p>' + $(this).attr('title') + '</p>');
                //            $(this).find('a').attr("href", '#' + $(this).find('a').clone().children().remove().end().text() + $(this).attr('data-month') + $(this).attr('data-year'));
                //        });
                //        $(".auction a.fancybox").fancybox({
                //            touch: false,
                //            afterClose: function () {
                //                location.reload(true);
                //            }
                //        });
                //    }, 0)
                //}
            }
        });
    }
    function auction() {
        $.ajax({
            url: "/Home/data_auction",
            success: function (data) {
                //3 2 3 2 3

                data.map(function (auction, count) {
                    var DT = new Date(auction.auct_auctiondate);
                    var au = '<div style="font-size:12px">' + auction.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesThai[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + ' เวลา ' + auction.auct_time +'</div>';
                    $("#content-" + auction.auct_auctionid).append(au);
                });


                var a = 0;
                var b = 0;
                var c = 0;
                var count = 1;
                var day_chk = "";

                function SortByName(a, b) {
                    var aName = a.auct_auctiondate;
                    var bName = b.auct_auctiondate;
                    return ((aName < bName) ? 0 : ((aName > bName) ? 1 : -1));
                }

                data.sort(SortByName);

                data.map(function (calender, count_c) {
                    var DT = new Date(calender.auct_auctiondate);
                    var Datenow = new Date();

                    if (DT.getMonth() == Datenow.getMonth() || DT.getMonth() > Datenow.getMonth()) {
                        var day = 0;
                        a++;

                        if (DT.getDate() <= 9 && DT.getMonth() < 9) {
                            day = '0' + DT.getDate() + "/0" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else if (DT.getMonth() < 9) {
                            day = DT.getDate() + "/0" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else if (DT.getDate() <= 9) {
                            day = '0' + DT.getDate() + "/" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        } else {
                            day = DT.getDate() + "/" + (DT.getMonth() + 1) + "/" + (DT.getFullYear() + 543);
                        }

                        if (count_c < 6) {
                            $("#calender-auction").append('<li class="list-group-item">' + calender.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + ' เวลา ' + calender.auct_time + ' น.<a href="/Home/carauction/?card_brand_model=&caryear=&cartype=&auli_auctionid=' + calender.auct_auctionid + '" target="_blank" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>');
                        }
                        if (day_chk == day) {
                            count++;

                            var con = '<li class="list-group-item">' + count + '. ' + calender.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + ' เวลา ' + calender.auct_time + ' น.&nbsp;&nbsp;&nbsp;<a href="/Home/carauction/?card_brand_model=&caryear=&cartype=&auli_auctionid=' + calender.auct_auctionid + '" target="_blank" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                            $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                        } else {
                            count = 1;
                            var head = '<div id="' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '">' +
                                '<h5>รายการประมูลประจำวันที่ ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</h5>' +
                                '<hr>' +
                                '<ol class="list-group auctionList" id="content' + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543) + '"></ol>' +
                                '</div>';
                            $("#calender-detail").append(head)

                            var con = '<li class="list-group-item">' + count + '. ' + calender.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + ' เวลา ' + calender.auct_time + ' น.&nbsp;&nbsp;&nbsp;<a href="/Home/carauction/?card_brand_model=&caryear=&cartype=&auli_auctionid=' + calender.auct_auctionid + '" target="_blank" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                            $("#content" + DT.getDate() + DT.getMonth() + (DT.getFullYear() + 543)).append(con);
                        }
                        //else {
                        //    var head = '<div id="' + DT.getDate() + DT.getMonth() + DT.getFullYear() + '">' +
                        //        '<h5>รายการประมูลประจำวันที่ ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + DT.getFullYear() + '</h5>' +
                        //        '<hr>' +
                        //        '<ol class="list-group auctionList" id="content' + DT.getDate() + DT.getMonth() + DT.getFullYear() + '"></ol>' +
                        //        '</div>';
                        //    $("#calender-detail").append(head)

                        //    var con = '<li class="list-group-item">' + count + '. ' + calender.auct_nameth + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesTHAI[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '&nbsp;&nbsp;&nbsp;<a href="" class="btn btn-dark btn-sm float-right rounded-0">ดูข้อมูล</a></li>';
                        //    $("#content" + DT.getDate() + DT.getMonth() + DT.getFullYear()).append(con);
                        //}
                        auctionDates[day] = count + ' รายการ';
                        day_chk = day;
                    }
                });
                $("#num-auction").html(a + ' รายการ');


                function pad(str, max) {
                    str = str.toString();
                    return str.length < max ? pad("0" + str, max) : str;
                }

                $('#calendar').datepicker({
                    inline: true
                    , firstDay: 0
                    , showOtherMonths: true
                    , dayNamesMin: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส']
                    , monthNames: ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"]
                    , monthNamesShort: ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."]
                    , beforeShow: addCustomH
                    , onChangeMonthYear: addCustomH
                    , onSelect: function (dateString) {
                        console.log(dateString);
                        addCustomH();

                        //if (links[dateString]) {
                        //    //document.location.href = links[dateString];
                        //    addCustomH();
                        //}
                        //else {
                        //    /*setTimeout(function () {
                        //     var uisdw = $('.ui-state-default').outerWidth() / 1.5;
                        //     $('.ui-state-default').css("line-height", uisdw + "px");
                        //     $(".ui-state-default").tooltip();
                        //    }, 0)*/
                        //    addCustomH();
                        //}
                    }
                    , beforeShowDay: function (date) {
                        var Datenow = new Date();
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        var dateString = pad(day, 2) + '/' + pad(month, 2) + '/' + (year + 543);

                        if (dateString in holidayDates) {
                            return [true, 'holiday', holidayDates[dateString]];
                        }
                        else if (dateString in activityDates) {
                            return [true, 'activity', activityDates[dateString]];
                        }
                        //else if (dateString in auctionDates && day >= Datenow.getDate()) {
                        else if (dateString in auctionDates) {
                            return [true, 'auction', auctionDates[dateString]];
                        }
                        else {
                            return [true, '', ''];
                        }
                    }
                });
                addCustomH();

                
            }
        });
    }
    function CarType() {
        $.ajax({
            url: "/Home/GetCarTypeAPI",
            success: function (data) {
                data.data.map(function (data) {
                    if (data.loup_status == "Active") {
                        $("#inputPassword5").append('<option values="' + data.loup_lookupid + '">' + data.loup_nameth + '</option>');
                    }
                });
            }
        });
    }
    function CarYear() {
        $("#caryear").html("");
        $.ajax({
            url: "/Home/GetCarYearAPI",
            success: function (data) {
                var json = JSON.parse(data);
                $("#caryear").append('<option selected>ปีรถ</option>');
                json.data.map(function (data) {
                    $("#caryear").append('<option values="' + data.CarYear + '">' + data.CarYear + '</option>');
                });
            }
        });
    }

    $(".btn-search").click(function (e) {
        var card_brand_model = $("[name='card_brand_model']").val();
        var caryear = $("[name='caryear']").val();
        var cartype = $("[name='cartype']").val();
        url = "/Home/carauction/?card_brand_model=" + card_brand_model + "&caryear=" + caryear + "&cartype=" + cartype;
        window.open(url, '_blank');
    });

    function selectGroup(auli_auctionid) {
        url = "/Home/carauction/?auli_auctionid=" + auli_auctionid;
        window.open(url, '_blank');
    }
</script>


