﻿<!doctype html>
<html lang="th">
<head>
    <title>SAHA CRANE Auction - News</title>
    @{
        Html.RenderPartial("~/Views/Home/inc_header.cshtml");
    }
</head>
<body>

    @{
        Html.RenderPartial("~/Views/Home/inc_navbar.cshtml");
    }
    <div class="bg-deepGray">
        <div class="container-fluid pb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/index"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">ข่าวสาร</li>
                </ol>
            </nav>
            <h2 class="text-center text-white pb-5">ข่าวสาร</h2>
        </div>
    </div>
    <div class="bg-lightGgray">
        <div class="container py-5" id="bg-news">
            @*<div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Template_saha/images/news-cover/news-img-cover-sample.jpg" class="card-img" alt="..." style="position:relative">
                            <div class="label-date">
                                <div class="label-day">26</div>
                                <div class="label-month">ก.พ.</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ภาพบรรยากาศ งานประมูลรถยนต์ และ รถจักรยานยนต์ นัดพิเศษ วันอาทิตย์ที่ 26 ก.พ. 2560</h5>
                                <p class="card-text"><a href="/Home/news_inside">อ่านเพิ่มเติม >></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Template_saha/images/news-cover/news-img-cover-sample.jpg" class="card-img" alt="..." style="position:relative">
                            <div class="label-date">
                                <div class="label-day">26</div>
                                <div class="label-month">ก.พ.</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ภาพบรรยากาศ งานประมูลรถยนต์ และ รถจักรยานยนต์ นัดพิเศษ วันอาทิตย์ที่ 26 ก.พ. 2560</h5>
                                <p class="card-text"><a href="/Home/news-inside">อ่านเพิ่มเติม >></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Template_saha/images/news-cover/news-img-cover-sample.jpg" class="card-img" alt="..." style="position:relative">
                            <div class="label-date">
                                <div class="label-day">26</div>
                                <div class="label-month">ก.พ.</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ภาพบรรยากาศ งานประมูลรถยนต์ และ รถจักรยานยนต์ นัดพิเศษ วันอาทิตย์ที่ 26 ก.พ. 2560</h5>
                                <p class="card-text"><a href="/Home/news-inside">อ่านเพิ่มเติม >></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Template_saha/images/news-cover/news-img-cover-sample.jpg" class="card-img" alt="..." style="position:relative">
                            <div class="label-date">
                                <div class="label-day">26</div>
                                <div class="label-month">ก.พ.</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ภาพบรรยากาศ งานประมูลรถยนต์ และ รถจักรยานยนต์ นัดพิเศษ วันอาทิตย์ที่ 26 ก.พ. 2560</h5>
                                <p class="card-text"><a href="/Home/news-inside">อ่านเพิ่มเติม >></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Template_saha/images/news-cover/news-img-cover-sample.jpg" class="card-img" alt="..." style="position:relative">
                            <div class="label-date">
                                <div class="label-day">26</div>
                                <div class="label-month">ก.พ.</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ภาพบรรยากาศ งานประมูลรถยนต์ และ รถจักรยานยนต์ นัดพิเศษ วันอาทิตย์ที่ 26 ก.พ. 2560</h5>
                                <p class="card-text"><a href="/Home/news-inside">อ่านเพิ่มเติม >></a></p>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Home/inc_footer.cshtml");
    }

    <script>
        $('.nav-item.navbar-link').eq(5).addClass('active');
    </script>
</body>
</html>
<script>
    $(document).ready(function () {
        news();
    });

    function news() {
        $.ajax({
            url: "/Home/data_news",
            success: function (data) {
                data.map(function (news) {
                    var DT = new Date(parseInt(news.date.substr(6)));
                    var topic = '<div class="card mb-3">' +
                        '<div class="row no-gutters">' +
                        '    <div class="col-md-4">' +
                        '        <img src="' + news.path + '" class="card-img" alt="..." style="position:relative">' +
                        '        <div class="label-date">' +
                        '            <div class="label-day">' + DT.getDate() + '</div>' +
                        '            <div class="label-month">' + monthNamesThai[DT.getMonth()] + '</div>' +
                        '        </div>' +
                        '    </div>' +
                        '    <div class="col-md-8">' +
                        '        <div class="card-body">' +
                        '            <h5 class="card-title">' + news.topic + ' วัน' + dayNames[DT.getDay()] + ' ' + DT.getDate() + ' ' + monthNamesThai[DT.getMonth()] + ' ' + (DT.getFullYear() + 543) + '</h5>' +
                        '            <p class="card-text"><a href="/Home/news_inside?' + news.id + '">อ่านเพิ่มเติม >></a></p>' +
                        '</div></div></div></div>';

                    $("#bg-news").append(topic);
                });

                var footer = '<nav aria-label="Page navigation example">' +
                    '<ul class="pagination justify-content-end">' +
                    '    <li class="page-item disabled">' +
                    '        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>' +
                    '    </li>' +
                    '    <li class="page-item active"><a class="page-link" href="#">1</a></li>' +
                    '    <li class="page-item"><a class="page-link" href="#">2</a></li>' +
                    '    <li class="page-item"><a class="page-link" href="#">3</a></li>' +
                    '    <li class="page-item">' +
                    '        <a class="page-link" href="#">Next</a>' +
                    '    </li>' +
                    '</ul>' +
                    '</nav>';
                $("#bg-news").append(footer);
            }
        });
    }
</script>