﻿<!doctype html>
<html lang="th">
<head>
    <title>SAHA CRANE Auction - Search</title>
    @{
        Html.RenderPartial("~/Views/Home/inc_header.cshtml");
    }
</head>
<body>

    @{
        Html.RenderPartial("~/Views/Home/inc_navbar.cshtml");
    }
    <div class="bg-deepGray">
        <div class="container-fluid pb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/index"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">ค้นหาเล่มทะเบียน</li>
                </ol>
            </nav>
            <h2 class="text-center text-white pb-5">ค้นหาเล่มทะเบียน</h2>
        </div>
    </div>
    <div class="bg-light">
        <div class="container py-5 text-center">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card bg-gray shadow">
                        <div class="card-body">
                            <h2 class="font-weight-light text-white">ค้นหา<b class="text-warning">เล่มทะเบียนรถ</b></h2>
                            <p class="text-white">กรุณาพิมพ์เลขทะเบียนรถที่ต้องการค้นหา</p>
                            <form id="search" method="post">
                                <input type="text" class="form-control" name="text">
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-warning rounded-0 mt-3">เริ่มค้นหา</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light">
        <div class="container py-5 text-center">
            <div class="table-responsive resultSearch" hidden>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr class="bg-warning">
                            <th style="min-width:50px;">No.</th>
                            <th style="min-width:100px;">ทะเบียน</th>
                            <th style="min-width:115px;">จังหวัด</th>
                            <th style="min-width:100px;">วันที่ประมูล</th>
                            <th style="min-width:60px;">ลำดับ</th>
                            <th style="min-width:100px;">ยี่ห้อรถ</th>
                            <th style="min-width:200px;">รุ่น</th>
                            <th style="min-width:100px;">สถานที่ประมูล</th>
                            <th style="min-width:150px;">สถานะเล่มทะเบียน</th>
                        </tr>
                    </thead>
                    <tbody id="table-card">
                        @*<tr>
                                <td data-label="No.">1</td>
                                <td data-label="ทะเบียน">ยข-1231</td>
                                <td data-label="จังหวัด">นครราชสีมา</td>
                                <td data-label="วันที่ประมูล">06-01-2020</td>
                                <td data-label="ลำดับ">C68</td>
                                <td data-label="ยี่ห้อรถ">TOYOTA</td>
                                <td data-label="รุ่น">HILUX VIGO CAB</td>
                                <td data-label="สถานที่ประมูล">นครราชสีมา</td>
                                <td data-label="สถานะเล่มทะเบียน">รอเล่มทะเบียน</td>
                            </tr>
                            <tr>
                                <td data-label="No.">2</td>
                                <td data-label="ทะเบียน">กจ-8123</td>
                                <td data-label="จังหวัด">ชัยนาท</td>
                                <td data-label="วันที่ประมูล">28-12-2019</td>
                                <td data-label="ลำดับ">3-5</td>
                                <td data-label="ยี่ห้อรถ">TOYOTA</td>
                                <td data-label="รุ่น">VIOS</td>
                                <td data-label="สถานที่ประมูล">กรุงเทพฯ</td>
                                <td data-label="สถานะเล่มทะเบียน">รับได้ 07-01-2020</td>
                            </tr>
                            <tr>
                                <td data-label="No.">3</td>
                                <td data-label="ทะเบียน">7กว-1232</td>
                                <td data-label="จังหวัด">กรุงเทพมหานคร</td>
                                <td data-label="วันที่ประมูล">05-01-2020</td>
                                <td data-label="ลำดับ">2-57	</td>
                                <td data-label="ยี่ห้อรถ">YAMAHA</td>
                                <td data-label="รุ่น">N-Max</td>
                                <td data-label="สถานที่ประมูล">สาขารังสิต</td>
                                <td data-label="สถานะเล่มทะเบียน">รอเล่มทะเบียน</td>
                            </tr>
                            <tr>
                                <td data-label="No.">4</td>
                                <td data-label="ทะเบียน">กบ-1239</td>
                                <td data-label="จังหวัด">กาญจนบุรี</td>
                                <td data-label="วันที่ประมูล">27-09-2019</td>
                                <td data-label="ลำดับ">C97	</td>
                                <td data-label="ยี่ห้อรถ">HONDA</td>
                                <td data-label="รุ่น">JAZZ</td>
                                <td data-label="สถานที่ประมูล">ราชบุรี</td>
                                <td data-label="สถานะเล่มทะเบียน">รับได้ 12-10-2019</td>
                            </tr>
                            <tr>
                                <td data-label="No.">5</td>
                                <td data-label="ทะเบียน">บพ-5123</td>
                                <td data-label="จังหวัด">กำแพงเพชร</td>
                                <td data-label="วันที่ประมูล">25-09-2019</td>
                                <td data-label="ลำดับ">C5</td>
                                <td data-label="ยี่ห้อรถ">TOYOTA</td>
                                <td data-label="รุ่น">VIGO SMART CAB</td>
                                <td data-label="สถานที่ประมูล">พิษณุโลก</td>
                                <td data-label="สถานะเล่มทะเบียน">รอเล่มทะเบียน</td>
                            </tr>*@

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @{
        Html.RenderPartial("~/Views/Home/inc_footer.cshtml");
    }

    <script>
        $('.nav-item.navbar-link').eq(2).addClass('active');

        $("#search").submit(function (e) {
            e.preventDefault();
            swal({
                title: "กำลังโหลดข้อมูล...",
                icon: "warning",
                button: false,
                closeOnClickOutside: false,
            });

            $("#table-card").html('');
            $.ajax({
                type: "POST",
                caches: false,
                processData: false,
                contentType: false,
                url: '/Home/Searchcard_license',
                data: new FormData(this),
                success: function (data) {
                    swal({
                        closeOnClickOutside: true,
                        button: false,
                        timer: 100
                    });
                    var json = JSON.parse(data);
                    if (json.data.length == 0) {
                        $(".resultSearch").attr('hidden', 'hidden');
                    } else {
                        $(".resultSearch").removeAttr('hidden');
                    }
                    json.data.map(function (data, count) {
                        count++;
                        var DT = new Date(data.auct_auctiondate);
                        var text = '<tr>' +
                            '<td data-label="No.">' + count + '</td>' +
                            '<td data-label="ทะเบียน">' + data.card_license + '</td>' +
                            '<td data-label="จังหวัด">' + data.card_province + '</td>' +
                            '<td data-label="วันที่ประมูล">' + DT.getDay() + '-' + DT.getMonth() + '-' + (DT.getFullYear() + 543) + '</td>' +
                            '<td data-label="ลำดับ">' + data.lali_no + '</td>' +
                            '<td data-label="ยี่ห้อรถ">' + data.card_brand + '</td>' +
                            '<td data-label="รุ่น">' + data.card_model + '</td>' +
                            '<td data-label="สถานที่ประมูล">' + data.auct_site + '</td>' +
                            '<td data-label="สถานะเล่มทะเบียน">' + data.cdli_bookstatus + '</td>' +
                            '</tr>';
                        $("#table-card").append(text);
                    });
                }

            })
        })
    </script>
</body>
</html>    